{% extends "base_andrologia.html" %}

{% block title %}Lista de examenes{% endblock %}
{% load staticfiles %}

{% block content %}  
    <div  class= "row verde">
        <div  class="col-md-4 col-md-offset-8">
            <h3 class="blanco" >Lista De Examenes Realizados</h3>
        </div>
    </div>
    <br/>
    <br/>	
      
    <!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
    <!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
  

<div class="container-fluid">
    <table id="lista" data-toggle="table">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Tipo examen</th>
                <th>Fecha de creación</th>
                <th>Estado informe</th>
                <th>Opciones</th>
            </tr>
        </thead>
         <tfoot>
            <tr>
               <th>Paciente</th>
                <th>Tipo examen</th>
                <th>Fecha de creación</th>
                <th>Estado informe</th> 
                <th>Opciones</th>
                
            </tr>
        </tfoot>
        <tbody>
         {% for i in examen %}
            
         {% if i.espermiograma_set.all or i.separacion_set.all or i.separacion_o_set.all or i.inseminacion_set.all %}   
            <tr  >


                <td>{{i.Paciente.Nombres}} {{i.Paciente.Primer_apellido}} {{i.Paciente.Segundo_apellido}}</td>
                <td>{{i.get_Tipo_display}}</td>
                <td>{{i.Fecha}}</td>
                <td style="text-align: center">
                    
                    {% if i.Est_informe = 'i' %}
                        <font color = "red"><i title= "Informe incompleto"color="red" class="fa fa-file-o" aria-hidden="true"></i>
</font>
                    {% elif i.Est_informe = 'c' %}
                        <font color = "green"><i title= "Informe completo" color="green" class="fa fa-file-text-o" aria-hidden="true"></i>
</font>
                    {% endif%}

                    {% if i.Tipo = 'es'%}
                        {% if i.espermiograma_set.all.0.diagnostico_esp_set.all.0 %}
                            - <font color = "green"><i title="Posee diagnóstico" class="fa fa-stethoscope" aria-hidden="true"></i>
                        </font>
        
                        {% endif%}

                    {% elif i.Tipo = 'se'%}
                        {% if i.separacion_set.all.0.diagnostico_se_set.all.0 %}
                            - <font color = "green"><i title="Posee diagnóstico" class="fa fa-stethoscope" aria-hidden="true"></i>
                        </font>
                        {% endif%}

                    {% elif i.Tipo = 'so'%}
                        {% if i.separacion_o_set.all.0.diagnostico_so_set.all.0 %}
                            - <font color = "green"><i title="Posee diagnóstico" class="fa fa-stethoscope" aria-hidden="true"></i>
                        </font>
                        
                        {% endif%}

                    {% elif i.Tipo = 'iiu'%}
                        {% if i.inseminacion_set.all.0.diagnostico_iiu_set.all.0 %}
                            - <font color = "green"><i title="Posee diagnóstico" class="fa fa-stethoscope" aria-hidden="true"></i>
                        </font>
                        {% endif%}

                    {% endif%}


                </td>
                <td style="text-align: center">
                    {% if i.Tipo = 'es'%}
                        <a title="Ver detalles informe" href="" onclick="return popitup('{% url "detalle_espermio" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a>  
                        
                        / <a href="{% url "editar_espermio" i.espermiograma_set.all.0.id %}" title= "Editar informe"> <i class="fa fa-pencil" aria-hidden="true"></i></a> 
                        {% if i.Est_informe = 'c' %}
                            / <a href="{% url "informe_espermiograma" i.espermiograma_set.all.0.id %}" title= "Descargar informe"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        {% endif %}
                    {% elif i.Tipo = 'se'%}
                        <a title="Ver detalles informe" href="" onclick="return popitup('{% url "detalle_separacion" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a> 

                        / <a href="{% url "editar_separacion" i.separacion_set.all.0.id %}" title= "Editar informe"> <i class="fa fa-pencil" aria-hidden="true"></i></a> 
                        {% if i.Est_informe = 'c' %}
                            / <a href="{% url "informe_separacion" i.separacion_set.all.0.id %}" title= "Descargar informe"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        {% endif %}
                    {% elif i.Tipo = 'so'%}
                        <a title="Ver detalles informe" href="" onclick="return popitup('{% url "detalle_separacion_o" i.id %}' )"><i class="fa fa-eye" aria-hidden="true"></i></a> 

                        / <a href="{% url "editar_separacion_o" i.separacion_o_set.all.0.id %}" title= "Editar informe"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                        {% if i.Est_informe = 'c' %}
                            / <a href="{% url "informe_separacion_o" i.separacion_o_set.all.0.id %}" title= "Descargar informe"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        {% endif %}
                    {% elif i.Tipo = 'iiu'%}
                        <a title="Ver detalles informe" href="" onclick="return popitup('{% url "detalle_inseminacion" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a> /
                        <a href="{% url "editar_inseminacion" i.inseminacion_set.all.0.id %}" title= "Editar informe"> <i class="fa fa-pencil" aria-hidden="true"></i> </a>
                        {% if i.Est_informe = 'c' %}
                            / <a href="{% url "informe_inseminacion" i.inseminacion_set.all.0.id %}" title= "Descargar informe"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        {% endif %}
                    {% endif%}
                    
                     

                       
                </td>        
            
    
            </tr>
          {% endif%}
          {% endfor %}
        </tbody>
    </table>
</div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#lista').DataTable();
           
        });

    </script>

 

     

{% endblock %}