<!-- Herencia -->
{% extends "base_registro.html" %}
<!-- Bloque de título -->
{% block title %}Selección cuenta{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}
<br/>

<div  class= "row verde">
	<div  class="col-md-5 col-md-offset-7">
		<h2 class="blanco" ><b>Seleccione el tipo de usuario</b></h2>
	</div>
</div>
<br/>
<br/>
    <div class= container>
    	
    	<li><a href="{% url "home_secretaria"  %}">Secretaría</a></li>
    	<li><a href="{% url "home_andrologia"  %}">Usuario de Andrología</a></li>
    </div>  

     

{% endblock %}