<!-- Herencia -->
{% extends "base_secretaria.html" %}
<!-- Bloque de título -->
{% block title %}Home secretaria{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}
<div  class= "row verde">
	<div  class="col-md-3 col-md-offset-9">
		<h2 class="blanco" ><b>Home secretaría</b></h2>
	</div>
</div>
	{% if messages %}
	<div class="container-fluid">
	<br/>
		<ul class="messages">
		    {% for msg in messages %}       
		    <li>
		        <div class="alert alert-{{msg.level_tag}}" role="alert">
		 	{{msg.message}}
			</div>
		    </li>
		    {% endfor %}
		</ul>
	</div>
	{% endif %}
    
<br/>
<br/>
<div class= container style="text-align: center">
		<img id="pmi" alt="Brand" src= "{% static "img/cdrh.jpg" %}"   >
		<h1>Estamos en construcción</h1>
</div>

     

{% endblock %}