<!-- La template "base.html", es la estructura básica de los template del sistema. Ya que esta será heredadá a todos los templates del sistema  -->
{% load staticfiles %}
<html>
  <head>
    <!-- Archivos de carpeta static -->
    <!-- Jquery necesario para utilizar componentes Bootstrap -->
    <script type="text/javascript" src="{% static "frameworks/jquery-1.12.3.min.js" %}"></script>
    <!-- Css particular, generado para los estilos propios a los desarrolladores del proyecto -->
    <link rel="stylesheet" type="text/css" href="{% static "css/CDRH.css" %}">
    <!-- Css Framework Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "frameworks/bootstrap-3.3.6-dist/css/bootstrap.css" %}">
    <!-- Css Framework Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "frameworks/bootstrap-3.3.6-dist/css/bootstrap-theme.css" %}">
    <!-- Modulo de iconos font awesome -->
    <link rel="stylesheet" type="text/css" href="{% static "awesome/css/font-awesome.min.css" %}">
    <!-- JavaScript Framework Bootstrap -->
    <script type="text/javascript" src="{% static "frameworks/bootstrap-3.3.6-dist/js/bootstrap.js" %}"></script>
    <!-- Css para componente Datatables -->
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.css" %}">
    <!-- JavaScript para componente Datatables -->
    <script type="text/javascript" charset="utf8" src="{% static "js/jquery.dataTables.js" %}"></script>
    <!-- JavaScript para componente Pestanas, contiene interacción del cambio de pestaña en la misma tempolate -->
    <script type="text/javascript" charset="utf8" src="{% static "js/pestana.js" %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static "js/popup.js" %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static "js/rut.js" %}"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>   
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
    <!-- Llama al bloque de titulo en cada template -->
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>

<!-- Se utiliza un Menu Bootstrap http://getbootstrap.com/components/#navbar -->
<!-- Menu para el area de andrología -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img id="logo" alt="Brand" src= "{% static "img/cdrh.jpg" %}" height="35" width="35" ></a>
    </div>
    <!-- Pestañas del menu -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url "registro.views.home_secretaria" %}">Home Secretaria <span class="sr-only">(current)</span></a></li>
       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nueva<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url "paciente.views.crear_paciente" %}">Paciente</a></li>
            <li><a href="{% url "hora.views.crear_hora" %}">Hora</a></li>
          </ul>

        </li>
        <li><a href="{% url "paciente.views.listar_paciente" %}">Ver pacientes</a></li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
      </form>
      </ul>-->
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <!-- Bloque de contenido que se hereda a las templates, Body-->

  {% block content %}
  {% endblock %}
    
    

  {% block footer %}
    <hr>
    <div class="col-md-12 btn">  
      <img id="pmi" alt="Brand" src= "{% static "img/mineduc.jpg" %}" height="75" width="75" >
      <img id="pmi" alt="Brand" src= "{% static "img/pmi.png" %}"  height="115" >
      <img id="pmi" alt="Brand" src= "{% static "img/uv.png" %}"  height="65" >  
    </div>
  {% endblock %}
  
  </body>
</html>