{% extends "base.html" %}
{% load static %}
{% block title %}Lista de espermiograma{% endblock %}
{% block content %}
    <div class= container>
    <div class= row>
     {% for i in espermio %}
        <tr>
            <td>{{i.get_Color_display}}</td>

        </tr>
    </div>    
    </div>  
     {% endfor %}

{% endblock %}