<!-- Herencia -->
{% extends "base_andrologia.html" %}
<!-- Bloque de título -->
{% block title %}Editar espermiograma{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->


{% block content %}

<!-- Formulario se valida en forms.py/espermio_form -->
<!--Formulario espermiograma, cada pestaña contiene una parte del exanen-->	
					<div  class= "row verde">
						<div  class="col-md-4 col-md-offset-8">
						<h2 class="blanco" ><b>Editar espermiograma</b></h2>
						</div>
					</div>
					
					<br/>
	<form  action="." method="POST">{% csrf_token %}
		<div class= "container-fluid" >
			
				<div class="col-md-12 container-fluid">
					<ul class="nav nav-tabs">
				  		<li role="presentation" class="active"><a href="#macroscopico" data-toggle="tab">1. Examen macroscópico</a></li>
				  		<li role="presentation"><a href="#microscopico" data-toggle="tab">2. Examen microscópico</a></li>
				  		<li role="presentation"><a href="#motilidad-morfologia" data-toggle="tab">3. Motilidad y 4. Morfología</a></li>
				  		
					</ul>
				</div>	

			 	<div class="tab-content container-fluid ">
			 		<div class="row container-fluid">
			 		<br/>
			 		<br/>
						<hr/>
							<h3><i class="fa fa-user fa-lg" aria-hidden="true"></i>   &nbsp;&nbsp;    {{espermio.Info_examen.Paciente.Nombres}} {{espermio.Info_examen.Paciente.Primer_apellido}} {{espermio.Info_examen.Paciente.Segundo_apellido}} </h3>
						<hr/> 
					</div>
					{{form.errors}}
			 				 		<div id="macroscopico" class="tab-pane fade in active container container-fluid">
							<br/>
							<!--Fila: Valor por referencia -->	
							<div  class= "row container-fluid">
								<div id="cpestana1" class="form-inline">
					 				<div id="cpestana1" class="container-fluid col-md-5 ">	
									</div>
									<div id="cpestana1" class="container-fluid col-md-1 cgrey" >
										<label>Valor ref.</label>
									</div>
					 				<div class="container-fluid col-md-5 btn">	
									</div>
									<div class="container-fluid col-md-1 cgrey" >
										<label>Valor ref.</label>
									</div>
					 			</div>
		 					</div>	
					 		<!-- Valor de capor: tiempo de licuefacción y ph -->	
							<div class= "row amensaje container-fluid">
								<div class="form-inline amensaje">
					 				
					 				<div class="container-fluid col-md-2 btn" style="text-align: right">
										<label>Tiempo licuefacción </label> 
									</div>
									<div class="container-fluid col-md-3 btn" style="text-align: left">
										{{form.Tiempo_licu}} <i>min</i>
									</div>
								
									<div class="container-fluid col-md-1 cgrey" >
									</div>
					 			
					 					<div class="container-fluid col-md-2 btn alabel " style="text-align: right">
											<label>PH</label>
										</div>
										<div class="container-fluid col-md-3 btn" style="text-align: left" >
												{% if form.PH.value  != " " and form.PH.value  != None %}
												<input id="ph" type="text"  maxlength="3" size="5" name="PH"  value="{{ form.PH.value }}">
											{% else %}
												<input id="ph" type="text"  maxlength="3" size="5" name="PH"  >
											{% endif %}
										</div>
									
									<div class="container-fluid col-md-1 cgrey" style="text-align: center">
										(> 7,2 )
							   		</div>
					 	    	</div>
							</div>
							<!-- Error de campos: tiempo de licuefacción y ph -->	
							<div class= "row mensaje container-fluid">

									<div class="col-md-5 btn">
										{{form.Tiempo_licu.errors}} 
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.PH.errors}} 
									</div>
					 		
									<div class="col-md-1 cgrey" >
									</div>
							</div>
							<!-- Valor de capos: Volumen y viscosidad -->	
							<div class= "row amensaje container-fluid">
					 	    	<div class="form-inline amensaje">
					 				
					 					<div class="col-md-2 btn" style="text-align: right">
											<label>Volumen</label>
										</div>
										<div class="col-md-3 btn" style="text-align: left">
											{% if form.Volumen.value  != " " and form.Volumen.value  != None %}
												<input id="multiplicando" type="text"  name="Volumen"  value="{{ form.Volumen.value }}" oninput="multiplicar(); multiplicar_tem();"><i>ml</i>
											{% else %}
												<input id="multiplicando" type="text"  name="Volumen"   oninput="multiplicar(); multiplicar_tem();"><i>ml</i>
											{% endif %}
										</div>
									
									<div class="col-md-1 cgrey" style="text-align: center" >
										(> 1,5 ml)
									</div>
					 				
					 					<div class="col-md-2 btn" style="text-align: right">
											<label>Viscosidad</label>
										</div>
										<div class="col-md-3 btn" style="text-align: left">
										{{form.Viscosidad}}
										</div>
									
									<div class="col-md-1 cgrey" >
							   		</div>
					 	    	</div>
					 	    </div>
							<!-- Error de campos: Volumen y viscosidad -->	
							<div class= "container-fluid row mensaje">
								
									<div class="col-md-5 btn">
										{{form.Volumen.errors}} 
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.Viscosidad.errors}} 
									</div>
					 		
									<div class="col-md-1 cgrey" >
									</div> 	
							</div>
							<!-- Valor de capos: Aspectos y Cuerpos gelatinosos -->
							<div class= "container-fluid row amensaje">
					 	    	<div class="form-inline amensaje">
					 		
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Aspecto</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Aspecto}}
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Cuerpos gelatinosos</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Cuerpos_gelatinosos}}
									</div>
									
									<div class="col-md-1 cgrey" >
							   		</div>
					 	    	</div>
					 	    </div>
							<!-- Error de campos: Aspecto y Cuerpos gelatinosos -->	
					 	    <div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										{{form.Aspecto.errors}} 
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.Cuerpos_gelatinosos.errors}} 
									</div>
					 		
									<div class="col-md-1 cgrey" >
									</div>
							</div>
							<!-- Valor de capos: Color y Cuerpos en suspención-->
					 	    <div class= "container-fluid row amensaje">
					 	    	<div class="form-inline amensaje">
					 			
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Color</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Color}}
									</div>
									
									<div class="col-md-1 cgrey" >
									</div>
					 				
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Cuerpos en suspención</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Cuerpos_en_suspen}}
									</div>
								
									<div class="col-md-1 cgrey" >
							   		</div>
					 	    	</div>
							</div>
							<!-- Error de campos: Aspecto y Cuerpos gelatinosos --> 
							<div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										{{form.Color.errors}} 
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.Cuerpos_en_suspen.errors}} 
									</div>
					 		
									<div class="col-md-1 cgrey" >
									</div>
							</div>
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 			
				 				<div class="col-md-2 btn">
									

								</div>
								<div class="col-md-3 btn">
									

								</div>
								
								<div class="col-md-1 cgrey" >
								</div>
				 				
				 				<div class="col-md-2 btn" style="text-align: right">
									<label>Cuerpos mucosos</label>
								</div>
								<div class="col-md-3 btn" style="text-align: left">
									{{form.Cuerpos_mucosos}}
								</div>
							
								<div class="col-md-1 cgrey" >
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Aspecto y Cuerpos gelatinosos --> 
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
								
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Cuerpos_mucosos.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>
				</div>
				<!-- Contenedor: Examen macroscópico -->
				<div id="microscopico" class="container-fluid tab-pane fade container container-fluid">
							<!-- Fila: Título de examen-->
						
							<br/>
							
							<!-- Fila: Valor por referencia-->
							<div class= "container-fluid row amensaje">
								<div class="form-inline">
					 				<div class="col-sm-5 ">	
									</div>
									<div class="col-sm-1 cgrey" >
										<label>Valor ref.</label>
									</div>
					 				<div class="col-sm-5 btn">	
									</div>
									<div class="col-sm-1 cgrey" >
										<label>Valor ref.</label>
									</div>
					 			</div>
					 		</div>
							<!-- Valor de campos: Concentración espermatica y células redondas-->
							<div class= "container-fluid row amensaje">
								<div class="form-inline amensaje">
					 				<div class="col-md-2 btn" style="text-align: right">
										<label><b>Concentración espemática</b></label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{% if form.Concentracion.value  != " " and form.Concentracion.value  != None %}
											<input id="multiplicador" type="text"  name="Concentracion" value="{{ form.Concentracion.value }}" oninput="multiplicar(); multiplicar_tem();"><i>x10⁶/ml</i>
										{% else %}
											<input id="multiplicador" type="text"  name="Concentracion" oninput="multiplicar(); multiplicar_tem();" ><i>x10⁶/ml</i>
										{% endif %}
									</div>
									<div class="col-md-1 cgrey"  style="text-align: center">
										(>15x10⁶/ml)
									</div>
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Células redondas</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Celulas_redondas}}<i>X10⁶/ml</i>
									</div>
									<div class="col-md-1 cgrey" >
										(<1x10⁶/ml)
							   		</div>
					 	    	</div>
					 	    </div>
							<!-- Error de capos: Concentración espermatica y células redondas-->
							<div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										{{form.Concentracion.errors}} 
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.Celulas_redondas.errors}} 
									</div>
					 		
									<div class="col-md-1 cgrey" >
									</div>
							</div>
							<!-- Valor de campos: Recuento total y Detritus-->
					 	    <div class= "container-fluid row amensaje">
					 	    	<div class="form-inline amensaje">
					 				<div class="col-md-2 btn" style="text-align: right">
										<label><b>Recuento total</b></label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
    									{% if form.Total.value  != " " and form.Total.value  != None %}
	    									<input id="resultado"  type="text" name="Total" value="{{ form.Total.value }}" oninput="multiplicar_tem()";><i>x10⁶</i>
	    								{% else %}
											<input id="resultado"  type="text" name="Total"  oninput="multiplicar_tem()";><i>x10⁶</i>
	    								{% endif %}
									</div>
									<div class="col-md-1 cgrey" style="text-align: center">
										(>39x10⁶)
									</div>
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Detritus</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Detritus}}
									</div>
									<div class="col-md-1 cgrey" >
							    	</div>
					 	    	</div>
					 	    </div>
							<!-- Error de campos: Recuento total y Detritus-->
					 	    <div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										{{form.Total.errors}} 
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.Detritus.errors}} 
									</div>
					 		
									<div class="col-md-1 cgrey" >
									</div>
							</div>
							<!-- Valor de campos: Vitalidad y células escamosas-->
					 	    <div class= "container-fluid row amensaje"> 
					 	    	<div class="form-inline amensaje">
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>VITALIDAD</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Vitalidad}}<i>%</i>
									</div>
									<div class="col-md-1 cgrey" style="text-align: center">
										(> 58%)
									</div>
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Células escamosas</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Celulas_escamosas}}
									</div>
									<div class="col-md-1 cgrey" >
							   		</div>
					 	     	</div>
					 	    </div>
							<!-- Error de campos: Vitalidad y células escamosas-->
					 	    <div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										{{form.Vitalidad.errors}} 
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.Celulas_escamosas.errors}} 
									</div>
					 		
									<div class="col-md-1 cgrey" >
									</div>
							</div>
							<!-- Valor de campos: Aglutinación-->
					 	    <div class= "container-fluid row amensaje">
					 	    	<div class="form-inline amnesaje">
					 				<div class="col-md-5 btn">
									
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Aglutinación</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Aglutinacion}}
									</div>
									<div class="col-md-1 cgrey" >
							   		</div>
					 	    	</div>
					 	    </div>
							<!-- Error de campos: Aglutinación-->
					 	    <div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.Aglutinacion.errors}} 
									</div>
					 		
									<div class="col-md-1 cgrey" >
									</div>
							</div>
					 	    <!-- Valor de campos: Pseudoaglutinación-->
							<div class= "container-fluid row amensaje">
					 	    	<div class="form-inline amensaje">
					 				<div class="col-md-5 btn">	
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Pseudoaglutinación</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Pseudoaglutinacion}}
									</div>
									<div class="col-md-1 cgrey" >
							   		</div>
					 	    	</div>
					 	    </div>
							<!-- Valor de campos: Recuento total y Detritus-->
					 	    <div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.Pseudoaglutinacion.errors}} 
									</div>
					 		
									<div class="col-md-1 cgrey" >
									</div>
							</div>
							<!-- Valor de campos: Cristales -->
					 	    <div class= "container-fluid row amensaje">
					 	    	<div class="form-inline amensaje">
					 				<div class="col-md-5 btn">
									
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Cristales</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Cristales}}
									</div>
									<div class="col-md-1 cgrey" >
							   		</div>
					 	    	</div>
					 	    </div>
							<!-- Error de campos: Cristales -->
					 	    <div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.Cristales.errors}} 
									</div>
					 		
									<div class="col-md-1 cgrey" >
									</div>
							</div>
							<!-- Valor de campos: Mucus -->
					 	    <div class= "container-fluid row amensaje">
					 	    	<div class="form-inline amensaje">
					 				<div class="col-md-5 btn">
									
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Mucus</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Mucus}}
									</div>
									<div class="col-md-1 cgrey" >
							   		</div>
					 	    	</div>
					 	    </div>
							<!-- Error de campos: Mucus -->
					 	    <div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.Mucus.errors}} 
									</div>
					 		
									<div class="col-md-1 cgrey" >
									</div>
							</div>
							<!-- Valor de campos: Bacterias -->
					 	    <div class= "container-fluid row amensaje">
					 	    	<div class="form-inline amensaje">
					 				<div class="col-md-5 btn">
									
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Bacterias</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Bacterias}}
									</div>
									<div class="col-md-1 cgrey" >
							  	 </div>
					 	    	</div>
					 	    </div>
							<!-- Error de campos: Bacterias -->
					 	    <div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.Mucus.Bacterias}} 
									</div>
					 		
									<div class="col-md-1 cgrey" >
									</div>
							</div>
				</div>
				<!-- Contenedor: Motilidad y Morfologia-->
				<div id="motilidad-morfologia" class="container-fluid tab-pane fade container container-fluid">
							<!-- Título de examen -->
							
							<br/>
							<!-- Fila: Valor por referencia -->
							<div class= "container-fluid row amensaje">
								<div class="form-inline amensaje">
					 				<div class="col-sm-5 ">	
									</div>
									<div class="col-sm-1 cgrey" >
										<label>Valor ref.</label>
									</div>
					 				<div class="col-sm-5 btn">	
									</div>
									<div class="col-sm-1 cwhite" >
										
									</div>
					 			</div>
							</div>
							<!-- Valor de campos: Progresivos -->
							<div class= "container-fluid row amensaje">
								<div class="form-inline amensaje">
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Progresivos</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{% if form.Progresivos.value  != " " and form.Progresivos.value  != None %}
											<input id="progresivos" type="text" name="Progresivos" value="{{ form.Progresivos.value }}" onchange="multiplicar_tem();suma();"><i>%</i>
										{% else %}
											<input id="progresivos" type="text" name="Progresivos"  onchange="multiplicar_tem();suma();"><i>%</i>
										{% endif %}
									</div>
									<div class="col-md-1 cgrey" style="text-align: center">
									(> 32%)
									</div>
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Defecto cabeza</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Defecto_cabeza}}
									</div>
									<div class="col-md-1 cwhite" style="display: none; ">
									{{form.Info_examen}} 
									</div>
					 	    	</div>
							</div>
							<!-- Error de campos: Progresivos -->
							<div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										{{form.Progresivos.errors}} 
									</div>
									<div class="col-md-1 cgrey" >

									</div>
					 				<div class="col-md-5 btn">
										{{form.Defecto_cabeza.errors}}
									</div>
					 		
									<div class="col-md-1 cwhite" >
									</div>
							</div>
							<!-- Valor de campos: No progresivos -->
							<div class= "container-fluid row amensaje">
					 	   		<div class="form-inline amensaje">
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>No progresivos</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{% if form.No_progresivos.value  != " " and form.No_progresivos.value  != None %}
											<input id="no_progresivos" type="text" name="No_progresivos" value="{{ form.No_progresivos.value }}" onchange="suma();"><i>%</i>
										{% else %}
											<input id="no_progresivos" type="text"  name="No_progresivos" onchange="suma();"><i>%</i>
										{% endif %}
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Defecto pieza</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Defecto_pieza}}
									</div>
									<div class="col-md-1 cwhite" >
							    	</div>
					 	    	</div>
							</div>
							<!-- Error de campos: No progresivos -->
							<div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										{{form.No_progresivos.errors}} 
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.Defecto_pieza.errors}} 
									</div>
					 		
									<div class="col-md-1 cwhite" >
									</div>
							</div>
							<!-- Valor de campos: Inmóviles -->
							<div class= "container-fluid row amensaje">
					 	    	<div class="form-inline amensaje">
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Inmóviles</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{% if form.Inmoviles.value  != " " and form.Inmoviles.value  != None %}
											<input id="inmoviles" type="text" name="Inmoviles" value="{{ form.Inmoviles.value }}" onchange="suma();"><i>%</i>
										{% else %}
											<input id="inmoviles" type="text"  name="Inmoviles" onchange="suma();"><i>%</i>
										{% endif %}
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Defecto cola</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{{form.Defecto_cola}}
									</div>
									<div class="col-md-1 cwhite" >
							   		</div>
					 	    	</div>
							</div>
							<!-- Error de campos: Inmoviles -->
							<div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										{{form.Inmoviles.errors}} 
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.Defecto_cola.errors}} 
									</div>
					 		
									<div class="col-md-1 cwhite" >
									</div>
							</div>

							<!-- Fila: Valor de referencia -->
							
							<!-- Valor de campos: Normales y defectos cabeza -->
							<div class= "container-fluid row amensaje">
								<div class="form-inline amensaje">
					 				<div class="col-md-2 btn" style="text-align: right">
										<label>Normales </label> 
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{% if form.Normales.value  != " " and form.Normales.value  != None %}
											<input id="normales" type="text" name="Normales" value="{{ form.Normales.value }}" onchange="suma_n();"><i>%</i>
										{% else %}
											<input id="normales" type="text" name="Normales"  onchange="suma_n();"><i>%</i>
										{% endif %}
									</div>
									<div class="col-md-1 cgrey" >
									(> 4%)
									</div>
									<div class="col-md-2 btn" style="text-align: right">
										<label title=" TOTAL ESPERMATOZOIDES PROGRESIVOS (TEM) en la muestra seminal ">TEM</label> 
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{% if form.TEM.value  != " " and form.TEM.value  != None %}
											<input id="tem"  type="text" value="{{ form.TEM.value }}" name="TEM"> <i>x10⁶</i>
										{% else %}
											<input id="tem"  type="text" name="TEM"> <i>x10⁶</i>
										{% endif %}
									</div>
									<div class="col-md-1 cwhite" >
										
							   		</div>
					 	    	</div>
							</div>
							<!-- Error de campos: Normales y defectos cabeza -->
							<div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										{{form.Normales.errors}} 
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										{{form.TEM.errors}} 
									</div>
					 		
									<div class="col-md-1 cwhite" >
									</div>
							</div>
							<!-- Valor de campos: Anormales y defectos pieza -->
							<div class= "container-fluid row amensaje">
					 	    	<div class="form-inline amensaje">
					 				<div class="col-md-2 btn" style="text-align: right" >
										<label>Anormales</label>
									</div>
									<div class="col-md-3 btn" style="text-align: left">
										{% if form.Anormales.value  != " " and form.Anormales.value  != None %}
											<input id="anormales" type="text" name="Anormales" value="{{ form.Anormales.value }}" onchange="suma_n();"><i>%</i>
										{% else %}
											<input id="anormales" type="text" name="Anormales"  onchange="suma_n();"><i>%</i>
										{% endif %}
									</div>
									<div class="col-md-1 cgrey" >
										
									</div>
									<div class="col-md-5 btn"></div>

									<div class="col-md-1 cwhite" >
							   		</div>
					 	    	</div>
					 	    </div>
							<!-- Error de campos: Anormales y defectos pieza -->
					 	    <div class= "container-fluid row mensaje">

									<div class="col-md-5 btn">
										{{form.Anormales.errors}} 
									</div>
									<div class="col-md-1 cgrey" >
									</div>
					 				<div class="col-md-5 btn">
										 
									</div>
					 		
									<div class="col-md-1 cwhite" >
									</div>
							</div>

				</div>
			
				
			

					<br/>
					<br/>
				
					<div class="container-fluid row">
						<div class="col-md-2 col-md-offset-10">
				 			<input class="btn btn-default" type="submit" value="Guardar informe" />
				 		</div>
				 	</div>	
				</div>	
		</div>		     	
	
	</form>
		<hr/>


		
	<div  id class=" container-fluid col-md-12">
			
			 
			
		<div  class= "col-md-9" > 
			<label> Diagnóstico</label>  	
			{% if espermio.diagnostico_esp_set.all %}		
				{% for i in espermio.diagnostico_esp_set.all %}
					<div class=" container-fluid"> 
						&nbsp&nbsp<a color ="red"  href="{% url "eliminar_diagnostico_esp" i.id %}" title= "Eliminar diagnóstico" ><i class="fa fa-times" aria-hidden="true"></i></a>
						&nbsp {{i.get_Diagnostico_display}} &nbsp
						<label> Observación:</label>	&nbsp {{i.Observacion}} &nbsp&nbsp
					</div>
				{% endfor %}
			{% else %}
				<font color = "red">No posee diagnóstico</font>
			{% endif %}
			 
		</div>
		<div class= "col-md-3">
			<a href="{% url "crear_diagnostico_esp" espermio.id %}" title= "Agregar diagnóstico" ><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar


		</div> 
	
	
	</div>

<hr/>
<br/>
{% endblock %}






