{% extends "base_andrologia.html" %}

{% block title %}Lista de examenes{% endblock %}
{% load staticfiles %}

{% block content %}  
    <div  class= "row verde">
        <div  class="col-md-5 col-md-offset-7">
            <h2 class="blanco" ><b>Lista de examenes realizados</b></h2>
        </div>
    </div>
    <br/>
    <br/>	
      
    <!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
    <!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
  

<div class="container-fluid">
    <table id="lista" data-toggle="table">
    
        <thead>
            <tr style="background-color:#b7b7b7">
                <th style="text-align: center">Paciente</th>
                <th style="text-align: center">Tipo examen</th>
                <th style="text-align: center">Fecha de creación</th>
                <th style="text-align: center">Estado informe</th>
                <th style="text-align: center">Opciones</th>
            </tr>
        </thead>
         <tfoot>
            <tr style="background-color:#e4e4e5" >
               <th style="text-align: center">Paciente</th>
                <th style="text-align: center">Tipo examen</th>
                <th style="text-align: center">Fecha de creación</th>
                <th style="text-align: center">Estado informe</th> 
                <th style="text-align: center">Opciones</th>
                
            </tr>
        </tfoot>
        <tbody>
         {% for i in examen %}
            
         {% if i.espermiograma_set.all or i.separacion_set.all or i.separacion_o_set.all or i.inseminacion_set.all %}   
               <tr>


                <td style="text-align: center">{{i.Paciente.Nombres}} {{i.Paciente.Primer_apellido}} {{i.Paciente.Segundo_apellido}}</td>
                
                {% if i.Tipo = 'es' %}
                    <td style="background-color:#c9efff ; text-align: center" > {{i.get_Tipo_display}}</td>
                {% elif  i.Tipo = 'se' %}
                    <td style="background-color:#c2fcdd ; text-align: center"> {{i.get_Tipo_display}}</td>
                {% elif i.Tipo = 'so' %}
                    <td style="background-color:#f9fcc2 ;text-align: center">{{i.get_Tipo_display}}</td>
                {% elif i.Tipo = 'iiu' %}
                    <td style="background-color:#fcc2d1; text-align: center">{{i.get_Tipo_display}}</td>
                {%endif%}

                <td style="text-align: center">{{i.Fecha}}</td>
                <td style="text-align: center">
                    
                    {% if i.Est_informe = 'i' %}
                        <font color = "red"><i title= "Informe incompleto"color="red" class="fa fa-file-o" aria-hidden="true"></i>
</font>
                    {% elif i.Est_informe = 'c' %}
                        <font color = "green"><i title= "Informe completo" color="green" class="fa fa-file-text-o" aria-hidden="true"></i>
</font>
                    {% endif%}

                    {% if i.Tipo = 'es'%}
                        {% if i.espermiograma_set.all.0.diagnostico_esp_set.all.0 %}
                            - <font color = "green"><i title="Posee diagnóstico" class="fa fa-stethoscope" aria-hidden="true"></i>
                            </font>
                            {% else %}
                            - <font color = "red"><i title="No posee diagnóstico" class="fa fa-stethoscope" aria-hidden="true"></i></font>
        
                        {% endif%}

                    {% elif i.Tipo = 'se'%}
                        {% if i.separacion_set.all.0.diagnostico_se_set.all.0 %}
                            - <font color = "green"><i title="Posee diagnóstico" class="fa fa-stethoscope" aria-hidden="true"></i>
                        </font>
                        {% else %}
                            - <font color = "red"><i title="No posee diagnóstico" class="fa fa-stethoscope" aria-hidden="true"></i></font>
                        {% endif%}
                   

                    {% elif i.Tipo = 'so'%}
                        {% if i.separacion_o_set.all.0.diagnostico_so_set.all.0 %}
                            - <font color = "green"><i title="Posee diagnóstico" class="fa fa-stethoscope" aria-hidden="true"></i>
                        </font>
                        {% else %}
                            - <font color = "red"><i title="No posee diagnóstico" class="fa fa-stethoscope" aria-hidden="true"></i></font>
                        
                        {% endif%}

                    {% elif i.Tipo = 'iiu'%}
                        {% if i.inseminacion_set.all.0.diagnostico_iiu_set.all.0 %}
                            - <font color = "green"><i title="Posee diagnóstico" class="fa fa-stethoscope" aria-hidden="true"></i>
                        </font>
                        {% else %}
                            - <font color = "red"><i title="No posee diagnóstico" class="fa fa-stethoscope" aria-hidden="true"></i></font>
                        {% endif%}

                    {% endif%}


                </td>
                <td style="text-align: center">
                    {% if i.Tipo = 'es'%}
                        <a title="Ver detalles informe" href="" onclick="return popitup_es('{% url "detalle_espermio" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a>  
                        
                        / <a href="{% url "editar_espermio" i.espermiograma_set.all.0.id %}" title= "Editar informe"> <i class="fa fa-pencil" aria-hidden="true"></i></a> 
                        {% if i.Est_informe = 'c' %}
                            {% if i.espermiograma_set.all.0.diagnostico_esp_set.all.0 == null %}
                                / <a href="{% url "generar_diagnostico_esp" i.espermiograma_set.all.0.id %}" title= "Generar diagnóstico"> <i class="fa fa-stethoscope" aria-hidden="true"></i>
                            {% endif %}
                            / <a href="{% url "informe_espermiograma" i.espermiograma_set.all.0.id %}" title= "Descargar informe"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        {% endif %}
                    {% elif i.Tipo = 'se'%}
                        <a title="Ver detalles informe" href="" onclick="return popitup_se('{% url "detalle_separacion" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a> 

                        / <a href="{% url "editar_separacion" i.separacion_set.all.0.id %}" title= "Editar informe"> <i class="fa fa-pencil" aria-hidden="true"></i></a> 
                        {% if i.Est_informe = 'c' %}
                            {% if i.separacion_set.all.0.diagnostico_se_set.all.0 == null %}
                                / <a href="{% url "generar_diagnostico_se" i.separacion_set.all.0.id %}" title= "Generar diagnóstico"> <i class="fa fa-stethoscope" aria-hidden="true"></i>
                            {% endif %}
                            / <a href="{% url "informe_separacion" i.separacion_set.all.0.id %}" title= "Descargar informe"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        {% endif %}
                    {% elif i.Tipo = 'so'%}
                        <a title="Ver detalles informe" href="" onclick="return popitup_se('{% url "detalle_separacion_o" i.id %}' )"><i class="fa fa-eye" aria-hidden="true"></i></a> 

                        / <a href="{% url "editar_separacion_o" i.separacion_o_set.all.0.id %}" title= "Editar informe"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                        {% if i.Est_informe = 'c' %}
                            / <a href="{% url "informe_separacion_o" i.separacion_o_set.all.0.id %}" title= "Descargar informe"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        {% endif %}
                    {% elif i.Tipo = 'iiu'%}
                        <a title="Ver detalles informe" href="" onclick="return popitup_iiu('{% url "detalle_inseminacion" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a> /
                        <a href="{% url "editar_inseminacion" i.inseminacion_set.all.0.id %}" title= "Editar informe"> <i class="fa fa-pencil" aria-hidden="true"></i> </a>
                        {% if i.Est_informe = 'c' %}
                            / <a href="{% url "informe_inseminacion" i.inseminacion_set.all.0.id %}" title= "Descargar informe"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        {% endif %}
                    {% endif%}
                    
                     

                       
                </td>        
            
    
            </tr>
          {% endif%}
          {% endfor %}
        </tbody>
    </table>
</div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#lista').DataTable({
            "language":{
                "lengthMenu":"Mostrar _MENU_ registros por página.",
                "zeroRecords": "Lo sentimos, no se han registrado examenes.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No se ha encontrado coincidencia.",
                "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                "search" : "Buscar",
                "LoadingRecords": "Cargando ...",
                "Processing": "Procesando...",
                "SearchPlaceholder": "Comience a teclear...",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente",
                     }

          }

         });
           
        });

    </script>

 

     

{% endblock %}