{% load staticfiles %}
<html>
  <head>
    <!-- Archivos de carpeta static -->
    <!-- Jquery necesario para utilizar componentes Bootstrap -->
    <script type="text/javascript" src="{% static "frameworks/jquery-1.12.3.min.js" %}"></script>
    <!-- Css particular, generado para los estilos propios a los desarrolladores del proyecto -->
    <link rel="stylesheet" type="text/css" href="{% static "css/CDRH.css" %}">
    <!-- Css Framework Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "frameworks/bootstrap-3.3.6-dist/css/bootstrap.css" %}">
    <!-- Css Framework Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "frameworks/bootstrap-3.3.6-dist/css/bootstrap-theme.css" %}">
    <!-- Modulo de iconos font awesome -->
    <link rel="stylesheet" type="text/css" href="{% static "awesome/css/font-awesome.min.css" %}">
    <!-- JavaScript Framework Bootstrap -->
    <script type="text/javascript" src="{% static "frameworks/bootstrap-3.3.6-dist/js/bootstrap.js" %}"></script>
    <!-- Css para componente Datatables -->
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.css" %}">
    <!-- JavaScript para componente Datatables -->
    <script type="text/javascript" charset="utf8" src="{% static "js/jquery.dataTables.js" %}"></script>
    <!-- JavaScript para componente Pestanas, contiene interacción del cambio de pestaña en la misma tempolate -->
    <script type="text/javascript" charset="utf8" src="{% static "js/pestana.js" %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static "js/popup.js" %}"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>   
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
    <!-- Llama al bloque de titulo en cada template -->
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>

<!-- Se utiliza un Menu Bootstrap http://getbootstrap.com/components/#navbar -->
<!-- Menu para el area de andrología -->

  <!-- Bloque de contenido que se hereda a las templates, Body-->

  {% block content %}
  {% endblock %}
    
    

  {% block footer %}
    <hr>
    <div style="text-align: center">  
      <img id="pmi" alt="Brand" src= "{% static "img/mineduc.jpg" %}" height="60" width="60" >
      <img id="pmi" alt="Brand" src= "{% static "img/pmi.png" %}"  height="100" >
      <img id="pmi" alt="Brand" src= "{% static "img/uv.png" %}"  height="50" >  
    </div>
  {% endblock %}
  
  </body>
</html>