{% extends "base_andrologia.html" %}

{% block title %}Lista de espermiogramas{% endblock %}
{% load staticfiles %}

{% block content %}  
    <div  class= "row verde">
        <div   class="col-md-6 col-md-offset-6 ">
            <h2 class="blanco" ><b>Lista de espermiogramas realizados</b></h2>
        </div>
    </div>
    <br/>
    <br/>   
      
    <!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
    <!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
  

<div class="container-fluid">
    <table id="lista" data-toggle="table">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Tipo examen</th>
                <th>Fecha de creación</th>
                <th>Estado informe</th>
                <th>Opciones</th>
            </tr>
        </thead>
         <tfoot>
            <tr>
               <th>Paciente</th>
                <th>Tipo examen</th>
                <th>Fecha de creación</th>
                <th>Estado informe</th> 
                <th>Opciones</th>
                
            </tr>
        </tfoot>
        <tbody>
         {% for i in espermio %}
            {% if i.espermiograma_set.all or i.separacion_set.all or i.separacion_o_set.all or i.inseminacion_set.all %} 
            <tr  >


                <td>{{i.Paciente.Nombres}} {{i.Paciente.Primer_apellido}} {{i.Paciente.Segundo_apellido}}</td>
                <td>{{i.get_Tipo_display}}</td>
                <td>{{i.Fecha}}</td>
                <td style="text-align: center">
                    
                    {% if i.Est_informe = 'i' %}
                        <font color = "red"><i title= "Informe incompleto"color="red" class="fa fa-file-o" aria-hidden="true"></i>
                    </font>
                    {% elif i.Est_informe = 'c' %}
                        <font color = "green"><i title= "Informe completo" color="green" class="fa fa-file-text-o" aria-hidden="true"></i>
                    </font>
                    {% endif%}

            
                        {% if i.espermiograma_set.all.0.diagnostico_esp_set.all.0 %}
                            - <font color = "green"><i title="Posee diagnóstico" class="fa fa-stethoscope" aria-hidden="true"></i>
                        </font>
        
                        {% endif%}


                </td>
                <td style="text-align: center">
              
                        <a title="Ver detalles informe" href="" onclick="return popitup('{% url "detalle_espermio" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a>  
                        
                        / <a href="{% url "editar_espermio" i.espermiograma_set.all.0.id %}" title= "Editar informe"> <i class="fa fa-pencil" aria-hidden="true"></i></a> 
                        {% if i.Est_informe = 'c' %}
                            {% if i.espermiograma_set.all.0.diagnostico_esp_set.all.0 == null %}
                                / <a href="{% url "generar_diagnostico_esp" i.espermiograma_set.all.0.id %}" title= "Generar diagnóstico"> <i class="fa fa-stethoscope" aria-hidden="true"></i>
                            {% endif %}
                            / <a href="{% url "informe_espermiograma" i.espermiograma_set.all.0.id %}" title= "Descargar informe"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        {% endif %}
            
                       
                </td>        
            
    
            </tr>
            {% endif%}
          {% endfor %}
        </tbody>
    </table>
</div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#lista').DataTable();
           
        });

    </script>

 

     

{% endblock %}