<!-- Herencia -->
{% extends "base_andrologia.html" %}
<!-- Bloque de título -->
{% block title %}Seleccionar paciente{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}

    <div class= container>
    <div class= row>
     {% for i in paciente %}
       
          
            <li><a href="{% url "crear_espermio" i.id %}">{{ i.Nombres }}</a></li>

      {% endfor %}
        
    </div>    
    </div>  

     

{% endblock %}