{% extends "base_secretaria.html" %}

{% block title %}Lista de pacientes{% endblock %}
{% load staticfiles %}

{% block content %}  
	
  
<!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
<!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
<div class="container-fluid">
    <table id="lista" data-toggle="table">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>RUT</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Antecedentes</th>
            </tr>
        </thead>
         <tfoot>
            <tr>
                <th>Paciente</th>
                <th>RUT</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Antecedentes</th>
            </tr>
        </tfoot>
        <tbody>
         {% for i in paciente %}
            
            <tr  >
                <td>{{i.Nombres}} {{i.Primer_apellido}} {{i.Segundo_apellido}}</td>
                <td>{{i.RUN}}-{{i.DV}}</td>
                <td>{{i.Email}}</td>
                <td>{{i.Codigo}}-{{i.Telefono}}</td>
                <td><i class="fa fa-file" aria-hidden="true"></i> Crear antecedentes
				</td> 
                
            </tr>
          
          {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#lista').DataTable();
       
    });

</script>

 

     

{% endblock %}