<!-- Herencia -->
{% extends "base_andrologia.html" %}
<!-- Bloque de título -->
{% block title %}Home Andrología{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}

    <div class= container>
        <h1>Hola</h1>
   
    </div>  

     

{% endblock %}