
{% extends "base_secretaria.html" %}
{% block title %}Nuevo paciente{% endblock %}
{% block content %}

<div class="container-fluid">
	<form action="/paciente/crear_paciente/" method="POST">{% csrf_token %}



						<div  class= "row verde">
							<div  class="col-xs-3 col-xs-offset-9">
							<h2 class="blanco" ><b>Crear paciente</b></h2>
							</div>
						</div>
						<br/>
						<br/>
						<!--Fila: Valor por referencia -->	
						<div  class= "row">
							<div id="cpestana1" class="form-inline">
				 				<div class="col-xs-5 ">	
								</div>
								<div  class="col-xs-1 " >
									
								</div>
				 				<div class="col-xs-5 btn">	
								</div>
								<div class="col-xs-1 " >
									
								</div>
				 			</div>
	 					</div>	
				 		<!-- Valor de capor: nombres y apellido paterno -->	
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje container-fluid">
				 				
				 				<div class="col-xs-1 btn" style="text-align: right">
									<label>Nombre(s) </label> 
								</div>
								<div class="col-xs-2 btn" style="text-align: left">
									{{form.Nombres}} 
								</div>
							
								
				 			
				 					<div class="col-xs-2 btn alabel" style="text-align: right">
										<label>Apellido paterno</label>
									</div>
									<div class="col-xs-2 btn" style="text-align: left">
										{{form.Primer_apellido}}
									</div>

									<div class="col-xs-2 btn" style="text-align: right">
										<label>Apellido materno</label>
									</div>
									<div class="col-xs-2 btn" style="text-align: left">
										{{form.Segundo_apellido}}
									</div>

								<div class="col-xs-1 " >
								</div> 	
								
				 	    	</div>
						</div>
						<!-- Error de campos: nombres y apellido paterno -->	
						<div class= "row mensaje">

								<div class="col-sm-3 btn">
									{{form.Nombres.errors}} 
								</div>
								<div class="col-sm-1 cwhite" >
								</div>
				 				<div class="col-sm-3 btn">
									{{form.Primer_apellido.errors}} 
								</div>
				 		
								<div class="col-sm-1 cwhite" >
								</div>
								<div class="col-sm-3 btn">
									{{form.Segundo_apellido.errors}} 
								</div>
				 		
								<div class="col-sm-1 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: apellido materno y  rut y dv -->	
						<div class= "row amensaje contaimer-fluid">
				 	    	<div class="form-inline amensaje container-fluid">
				 				
				 				
				 				
				 					<div class="col-xs-1 btn" style="text-align: right">
										<label>Rut</label>
									</div>
									<div class="col-xs-3 btn" style="text-align: left">
										{% if form.RUN.value  != " " and form.RUN.value  != None and form.DV.value  != " " and form.DV.value  != None %}
											<input id="rut" type="text"  maxlength="8" size="10" name="RUN" value="{{ form.RUN.value }}" oninput="validar_rut()" > <input id="dv" type="text"  maxlength="1" size="2" name="DV" value="{{ form.DV.value }}" oninput="validar_rut()" >
											</div>
										{% else %}
											<input id="rut" type="text"  maxlength="8" size="10" name="RUN" oninput="validar_rut()" > <input id="dv" type="text"  maxlength="1" size="2" name="DV" oninput="validar_rut()" >
											</div>
										{% endif %}
									
								
							

						   			<div title="Documento de identidad" class="col-xs-1 btn" style="text-align: right">
										<label>DI</label>
									</div>
									<div class="col-xs-3 btn" style="text-align: left">
										{{form.DI}}
									</div>

									<div class="col-xs-1 btn" style="text-align: right">
										<label>Sexo</label>
									</div>
									<div class="col-xs-3 btn" style="text-align: left">
										{{form.Sexo}}
									</div>
								
								
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Apallido materno y rut -->	
						<div class= "row mensaje">
							
								
				 				<div class="col-xs-3 btn">
									{{form.RUN.errors}} 
									{{form.DV.errors}} 
									<p class="text-info" id="msgerror"></p>
								</div>
				 		
								<div class="col-xs-1 cwhite" >
								</div> 	
								<div class="col-xs-3 btn">
									{{form.DI.errors}} 
								</div>
								<div class="col-xs-1 cwhite" >
								</div>
								<div class="col-xs-3 btn">
									{{form.Sexo.errors}} 
								</div>
								<div class="col-xs-1 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: Sexo y Edad -->
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje container-fluid">
				 		
				 			
				 				<div class="col-xs-1 btn" style="text-align: right">
									<label>Nacimiento</label>
								</div>
								<div class="col-xs-3 btn "  style="text-align: left">

								{% if form.Fecha_de_nacimiento.value  != " " and form.Fecha_de_nacimiento.value  != None  %}

									<input name='Fecha_de_nacimiento' value="{{ form.Fecha_de_nacimiento.value }}" type="text" id="id_date">
								{% else %}
								
									<input name='Fecha_de_nacimiento' type="text" id="id_date">
								{% endif %}
								</div>
				 				<div class="col-xs-1 btn" style="text-align: right">
									<label>Edad</label>
								</div>
								<div class="col-xs-2 btn" style="text-align: left">
									{{form.Edad}}
								</div>
								
								<div class="col-xs-1 btn" style="text-align: right">
									<label>Cónyuge</label>
								</div>
								<div class="col-xs-3 btn" style="text-align: left">
									{{form.Conyuge}}
								</div>
								<div class="col-xs-1 " style="text-align: left">
									<a class="navbar-brand" title = " Crear nuevo paciente" href="{% url "paciente.views.crear_paciente" %}"><i class="fa fa-user-plus" aria-hidden="true"></i></a>	
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Sexo y Edad -->	
				 	    <div class= "row mensaje container-fluid">

								<div class="col-xs-3 btn">
									{{form.Fecha_de_nacimiento.errors}} 
								</div>
								<div class="col-xs-1 cwhite" >
								</div>
				 				<div class="col-xs-3 btn">
									{{form.Edad.errors}} 
								</div>
				 		
								<div class="col-xs-1 cwhite" >
								</div>

								<div class="col-xs-3 btn">
									{{form.Conyuge.errors}} 
								</div>
				 		
								<div class="col-xs-1 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: Fecha de nacimiento y cónyuge-->
				 	    <div class= "row amensaje container-flui">
				 	    	<div class="form-inline amensaje container-fluid">
				 			
				 				<div class="col-xs-1 btn" style="text-align: right">
									<label>Email</label>
								</div>
								<div class="col-xs-3 btn" style="text-align: left">
									{{form.Email}}
								</div>
											
				 				<div class="col-xs-1 btn" style="text-align: right">
									<label>Telefono</label>
								</div>
								<div class="col-xs-3 btn" style="text-align: left">
									{{form.Codigo}} {{form.Telefono}}		
								</div>
								<div class="col-xs-1 btn" style="text-align: right">
									<label>Origen</label>
								</div>
								<div class="col-xs-3 btn" style="text-align: left">
									{{form.Origen}} 		
								</div>
							
							
				 	    	</div>
						</div>
						<!-- Error de campos: Aspecto y Cuerpos gelatinosos --> 
						
						<!-- Error de campos: Email y Telefono -->	
				 	    <div class= "row mensaje">

								<div class="col-xs-3 btn">
									{{form.Email.errors}} 
								</div>
								<div class="col-xs-1 cwhite" >
								</div>
				 				<div class="col-xs-3 btn">
									{{form.Telefono.errors}} 
								</div>
				 				<div class="col-xs-1 cwhite" >
								</div>
								<div class="col-xs-3 btn">
									{{form.Origen.errors}} 
								</div>
				 				<div class="col-xs-1 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: Dirección y Ciudad-->
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje container-fluid">
				 		
				 				<div class="col-xs-1 btn" style="text-align: right">
									<label>Dirección</label>
								</div>
								<div class="col-xs-3 btn" style="text-align: left">
									{{form.Direccion}}
								</div>
						      
				 				
				 				<div class="col-xs-1 btn" style="text-align: right">
									<label>Ciudad</label>
								</div>
								<div class="col-xs-2 btn" style="text-align: left">
									{{form.Ciudad}}
								</div>
								
								<div class="col-xs-1 btn" style="text-align: right">
									<label>Región</label>
								</div>
								<div class="col-xs-4 btn" style="text-align: left">
									{{form.Region}}
								</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Dirección y Ciudad -->	
				 	    <div class= "row mensaje">

								<div class="col-xs-3 btn">
									{{form.Direccion.errors}} 
								</div>
								<div class="col-xs-1 cwhite" >
								</div>
				 				<div class="col-xs-3 btn">
									{{form.Ciudad.errors}} 
								</div>
				 		
								<div class="col-xs-1 cwhite" >
								</div>
								<div class="col-xs-3 btn">
									{{form.Region.errors}} 
								</div>
				 		
								<div class="col-xs-1 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: Origen-->
				 		<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje container-fluid">
				 		
				 
								<div class="col-xs-1 btn" style="text-align: right">
									<label>Provincia</label>
								</div>
								<div class="col-xs-3 btn" style="text-align: left">
									{{form.Provincia}}
								</div>
								<div class="col-xs-1 btn" style="text-align: right">
									<label>Comuna</label>
								</div>
								<div class="col-xs-2 btn" style="text-align: left">
									{{form.Comuna}}
								</div>
								<div class="col-xs-1 btn" style="text-align: right">
									<label>Nacionalidad</label>
								</div>
								<div class="col-xs-4 btn" style="text-align: left">
									{{form.Nacionalidad}}
								</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Origen -->	
				 	    <div class= "row mensaje">

								<div class="col-xs-3 btn">
									{{form.Provincia.errors}} 
								</div>
								<div class="col-xs-1 cwhite" >
								</div>
				 				<div class="col-xs-3 btn">
									{{form.Comuna.errors}} 
								</div>
				 		
								<div class="col-xs-1 cwhite" >
								</div>
								<div class="col-xs-3 btn">
									{{form.Nacionalidad.errors}} 
								</div>
				 		
								<div class="col-xs-1 cwhite" >
								</div>
						</div>




	 			<br/>
				<br/>
			
				<div class="row">
					<div class="col-xs-2 col-xs-offset-10">
			 			<input class="btn btn-default" type="submit" value="Crear paciente" />
			 		</div>
			 	</div>
	</form>
</div>
 {% endblock %}