{% extends "base_secretaria.html" %}

{% block title %}Lista de pacientes{% endblock %}
{% load staticfiles %}

{% block content %}  
<div  class= "row verde">
    <div  class="col-md-3 col-md-offset-9">
        <h2 class="blanco" ><b>Lista de pacientes</b></h2>
    </div>
</div>
<br/>
<br/>

<!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
<!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
<div class="container-fluid">
    <table id="lista" data-toggle="table">
        <thead>
            <tr style="background-color:#b7b7b7">
                <th style="text-align: center">Apellidos</th>
                <th style="text-align: center">Nombres</th>

                <th style="text-align: center">Identificador</th>
               
                <th style="text-align: center">Antecedentes</th>
                <th style="text-align: center">Opciones</th>
            </tr>
        </thead>
         <tfoot>
             <tr style="background-color:#e4e4e5" >
                <th style="text-align: center">Apellidos</th>
                <th style="text-align: center">Nombres</th>
                <th style="text-align: center">Identificador</th>
                
                <th style="text-align: center">Antecedentes</th>
                <th style="text-align: center">Opciones</th>
                
            </tr>
        </tfoot>
        <tbody>
         {% for i in paciente %}
            
            <tr  >
                <td style="text-align: center">{{i.Primer_apellido}} {{i.Segundo_apellido}}</td>
                <td style="text-align: center">{{i.Nombres}}</td>
                {% if i.RUN %}
                    <td style="text-align: center">RUT: {{i.RUN}}-{{i.DV}}</td>
                {% else %}
                    <td style="text-align: center">DI: {{i.DI}}</td>
                {% endif %}
                
                <td style="text-align: center">
                {% if i.antecedentes_habitos_set.all.0  %} 
                    {% if i.Sexo == 1 %}
                        <a title="Ver detalles antecedentes" href="" onclick="return popitup('{% url "detalle_antecedentes_h" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a> /
                        </a> <a href="{% url "editar_antecedentes_h" i.id %}" title= "Editar antecedentes"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                    {% elif i.Sexo == 2 %}
                        <a title="Ver detalles antecedentes" href="" onclick="return popitup('{% url "detalle_antecedentes_m" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a> /
                        </a> <a href="{% url "editar_antecedentes_m" i.id %}" title= "Editar antecedentes"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                    {% endif %}
                
                    
                    
                {% else %}  
                    {% if i.Sexo == 1 %}
                       <a title="Crear antecedentes" href="{% url "crear_antecedentes_h" i.id %}"><i class="fa fa-file" aria-hidden="true"></i> </a>
    				       
                       
                    {% elif i.Sexo == 2 %}
                        <a title="Crear antecedentes" href="{% url "crear_antecedentes_m" i.id %}"><i class="fa fa-file" aria-hidden="true"></i> </a>
                       
                            
                    {% endif %}
                {% endif %}
                       
                </td>
                <td style="text-align: center">
                    <a title="Ver detalles paciente" href="" onclick="return popitup_dp('{% url "detalle_paciente" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a> /

                    </a> <a href="{% url "editar_paciente" i.id %}" title= "Editar paciente"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>

              
                
            </tr>
          
          {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#lista').DataTable({
            "language":{
                "lengthMenu":"Mostrar _MENU_ registros por página.",
                "zeroRecords": "Lo sentimos, no se han registrado pacientes.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No se ha encontrado coincidencia.",
                "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                "search" : "Buscar",
                "LoadingRecords": "Cargando ...",
                "Processing": "Procesando...",
                "SearchPlaceholder": "Comience a teclear...",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente",
                     }

          }

         });
       
    });

</script>

 

     

{% endblock %}