{% extends "base_andrologia.html" %}

{% block title %}Lista de examenes{% endblock %}
{% load staticfiles %}

{% block content %}  
<div  class= "row verde">
    <div  class="col-md-3 col-md-offset-9">
        <h3 class="blanco" >Lista De Examenes</h3>
    </div>
</div>
<br/>
<br/>	
  
<!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
<!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
<div class="container-fluid">
    <table id="lista" data-toggle="table">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Tipo examen</th>
                <th>Fecha de creación</th>
                <th>Estado informe</th>
                <th>Opciones</th>
            </tr>
        </thead>
         <tfoot>
            <tr>
                <th>Paciente</th>
                <th>Tipo examen</th>
                <th>Fecha de creación</th>
                <th>Estado informe</th> 
                <th>Opciones</th>
            </tr>
        </tfoot>
        <tbody>
         {% for i in examen %}
            
            <tr>
                {% if i.espermiograma_set.all or i.separacion_set.all or i.separacion_o_set.all or i.inseminacion_set.all %}
                    <td>{{i.Paciente.Nombres}} {{i.Paciente.Primer_apellido}} {{i.Paciente.Segundo_apellido}}</td>
                    <td>{{i.get_Tipo_display}}</td>
                    <td>{{i.Fecha}}</td>
                    <td>{{i.get_Est_informe_display}}</td>
                    <td style="text-align: center">
                    {% if i.Tipo = 'es'%}
                        <a title="Ver detalles informe" href="" onclick="return popitup('{% url "detalle_espermio" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a>  
                        <a href="{% url "editar_espermio" i.espermiograma_set.all.0.id %}" title= "Editar informe"> <i class="fa fa-pencil" aria-hidden="true"></i></a> 
                    {% elif i.Tipo = 'se'%}
                        <a title="Ver detalles informe" href="" onclick="return popitup('{% url "detalle_separacion" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a href="{% url "editar_separacion" i.separacion_set.all.0.id %}" title= "Editar informe"> <i class="fa fa-pencil" aria-hidden="true"></i></a> 
                    {% elif i.Tipo = 'so'%}
                        <a title="Ver detalles informe" href="" onclick="return popitup('{% url "detalle_separacion_o" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a href="{% url "editar_separacion_o" i.separacion_o_set.all.0.id %}" title= "Editar informe"> <i class="fa fa-pencil" aria-hidden="true"></i></a> 
                    {% elif i.Tipo = 'iiu'%}
                        <a title="Ver detalles informe" href="" onclick="return popitup('{% url "detalle_inseminacion" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a href="{% url "editar_inseminacion" i.inseminacion_set.all.0.id %}" title= "Editar informe"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                    {% endif%}
                {% endif%}


                

				</td> 
                
            </tr>
          
          {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#lista').DataTable();
       
    });

</script>

 

     

{% endblock %}