
{% extends "base_secretaria.html" %}
{% block title %}Nuevo paciente{% endblock %}
{% block content %}
<div class="container-fluid">
	<form action="/paciente/crear_paciente/" method="POST">{% csrf_token %}
		<script>
		  $(function() {
		    $( ".datepicker" ).datepicker({
		      changeMonth: true,
		      changeYear: true,
		      yearRange: "1900:2012",
		      // You can put more options here.

		    });
		  });
	  	</script>

	  	<br/>
						<br/>
						<br/>

						<div  class= "row verde">
							<div  class="col-sm-3 col-sm-offset-9">
							<h3 class="blanco" >Crear Paciente</h3>
							</div>
						</div>
						<br/>
						<br/>
						<!--Fila: Valor por referencia -->	
						<div  class= "row">
							<div id="cpestana1" class="form-inline">
				 				<div class="col-sm-5 ">	
								</div>
								<div  class="col-sm-1 " >
									
								</div>
				 				<div class="col-sm-5 btn">	
								</div>
								<div class="col-sm-1 " >
									
								</div>
				 			</div>
	 					</div>	
				 		<!-- Valor de capor: nombres y apellido paterno -->	
						<div class= "row amensaje">
							<div class="form-inline amensaje">
				 				
				 				<div class="col-sm-2 btn">
									<label>Nombres </label> 
								</div>
								<div class="col-sm-3 btn">
									{{form.Nombres}} 
								</div>
							
								<div class="col-sm-1 " >
								</div>
				 			
				 					<div class="col-sm-2 btn alabel">
										<label>Apellido paterno</label>
									</div>
									<div class="col-sm-3 btn">
										{{form.Primer_apellido}}
									</div>
								
								<div class="col-sm-1 " >
									
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: nombres y apellido paterno -->	
						<div class= "row mensaje">

								<div class="col-sm-5 btn">
									{{form.Nombres.errors}} 
								</div>
								<div class="col-sm-1 cwhite" >
								</div>
				 				<div class="col-sm-5 btn">
									{{form.Primer_apellido.errors}} 
								</div>
				 		
								<div class="col-sm-1 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: apellido materno y  rut y dv -->	
						<div class= "row amensaje">
				 	    	<div class="form-inline amensaje">
				 				
				 					<div class="col-sm-2 btn">
										<label>Apellido materno</label>
									</div>
									<div class="col-sm-3 btn">
										{{form.Segundo_apellido}}
									</div>
								
								<div class="col-sm-1 " >
									
								</div>
				 				
				 					<div class="col-sm-2 btn">
										<label>Rut</label>
									</div>
									<div class="col-sm-3 btn">
									{{form.RUN}} {{form.DV}}
									</div>
								
								<div class="col-sm-1 " >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Apallido materno y rut -->	
						<div class= "row mensaje">
							
								<div class="col-sm-5 btn">
									{{form.Segundo_apellido.errors}} 
								</div>
								<div class="col-sm-1 cwhite" >
								</div>
				 				<div class="col-sm-5 btn">
									{{form.RUN.errors}} 
									{{form.DV.errors}} 
								</div>
				 		
								<div class="col-sm-1 cwhite" >
								</div> 	
						</div>
						<!-- Valor de capos: Sexo y Edad -->
						<div class= "row amensaje">
				 	    	<div class="form-inline amensaje">
				 		
				 				<div class="col-sm-2 btn">
									<label>Sexo</label>
								</div>
								<div class="col-sm-3 btn">
									{{form.Sexo}}
								</div>
								<div class="col-sm-1 " >
								</div>
				 				
				 				<div class="col-sm-2 btn">
									<label>Edad</label>
								</div>
								<div class="col-sm-3 btn">
									{{form.Edad}}
								</div>
								
								<div class="col-sm-1 " >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Sexo y Edad -->	
				 	    <div class= "row mensaje">

								<div class="col-sm-5 btn">
									{{form.Sexo.errors}} 
								</div>
								<div class="col-sm-1 cwhite" >
								</div>
				 				<div class="col-sm-5 btn">
									{{form.Edad.errors}} 
								</div>
				 		
								<div class="col-sm-1 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: Fecha de nacimiento y cónyuge-->
				 	    <div class= "row amensaje">
				 	    	<div class="form-inline amensaje">
				 			
				 				<div class="col-sm-2 btn">
									<label>Fecha de nacimiento</label>
								</div>
								<div class="col-sm-3 btn">
									{{form.Fecha_de_nacimiento}}
								</div>
								
								<div class="col-sm-1 cwhite" >
								</div>
				 				
				 				<div class="col-sm-2 btn">
									<label>Cónyuge</label>
								</div>
								<div class="col-sm-3 btn">
									{{form.Conyuge}}
									

								</div>
							
								<div class="col-sm-1 " >
									<a class="navbar-brand" title = " Crear nuevo paciente" href="{% url "paciente.views.crear_paciente" %}"><i class="fa fa-user-plus" aria-hidden="true"></i></a>	
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Aspecto y Cuerpos gelatinosos --> 
						<div class= "row mensaje">

								<div class="col-sm-5 btn">
									{{form.Fecha_de_nacimiento.errors}} 
								</div>
								<div class="col-sm-1 cwhite" >
								</div>
								</div>
				 				<div class="col-sm-5 btn">			
								</div>
								<div class="col-sm-1 cwhite" >
								</div>
						<!-- Valor de capos: Email y Telefono-->
						<div class= "row amensaje">
				 	    	<div class="form-inline amensaje">
				 		
				 				<div class="col-sm-2 btn">
									<label>Email</label>
								</div>
								<div class="col-sm-3 btn">
									{{form.Email}}
								</div>
								<div class="col-sm-1 " >
								</div>
				 				
				 				<div class="col-sm-2 btn">
									<label>Telefono</label>
								</div>
								<div class="col-sm-3 btn">
									{{form.Codigo}} {{form.Telefono}}
								</div>
								
								<div class="col-sm-1 " >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Email y Telefono -->	
				 	    <div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form.Email.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Telefono.errors}} 
								</div>
				 				<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: Dirección y Ciudad-->
						<div class= "row amensaje">
				 	    	<div class="form-inline amensaje">
				 		
				 				<div class="col-md-2 btn">
									<label>Dirección</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Direccion}}
								</div>
								<div class="col-md-1 " >
								</div>
				 				
				 				<div class="col-md-2 btn">
									<label>Ciudad</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Ciudad}}
								</div>
								
								<div class="col-md-1 " >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Dirección y Ciudad -->	
				 	    <div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form.Direccion.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Ciudad.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: Origen-->
				 		<div class= "row amensaje">
				 	    	<div class="form-inline amensaje">
				 		
				 				<div class="col-md-2 btn">
									<label>Origen</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Origen}}
								</div>
								<div class="col-md-1 " >
								</div>
				 				
				 				<div class="col-md-2 btn">
									
								</div>
								<div class="col-md-3 btn">
									
								</div>
								
								<div class="col-md-1 " >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Origen -->	
				 	    <div class= "row mensaje">

								<div class="col-md-5 btn">
									
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Origen.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>

		
						
				 		






	 			<br/>
				<br/>
			
				<div class="row">
					<div class="col-md-2 col-md-offset-10">
			 			<input class="btn btn-default" type="submit" value="Guardar paciente" />
			 		</div>
			 	</div>
	</form>
</div>
 {% endblock %}