{% extends "base_secretaria.html" %}
{% load static %}
{% block title %}Lista de pacientes{% endblock %}
{% block content %}
    <div class= container>
    <div class= row>
     {% for i in paciente %}
        <tr>
            <td>{{i.Nombres}}</td>

        </tr>
    </div>    
    </div>  
     {% endfor %}

{% endblock %}