.cgrey{
	background: #B2B2B2;
	height:46px;

	
}
.cwhite{
	
	height:46px;	
}

.alabel{
	
	align-content: right;
}

.aform{
	
	align-content: left;
	
}
.mensaje{
	height:20px;

}

.amensaje{
	height:40px;

}
.border{

	border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px; 
}