<!-- Herencia -->
{% extends "base_andrologia.html" %}
<!-- Bloque de título -->
{% block title %}Antecedentes recientes{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}
<div  class= "row verde">
	<div  class="col-md-5 col-md-offset-7">
		<h2 class="blanco" ><b>Crear Antecedentes recientes</b></h2>
	</div>
</div>
<br/>

<!-- Formulario se valida en forms.py/espermio_form -->
<!--Formulario espermiograma, cada pestaña contiene una parte del exanen-->	

	<div class= "container-fluid" >
	
	 		<hr/>
			<h3><i class="fa fa-user fa-lg" aria-hidden="true"></i>   &nbsp;&nbsp; {{examen.get_Tipo_display}} - {{examen.Paciente.Nombres}} {{examen.Paciente.Primer_apellido}} {{examen.Paciente.Segundo_apellido}}</h3>
			<hr/>
	 		<!-- Contenedor: Examen microscópico -->
	 		<div  class="container-fluid">
				<br/>
				<form  action="/antecedentes/crear_antecedentes_r_a/" method="POST">{% csrf_token %}
		
					<div class= "row amensaje col-md-12">
							<div class="form-inline amensaje">
				 				
				 				<div class="col-md-2 btn">
									<label>Médico tratante </label> 
								</div>
								<div class="col-md-3 btn">
									{{form_r.Medico_tratante}} 
								</div>
							
								<div class="col-md-1 cwhite" style="display: none; ">
									{{form_r.Examen}} 
								</div>
				 			
				 				<div class="col-md-2 btn alabel">
										<label>Días de abstinencia</label>
								</div>
								<div class="col-md-3 btn">
										{{form_r.Abstinencia}}
								</div>
							</div>
					</div>
						<!-- Error de campos: Tabaco y alcohol -->	
					<div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form_r.Medico_tratante.errors}}
									
								
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form_r.Abstinencia.errors}}
								
									

								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
					</div>
					<br/>
					<br/>
					<br/>
					<br/>
					<div class="row">
						<div class="col-md-2 col-md-offset-10">
		 					<input class="btn btn-default" type="submit" value="Guardar antecedentes" />
		 				</div>
		 			</div>
				
				</form>
				
			</div>
			<!-- Contenedor: Examen macroscópico -->
			
		
	</div>
			<!-- Contenedor: Motilidad y Morfologia-->

	
	



{% endblock %}