
 <!-- Herencia -->
{% extends "base_secretaria.html" %}
<!-- Bloque de título -->
{% block title %}Editar antecedentes{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}
<div  class= "row verde">
	<div  class="col-md-4 col-md-offset-8">
		<h2 class="blanco" ><b>Editar antecedentes</b></h2>
	</div>
</div>
<br/>

<!-- Formulario se valida en forms.py/espermio_form -->
<!--Formulario espermiograma, cada pestaña contiene una parte del exanen-->	
 

	<div class= "container-fluid" >
	
		<div class="col-md-12">
			<ul class="nav nav-tabs">
		  		<li role="presentation" class="active"><a href="#habitos" data-toggle="tab">1. Hábitos</a></li>
		  		<li role="presentation"><a href="#medicos" data-toggle="tab">2. Antecedentes médicos</a></li>

		  		
			</ul>
		</div>	
		<form  action="." method="POST">{% csrf_token %}
		 	<div class="tab-content container-fluid ">
		 		<br/>
				<br/>
		 		<hr/>
				<h3><i class="fa fa-female fa-lg" aria-hidden="true"></i>   &nbsp;&nbsp;    {{paciente.Nombres}} {{paciente.Primer_apellido}} {{paciente.Segundo_apellido}}</h3>
				<hr/>
		 	<div id="habitos" class="tab-pane fade in active container">
				
				<br/>
				
						
					<div class= "row amensaje col-md-12">
							<div class="form-inline amensaje">
				 				<div class="col-md-1 cwhite" style="display: none; ">
								
								</div>
				 				<div class="col-md-2 btn">
									<label>Tabaco </label> 
								</div>
								<div class="col-md-2 btn" style="text-align: left">
									{{form_h.Tabaco}} 
								</div>
							
								<div class="col-md-1 cwhite" style="display: none; ">
									{{form_h.Paciente}} 
								</div>
				 			
				 				<div class="col-md-1 btn alabel">
										<label>Alcohol</label>
								</div>
								<div class="col-md-2 btn" style="text-align: left">
										{{form_h.Alcohol}}
								</div>
								<div class="col-sm-1 btn">
								<label>Marihuana </label> 
							</div>
							<div class="col-sm-2 btn" style="text-align: left">
								{{form_h.Marihuana}} 
							</div>
							</div>
					</div>
						<!-- Error de campos: Tabaco y alcohol -->	
					<div class= "row mensaje">

								<div class="col-md-3 btn">
									{{form_h.Tabaco.errors}}
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-3 btn">
									{{form_h.Alcohol.errors}}
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
								<div class="col-md-3 btn">
									{{form_h.Marihuana.errors}}
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
					</div>
					<div class= "row amensaje col-md-12">
						<div class="form-inline amensaje">
				 				
				 			
							
					 		<div class="col-sm-2 btn">
								<label>Cocaína</label> 
							</div>
							<div class="col-sm-2 btn" style="text-align: left">
								{{form_h.Cocaina}} 
							</div>
							<div class="col-sm-1 btn">
								<label>Pasta base</label> 
							</div>
							<div class="col-sm-2 btn" style="text-align: left">
								{{form_h.Pasta}} 
							</div>
							<div class="col-sm-1 btn">
								<label>Otras</label> 
							</div>
						
							<div class="col-sm-3 btn" style="text-align: left">
								{% if form_h.Drogas.value  != " " and form_h.Drogas.value != None %}
									<input id="drogas" type="text"  maxlength="30" size="30" name="Drogas"  value="{{ form_h.Drogas.value }}">
								{% else %}
									{{form_h.Drogas}}
								{% endif %} 
							</div>
				 	    </div>
					</div>
					<div class= "row mensaje">

							<div class="col-md-3 btn">
									{{form_h.Cocaina.errors}}
							</div>
								<div class="col-md-1 cwhite" >
								</div>
							<div class="col-md-3 btn">
									{{form_h.Pasta.errors}}
							</div>
							<div class="col-md-1 cwhite" >
							</div>
							<div class="col-md-3 btn">
									
							</div>
							<div class="col-md-1 cwhite" >
							</div>
					</div>
					<div class= "row amensaje col-md-12">
						<div class="form-inline amensaje">
				 				
				 			<div class="col-sm-3 btn" style="text-align: right">
								<label>Químicos </label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_h.Quimicos}} 
							</div>
							
					 		<div class="col-sm-1 btn">
								<label>Radiación</label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_h.Radiacion}} 
							</div>
							<div class="col-sm-1 btn">
								<label>Hijos</label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_h.Hijos}} 
							</div>
			
				 	    </div>
					</div>
					<div class= "row mensaje">

								<div class="col-md-5 btn">
									 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
								 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
					</div>
					<br/>
					<br/>
					<br/>
					<br/>
					<div class="row">
						<div class="col-md-2 col-md-offset-10">
		 					<input class="btn btn-default" type="submit" value="Guardar antecedentes" />
		 				</div>
		 			</div>		
			</div>
				<!-- Contenedor: Examen macroscópico -->
				<div id="medicos" class="tab-pane fade container">
							<!-- Fila: Título de examen-->
					
					<br/>
					
					

						<div class= "row amensaje">
							<div class="form-inline amensaje">
					 				
					 			<div class="col-sm-1 btn">
									<label>Paperas</label> 
								</div>
								<div class="col-sm-1 btn cwhite">
									{{form_m.Paperas}} 
								</div>
								
						 		<div class="col-sm-1 btn">
									<label>Fiebre</label> 
								</div>
								<div class="col-sm-1 btn">
									{{form_m.Fiebre}} 
								</div>
								<div class="col-sm-1 btn cwhite">
									<label>Cuándo</label> 
								</div>
								<div class="col-sm-2 btn">
									{{form_m.Fiebre_detalle}} 
								</div>

					
					 	    </div>
						</div>
						<div class= "row mensaje">

									<div class="col-md-5 btn ">
									
									</div>
									<div class="col-md-1 cwhite" style="display: none; ">
										{{form_h.Paciente}} 
									</div>
					 				<div class="col-md-5 btn">
										
									</div>
					 		
									<div class="col-md-1 cwhite" >
									</div>
						</div>
						<div class= "row amensaje col-md-12">
							<div class="form-inline amensaje">
					 				
								<div class="col-sm-1 btn">
									<label>Antibiótico</label> 
								</div>
								<div class="col-sm-1 btn">
									{{form_m.Antibiotico}} 
								</div>
								<div class="col-sm-1 btn">
									<label>Cuándo</label> 
								</div>
								<div class="col-sm-2 btn">
									{{form_m.Antibiotico_detalle}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
								<div class="col-sm-2 btn">
									<label>Med. enfemedades crónicas</label> 
								</div>
								<div class="col-sm-1 btn">
									{{form_m.Enfermedades_cronicas}} 
								</div>
								<div class="col-sm-1 btn">
									<label>Cuáles</label> 
								</div>
								<div class="col-sm-2 btn">
									{{form_m.Enfermedades_detalle}} 
								</div>
				
					 	    </div>
						</div>
						<div class= "row mensaje">

									<div class="col-md-5 btn">
										 
									</div>
									<div class="col-md-1 cwhite" >
									</div>
					 				<div class="col-md-5 btn">
									 
									</div>
					 		
									<div class="col-md-1 cwhite" >
									</div>
						</div>
						<br/>
						<br/>
						<br/>
						<br/>
						<div class="row">
							<div class="col-md-2 col-md-offset-10">
			 					<input class="btn btn-default" type="submit" value="Guardar antecedentes" />
			 				</div>
			 			</div>
				
				</div>
				<!-- Contenedor: Motilidad y Morfologia-->
			
			
		

				<br/>
				<br/>
			
				
			</div>
		</form>	
	</div>	
      
	



{% endblock %}