
 <!-- Herencia -->
{% extends "base_secretaria.html" %}
<!-- Bloque de título -->
{% block title %}Nuevos antecedentes{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}
<div  class= "row verde">
	<div  class="col-md-3 col-md-offset-9">
		<h3 class="blanco" >Crear Antecedentes</h3>
	</div>
</div>
<br/>
<br/>
<!-- Formulario se valida en forms.py/espermio_form -->
<!--Formulario espermiograma, cada pestaña contiene una parte del exanen-->	
 

	<div class= "container-fluid" >
	
		<div class="col-md-12">
			<ul class="nav nav-tabs">
		  		<li role="presentation" class="active"><a href="#habitos" data-toggle="tab">1. Hábitos</a></li>
		  		<li role="presentation"><a href="#medicos" data-toggle="tab">2. Antecedentes médicos</a></li>
		  		<li role="presentation"><a href="#testiculares" data-toggle="tab">3. Antecedentes testiculares</a></li>
		  		
			</ul>
		</div>	

	 	<div class="tab-content ">
	 		<!-- Contenedor: Examen microscópico -->
	 		<div id="habitos" class="tab-pane fade in active container">
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<form  action="/antecedentes/crear_antecedentes_h/" method="POST">{% csrf_token %}
						
					<div class= "row amensaje col-md-12">
							<div class="form-inline amensaje">
				 				
				 				<div class="col-md-2 btn">
									<label>Tabaco </label> 
								</div>
								<div class="col-md-3 btn">
									{{form_h.Tabaco}} 
								</div>
							
								<div class="col-md-1 cwhite" style="display: none; ">
									{{form_h.Paciente}} 
								</div>
				 			
				 				<div class="col-md-2 btn alabel">
										<label>Alcohol</label>
								</div>
								<div class="col-md-3 btn">
										{{form_h.Alcohol}}
								</div>
							</div>
					</div>
						<!-- Error de campos: Tabaco y alcohol -->	
					<div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form_h.Tabaco.errors}}
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form_h.Alcohol.errors}}
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
					</div>
					<div class= "row amensaje col-md-12">
						<div class="form-inline amensaje">
				 				
				 			<div class="col-sm-2 btn">
								<label>Marihuana </label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_h.Marihuana}} 
							</div>
							
					 		<div class="col-sm-1 btn">
								<label>Cocaína</label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_h.Cocaina}} 
							</div>
							<div class="col-sm-1 btn">
								<label>Pasta base</label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_h.Pasta}} 
							</div>
							<div class="col-sm-1 btn">
								<label>Otras</label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_h.Drogas}} 
							</div>
				 	    </div>
					</div>
					<div class= "row mensaje">

								<div class="col-md-5 btn">
								
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
					</div>
					<div class= "row amensaje col-md-12">
						<div class="form-inline amensaje">
				 				
				 			<div class="col-sm-2 btn">
								<label>Químicos </label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_h.Quimicos}} 
							</div>
							
					 		<div class="col-sm-1 btn">
								<label>Radiación</label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_h.Radiacion}} 
							</div>
							<div class="col-sm-1 btn">
								<label>Hijos</label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_h.Hijos}} 
							</div>
			
				 	    </div>
					</div>
					<div class= "row mensaje">

								<div class="col-md-5 btn">
									 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
								 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
					</div>
					<br/>
					<br/>
					<br/>
					<br/>
					<div class="row">
						<div class="col-md-2 col-md-offset-10">
		 					<input class="btn btn-default" type="submit" value="Guardar antecedentes" />
		 				</div>
		 			</div>
				
				</form>
				
			</div>
			<!-- Contenedor: Examen macroscópico -->
			<div id="medicos" class="tab-pane fade container">
						<!-- Fila: Título de examen-->
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<form  action="/antecedentes/crear_antecedentes_h/" method="POST">{% csrf_token %}
				

					<div class= "row amensaje">
						<div class="form-inline amensaje">
				 				
				 			<div class="col-sm-1 btn">
								<label>Paperas</label> 
							</div>
							<div class="col-sm-1 btn cwhite">
								{{form_m.Paperas}} 
							</div>
							
					 		<div class="col-sm-1 btn">
								<label>Fiebre</label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_m.Fiebre}} 
							</div>
							<div class="col-sm-1 btn cwhite">
								<label>Cuándo</label> 
							</div>
							<div class="col-sm-2 btn">
								{{form_m.Fiebre_detalle}} 
							</div>

				
				 	    </div>
					</div>
					<div class= "row mensaje">

								<div class="col-md-5 btn ">
								
								</div>
								<div class="col-md-1 cwhite" style="display: none; ">
									{{form_h.Paciente}} 
								</div>
				 				<div class="col-md-5 btn">
									
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
					</div>
					<div class= "row amensaje col-md-12">
						<div class="form-inline amensaje">
				 				
							<div class="col-sm-1 btn">
								<label>Antibiótico</label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_m.Antibiotico}} 
							</div>
							<div class="col-sm-1 btn">
								<label>Cuándo</label> 
							</div>
							<div class="col-sm-2 btn">
								{{form_m.Antibiotico_detalle}} 
							</div>
							<div class="col-md-1 cwhite" >
							</div>
							<div class="col-sm-2 btn">
								<label>Med. enfemedades crónicas</label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_m.Enfermedades_cronicas}} 
							</div>
							<div class="col-sm-1 btn">
								<label>Cuáles</label> 
							</div>
							<div class="col-sm-2 btn">
								{{form_m.Enfermedades_detalle}} 
							</div>
			
				 	    </div>
					</div>
					<div class= "row mensaje">

								<div class="col-md-5 btn">
									 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
								 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
					</div>
					<br/>
					<br/>
					<br/>
					<br/>
					<div class="row">
						<div class="col-md-2 col-md-offset-10">
		 					<input class="btn btn-default" type="submit" value="Guardar antecedentes" />
		 				</div>
		 			</div>
				</form>
			</div>
			<!-- Contenedor: Motilidad y Morfologia-->
			<div id="testiculares" class="tab-pane fade container">
						<!-- Título de examen -->
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<form  action="/antecedentes/crear_antecedentes_h/" method="POST">{% csrf_token %}
					<div class= "row amensaje">
						<div class="form-inline amensaje">
				 				
				 			<div class="col-sm-1 btn">
								<label>Varicocele</label> 
							</div>
							<div class="col-sm-1 btn cwhite">
								{{form_t.Varicocele}} 
							</div>
							
					 		<div class="col-sm-1 btn">
								<label>Hidrocele</label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_t.Hidrocele}} 
							</div>
							<div class="col-sm-1 btn">
								<label>Criptorquidia</label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_t.Criptorquidia}} 
							</div>
								<div class="col-sm-1 btn">
								<label>Tumores</label> 
							</div>
							<div class="col-sm-1 btn">
								{{form_t.Tumores}} 
							</div>
							<div class="col-sm-2 btn">
								<label>Golpes testiculares</label> 
							</div>
							<div class="col-sm-2 btn">
								{{form_t.Golpes_testiculares}} 
							</div>

				
				 	    </div>
					</div>
					<div class= "row mensaje">

								<div class="col-md-5 btn ">
								
								</div>
								<div class="col-md-1 cwhite" style="display: none; ">
									{{form_h.Paciente}} 
								</div>
				 				<div class="col-md-5 btn">
									
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
					</div>
					<br/>
					<br/>
					<br/>
					<br/>
					<div class="row">
						<div class="col-md-2 col-md-offset-10">
		 					<input class="btn btn-default" type="submit" value="Guardar antecedentes" />
		 				</div>
		 			</div>	
				</form>
			</div>
		
	

			<br/>
			<br/>
		
			
		</div>	
	</div>	
      
	



{% endblock %}