{% extends "base.html" %}
{% block title %}Nuevo espermiograma{% endblock %}
{% load staticfiles %}

{% block content %}
<form  action="/andrologia/crear_espermio/" method="POST">{% csrf_token %}

 <!-- examen micróscopico -->	

	<div class="container">
		<div class= "row">
			<div class="col-md-12">
				<legend>1. Examen microscópico</legend>
		
			</div>
		</div>

		<div class= "row">
			<div class="form-inline">
 				<div class="col-md-5 ">	
				</div>
				<div class="col-md-1 cgrey" >
					<label>Valor ref.</label>
				</div>
 				<div class="col-md-5 btn">	
				</div>
				<div class="col-md-1 cgrey" >
					<label>Valor ref.</label>
				</div>
 			</div>
 		</div>

 	    	
		

		<div class= "row amensaje">
			<div class="form-inline amensaje">
 				
 				<div class="col-md-2 btn">
					<label>Tiempo licuefacción </label> 
				</div>
				<div class="col-md-3 btn">
					{{form.Tiempo_licu}} <i>min</i>
				</div>
			
			
				<div class="col-md-1 cgrey" >
				</div>
 			
 					<div class="col-md-2 btn alabel">
						<label>PH</label>
					</div>
					<div class="col-md-3 btn">
						{{form.PH}}
					</div>
				
				<div class="col-md-1 cgrey" >
					(> 7,2 )
		   		</div>
 	    	</div>
		</div>

		<div class= "row mensaje">

				<div class="col-md-5 btn">
					{{form.Tiempo_licu.errors}} 
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.PH.errors}} 
				</div>
 		
				<div class="col-md-1 cgrey" >
				</div>
		</div>


		<div class= "row amensaje">
 	    	<div class="form-inline amensaje">
 				
 					<div class="col-md-2 btn">
						<label>Volumen</label>
					</div>
					<div class="col-md-3 btn">
						{{form.Volumen}}<i>ml</i>
					</div>
				
				<div class="col-md-1 cgrey" >
					(> 1,5 ml)
				</div>
 				
 					<div class="col-md-2 btn">
						<label>Viscosidad</label>
					</div>
					<div class="col-md-3 btn">
					{{form.Viscosidad}}
					</div>
				
				<div class="col-md-1 cgrey" >
		   		</div>
 	    	</div>
 	    </div>

		<div class= "row mensaje">
			
				<div class="col-md-5 btn">
					{{form.Volumen.errors}} 
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.Viscosidad.errors}} 
				</div>
 		
				<div class="col-md-1 cgrey" >
				</div> 	
		</div>

		<div class= "row amensaje">
 	    	<div class="form-inline amensaje">
 		
 					<div class="col-md-2 btn">
						<label>Aspecto</label>
					</div>
					<div class="col-md-3 btn">
						{{form.Aspecto}}
					</div>
				
				<div class="col-md-1 cgrey" >
				</div>
 				
 					<div class="col-md-2 btn">
						<label>Cuerpos gelatinosos</label>
					</div>
					<div class="col-md-3 btn">
						{{form.Cuerpos_gelatinosos}}
					</div>
				
				<div class="col-md-1 cgrey" >
		   		</div>
 	    	</div>
 	    </div>

 	    <div class= "row mensaje">

				<div class="col-md-5 btn">
					{{form.Aspecto.errors}} 
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.Cuerpos_gelatinosos.errors}} 
				</div>
 		
				<div class="col-md-1 cgrey" >
				</div>
		</div>

 	    <div class= "row amensaje">
 	    	<div class="form-inline amensaje">
 			
 				<div class="col-md-2 btn">
					<label>Color</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Color}}
				</div>
				
				<div class="col-md-1 cgrey" >
				</div>
 				
 				<div class="col-md-2 btn">
					<label>Cuerpos en suspención</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Cuerpos_en_suspen}}
				</div>
			
				<div class="col-md-1 cgrey" >
		   		</div>
 	    	</div>
		</div>

		<div class= "row mensaje">

				<div class="col-md-5 btn">
					{{form.Color.errors}} 
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.Cuerpos_en_suspen.errors}} 
				</div>
 		
				<div class="col-md-1 cgrey" >
				</div>
		</div>

	</div>

<br/>
 	
<!-- examen macróscopico -->

	<div class="container">

		<div class= "row">
			<div class="col-md-12">
				<legend>2. Examen macroscópico</legend>
			</div>
		</div>

		<div class= "row amensaje">
			<div class="form-inline">
 				<div class="col-sm-5 ">	
				</div>
				<div class="col-sm-1 cgrey" >
					<label>Valor ref.</label>
				</div>
 				<div class="col-sm-5 btn">	
				</div>
				<div class="col-sm-1 cgrey" >
					<label>Valor ref.</label>
				</div>
 			</div>
 		</div>

		<div class= "row amensaje">
			<div class="form-inline amensaje">
 				<div class="col-md-2 btn">
					<label><b>Concentración espemática</b></label>
				</div>
				<div class="col-md-3 btn">
					{{form.Concentracion}}<i>X10⁶/ml</i>
				</div>
				<div class="col-md-1 cgrey" >
					(>15X10⁶/ml)
				</div>
 				<div class="col-md-2 btn">
					<label>Células redondas</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Celulas_redondas}}<i>X10⁶/ml</i>
				</div>
				<div class="col-md-1 cgrey" >
					(<1X10⁶/ml)
		   		</div>
 	    	</div>
 	    </div>

		<div class= "row mensaje">

				<div class="col-md-5 btn">
					{{form.Concentracion.errors}} 
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.Celulas_redondas.errors}} 
				</div>
 		
				<div class="col-md-1 cgrey" >
				</div>
		</div>

 	    <div class= "row amensaje">
 	    	<div class="form-inline amensaje">
 				<div class="col-md-2 btn">
					<label><b>Recuento total</b></label>
				</div>
				<div class="col-md-3 btn">
					{{form.Total}}<i>X10⁶</i>
				</div>
				<div class="col-md-1 cgrey" >
					(>39X10⁶)
				</div>
 				<div class="col-md-2 btn">
					<label>Detritus</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Detritus}}
				</div>
				<div class="col-md-1 cgrey" >
		    	</div>
 	    	</div>
 	    </div>

 	    <div class= "row mensaje">

				<div class="col-md-5 btn">
					{{form.Total.errors}} 
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.Detritus.errors}} 
				</div>
 		
				<div class="col-md-1 cgrey" >
				</div>
		</div>

 	    <div class= "row amensaje"> 
 	    	<div class="form-inline amensaje">
 				<div class="col-md-2 btn">
					<label>VITALIDAD</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Vitalidad}}<i>%</i>
				</div>
				<div class="col-md-1 cgrey" >
					(> 58%)
				</div>
 				<div class="col-md-2 btn">
					<label>Células escamosas</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Celulas_escamosas}}
				</div>
				<div class="col-md-1 cgrey" >
		   		</div>
 	     	</div>
 	    </div>

 	    <div class= "row mensaje">

				<div class="col-md-5 btn">
					{{form.Vitalidad.errors}} 
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.Celulas_escamosas.errors}} 
				</div>
 		
				<div class="col-md-1 cgrey" >
				</div>
		</div>

 	    <div class= "row amensaje">
 	    	<div class="form-inline amnesaje">
 				<div class="col-md-5 btn">
				
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-2 btn">
					<label>Aglutinación</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Aglutinacion}}
				</div>
				<div class="col-md-1 cgrey" >
		   		</div>
 	    	</div>
 	    </div>

 	    <div class= "row mensaje">

				<div class="col-md-5 btn">
					
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.Aglutinacion.errors}} 
				</div>
 		
				<div class="col-md-1 cgrey" >
				</div>
		</div>
 	    
		<div class= "row amensaje">
 	    	<div class="form-inline amensaje">
 				<div class="col-md-5 btn">	
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-2 btn">
					<label>Pseudoaglutinación</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Pseudoaglutinacion}}
				</div>
				<div class="col-md-1 cgrey" >
		   		</div>
 	    	</div>
 	    </div>

 	    <div class= "row mensaje">

				<div class="col-md-5 btn">
					
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.Pseudoaglutinacion.errors}} 
				</div>
 		
				<div class="col-md-1 cgrey" >
				</div>
		</div>

 	    <div class= "row amensaje">
 	    	<div class="form-inline amensaje">
 				<div class="col-md-5 btn">
				
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-2 btn">
					<label>Cristales</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Cristales}}
				</div>
				<div class="col-md-1 cgrey" >
		   		</div>
 	    	</div>
 	    </div>

 	    <div class= "row mensaje">

				<div class="col-md-5 btn">
					
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.Cristales.errors}} 
				</div>
 		
				<div class="col-md-1 cgrey" >
				</div>
		</div>

 	    <div class= "row amensaje">
 	    	<div class="form-inline amensaje">
 				<div class="col-md-5 btn">
				
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-2 btn">
					<label>Mucus</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Mucus}}
				</div>
				<div class="col-md-1 cgrey" >
		   		</div>
 	    	</div>
 	    </div>

 	    <div class= "row mensaje">

				<div class="col-md-5 btn">
					
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.Mucus.errors}} 
				</div>
 		
				<div class="col-md-1 cgrey" >
				</div>
		</div>

 	    <div class= "row amensaje">
 	    	<div class="form-inline amensaje">
 				<div class="col-md-5 btn">
				
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-2 btn">
					<label>Bacterias</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Bacterias}}
				</div>
				<div class="col-md-1 cgrey" >
		  	 </div>
 	    	</div>
 	    </div>


 	    <div class= "row mensaje">

				<div class="col-md-5 btn">
					
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.Mucus.Bacterias}} 
				</div>
 		
				<div class="col-md-1 cgrey" >
				</div>
		</div>

	</div>

<br/>

<!-- motilidad-->

	<div class="container">
		
		<div class= "row">
			<div class="col-md-12">
				<legend>3. Motilidad</legend>
			</div>
		</div>
		
		<div class= "row amensaje">
			<div class="form-inline amensaje">
 				<div class="col-sm-5 ">	
				</div>
				<div class="col-sm-1 cgrey" >
					<label>Valor ref.</label>
				</div>
 				<div class="col-sm-5 btn">	
				</div>
				<div class="col-sm-1 cwhite" >
				
				</div>
 			</div>
		</div>

		<div class= "row amensaje">
			<div class="form-inline amensaje">
 				<div class="col-md-2 btn">
					<label>Progresivos</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Progresivos}}<i>%</i>
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
			
				</div>
				<div class="col-md-1 cwhite" >
		   		</div>
 	    	</div>
		</div>

		<div class= "row mensaje">

				<div class="col-md-5 btn">
					{{form.Progresivos.errors}} 
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					
				</div>
 		
				<div class="col-md-1 cwhite" >
				</div>
		</div>

		<div class= "row amensaje">
 	   		<div class="form-inline amensaje">
 				<div class="col-md-2 btn">
					<label>No progresivos</label>
				</div>
				<div class="col-md-3 btn">
					{{form.No_progresivos}}<i>%</i>
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
			
				</div>
				<div class="col-md-1 cwhite" >
		    	</div>
 	    	</div>
		</div>

		<div class= "row mensaje">

				<div class="col-md-5 btn">
					{{form.No_progresivos.errors}} 
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					
				</div>
 		
				<div class="col-md-1 cwhite" >
				</div>
		</div>

		<div class= "row amensaje">
 	    	<div class="form-inline amensaje">
 				<div class="col-md-2 btn">
					<label>Inmóviles</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Inmoviles}}<i>%</i>
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
				
				</div>
				<div class="col-md-1 cwhite" >
		   		</div>
 	    	</div>
		</div>

		<div class= "row mensaje">

				<div class="col-md-5 btn">
					{{form.Inmoviles.errors}} 
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					
				</div>
 		
				<div class="col-md-1 cwhite" >
				</div>
		</div>

	</div>

<br/>

<!-- morfologíad-->
	<div class="container">
		<div class= "row">
			<div class="col-md-12">
				<legend>4. Morfología</legend>
		
			</div>
		</div>

		<div class= "row amensaje">
			<div class="form-inline amensaje">
 				<div class="col-md-5 ">	
				</div>
				<div class="col-md-1 cgrey" >
					<label>Valor ref.</label>
				</div>
 				<div class="col-md-5 btn">	
				</div>
				<div class="col-md-1 cwhite" >
					<label></label>
				</div>
 			</div>
 		</div>


		<div class= "row amensaje">
			<div class="form-inline amensaje">
 				<div class="col-md-2 btn">
					<label>Normales </label> 
				</div>
				<div class="col-md-3 btn">
					{{form.Normales}} <i>%</i>
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-2 btn">
					<label>Defecto cabeza</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Defecto_cabeza}}
				</div>
				<div class="col-md-1 cwhite" >
					
		   		</div>
 	    	</div>
		</div>

		<div class= "row mensaje">

				<div class="col-md-5 btn">
					{{form.Normales.errors}} 
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.Defecto_cabeza.errors}} 
				</div>
 		
				<div class="col-md-1 cwhite" >
				</div>
		</div>

		<div class= "row amensaje">
 	    	<div class="form-inline amensaje">
 				<div class="col-md-2 btn">
					<label>Anormales</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Anormales}}<i>%</i>
				</div>
				<div class="col-md-1 cgrey" >
					
				</div>
 				<div class="col-md-2 btn">
					<label>Defecto pieza</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Defecto_pieza}}
				</div>
				<div class="col-md-1 cwhite" >
		   		</div>
 	    	</div>
 	    </div>

 	    <div class= "row mensaje">

				<div class="col-md-5 btn">
					{{form.Anormales.errors}} 
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.Defecto_pieza.errors}} 
				</div>
 		
				<div class="col-md-1 cwhite" >
				</div>
		</div>

		<div class= "row amensaje">
 	    	<div class="form-inline amensaje">
 				<div class="col-md-5 btn">
					{{form.Info_examen }}
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-2 btn">
					<label>Defecto cola</label>
				</div>
				<div class="col-md-3 btn">
					{{form.Defecto_cola}}
				</div>
				<div class="col-md-1 cwhite" >
		   		</div>
 	    	</div>
 	    </div>

 	    <div class= "row mensaje">

				<div class="col-md-5 btn">
					
				</div>
				<div class="col-md-1 cgrey" >
				</div>
 				<div class="col-md-5 btn">
					{{form.Defecto_cola.errors}} 
				</div>
 		
				<div class="col-md-1 cwhite" >
				</div>
		</div>
	</div>

	<br/>
	<hr/>


<!-- boton->
	<div class="row">
		<div class="col-md-3 col-md-offset-9">
 			<input class="btn btn-default" type="submit" value="Guardar informe" />
 		</div>
 	</div>	

 </form>

 {% endblock %}






