<!-- Herencia -->
{% extends "base_andrologia.html" %}
<!-- Bloque de título -->
{% block title %}Nueva inseminación{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}

<!-- Formulario se valida en forms.py/espermio_form -->
<!--Formulario espermiograma, cada pestaña contiene una parte del exanen-->	
					<div  class= "row verde">
						<div  class="col-md-4 col-md-offset-8">
						<h3 class="blanco" >Nueva Inseminación Intrauterina</h3>
						</div>
					</div>
					<br/>
					<br/>
<form  action="/andrologia/crear_inseminacion/" method="POST">{% csrf_token %}
	<div class= "container-fluid " >
	
		<div class="col-md-12 container-fluid">
			<ul class="nav nav-tabs">
		  		<li role="presentation" class="active"><a href="#nativo" data-toggle="tab">1. Datos semen nativo </a></li>
		  		<li role="presentation"><a href="#post" data-toggle="tab">2. Datos post-separación</a></li>
		  		<li role="presentation"><a href="#observacion" data-toggle="tab">3. Protocolo y observaciones</a></li>
		  		
			</ul>
		</div>	

	 	<div class="tab-content  container-fluid">
	 
	 		<!-- Contenedor: Examen microscópico -->
	 		<div id="nativo" class="tab-pane fade in active container container-fluid">
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<!--Fila: Valor por referencia -->	
						<div  class= "row container-fluid">
							<div id="cpestana1" class="form-inline">
				 				<div id="cpestana1" class="col-md-5 ">	
								</div>
								<div id="cpestana1" class="col-md-1 cwhite" >
									
								</div>
				 				<div class="col-md-5 btn">	
								</div>
								<div class="col-md-1 cwhite" >
									
								</div>
				 			</div>
	 					</div>	
				 		<!-- Valor de capor: tiempo de licuefacción y ph -->	
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				
				 				<div class="col-md-3 btn">
									<label>Volumen </label> 
								</div>
								<div class="col-md-2 btn">
									<input id="multiplicando" type="text"  name="Volumen" oninput="multiplicar();multiplicar_tem()"><i>ml</i>
								</div>
							
								<div class="col-md-1 cwhite" >
								</div>
				 			
				 					<div class="col-md-3 btn alabel">
										<label class="container-fluid">Motilidad espermatozoides progresivos</label>
									</div>
									<div class="col-md-2 btn">
										<input id="progresivos" type="text"  name="Progresivos" oninput="multiplicar_tem();"><i>%</i>
										
									</div>
								
								<div class="col-md-1 cwhite" >
									
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: tiempo de licuefacción y ph -->	
						<div class= "row mensaje v">

								<div class="col-md-4 btn">
									{{form.Volumen.errors}} 
								</div>
								<div class="col-md-2 cwhite" >
								</div>
				 				<div class="col-md-4 btn">
									{{form.Progresivos.errors}} 
								</div>
				 		
								<div class="col-md-2 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: Volumen y viscosidad -->	
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				
				 					<div class="col-md-3 btn">
										<label>Concentración</label>
									</div>
									<div class="col-md-2 btn">
										<input id="multiplicador" type="text"  name="Concentracion" oninput="multiplicar();multiplicar_tem()"><i>x10⁶/ml</i>
									</div>
								
								<div class="col-md-1 cwhite" >
									
								</div>
				 				
				 					<div class="col-md-3 btn">
										<label>Total espermatozoides progresivos</label>
									</div>
									<div class="col-md-2 btn">
									<input id="tem" value=0 type="text" name="TEM"> <i>x10⁶spz</i>
									</div>
								
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Volumen y viscosidad -->	
						<div class= "row mensaje container-fluid">
							
								<div class="col-md-4 btn">
									{{form.Concentracion.errors}} 
								</div>
								<div class="col-md-2 cwhite" >
								</div>
				 				<div class="col-md-4 btn">
									{{form.TEM.errors}} 
								</div>
				 		
								<div class="col-md-2 cwhite" >
								</div> 	
						</div>
						
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				
				 					<div class="col-md-3 btn">
										<label>Recuento total de espermatozoides</label>
									</div>
									<div class="col-md-2 btn">
										<input id="resultado"  type="text" name="Total" oninput="multiplicar_tem()";><i>x10⁶spz</i>
									</div>
								
								<div class="col-md-1 cwhite" >
									
								</div>
				 				
				 					<div class="col-md-3 btn">
										
									</div>
									<div class="col-md-2 btn">
									
									</div>
								
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Volumen y viscosidad -->	
						<div class= "row mensaje container-fluid">
							
								<div class="col-md-4 btn">
									{{form.Total.errors}} 
								</div>
								<div class="col-md-2 cwhite" >
								</div>
				 				<div class="col-md-4 btn">
									
								</div>
				 		
								<div class="col-md-2 cwhite" >
								</div> 	
						</div>
								
			</div>
			<!-- Contenedor: Examen macroscópico -->
			<div id="post" class="tab-pane fade container container-fluid">
						<!-- Fila: Título de examen-->
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						
						<!-- Fila: Valor por referencia-->
						<div  class= "row container-fluid">
							<div id="cpestana1" class="form-inline">
				 				<div id="cpestana1" class="col-md-5 ">	
								</div>
								<div id="cpestana1" class="col-md-1 cwhite" >
									
								</div>
				 				<div class="col-md-5 btn">	
								</div>
								<div class="col-md-1 cwhite" >
									
								</div>
				 			</div>
	 					</div>	
				 		<!-- Valor de capor: tiempo de licuefacción y ph -->	
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				
				 				<div class="col-md-3 btn">
									<label>Volumen </label> 
								</div>
								<div class="col-md-2 btn">
									<input id="multiplicando_post" type="text"  name="Volumen_post" oninput="multiplicar_post();multiplicar_tem_post();"><i>ml</i>
								</div>
							
								<div class="col-md-1 cwhite" >
								</div>
				 			
				 					<div class="col-md-3 btn alabel">
										<label class="container-fluid">Motilidad espermatozoides progresivos</label>
									</div>
									<div class="col-md-2 btn">
										<input id="progresivos_post" type="text"  name="Progresivos_post" oninput="multiplicar_tem_post();"><i>%</i>
										
									</div>
								
								<div class="col-md-1 cwhite" >
									
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: tiempo de licuefacción y ph -->	
						<div class= "row mensaje v">

								<div class="col-md-4 btn">
									{{form.Volumen_post.errors}} 
								</div>
								<div class="col-md-2 cwhite" >
								</div>
				 				<div class="col-md-4 btn">
									{{form.Progresivos_post.errors}} 
								</div>
				 		
								<div class="col-md-2 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: Volumen y viscosidad -->	
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				
				 					<div class="col-md-3 btn">
										<label>Concentración</label>
									</div>
									<div class="col-md-2 btn">
										<input id="multiplicador_post" type="text"  name="Concentracion_post" oninput="multiplicar_post();multiplicar_tem_post();"><i>x10⁶/ml</i>
									</div>
								
								<div class="col-md-1 cwhite" >
									
								</div>
				 				
				 					<div class="col-md-3 btn">
										<label>Total espermatozoides progresivos</label>
									</div>
									<div class="col-md-2 btn">
									<input id="tem_post" value=0 type="text" name="TEM_post"> <i>x10⁶spz</i>
									</div>
								
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Volumen y viscosidad -->	
						<div class= "row mensaje container-fluid">
							
								<div class="col-md-4 btn">
									{{form.Concentracion_post.errors}} 
								</div>
								<div class="col-md-2 cwhite" >
								</div>
				 				<div class="col-md-4 btn">
									{{form.TEM_post.errors}} 
								</div>
				 		
								<div class="col-md-2 cwhite" >
								</div> 	
						</div>
						
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				
				 					<div class="col-md-3 btn">
										<label>Recuento total de espermatozoides</label>
									</div>
									<div class="col-md-2 btn">
										
										<input id="resultado_post"  type="text" name="Total_post" oninput="multiplicar_tem_post()";><i>x10⁶spz</i>
									</div>
								
								<div class="col-md-1 cwhite" >
									
								</div>
				 				
				 					<div class="col-md-3 btn">
										
									</div>
									<div class="col-md-2 btn">
									
									</div>
								
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Volumen y viscosidad -->	
						<div class= "row mensaje container-fluid">
							
								<div class="col-md-4 btn">
									{{form.Total_post.errors}} 
								</div>
								<div class="col-md-2 cwhite" >
								</div>
				 				<div class="col-md-4 btn">
									
								</div>
				 		
								<div class="col-md-2 cwhite" >
								</div> 	
						</div>
			</div>
			<!-- Contenedor: Motilidad y Morfologia-->
			<div id="observacion" class="tab-pane fade container">
						<!-- Título de examen -->
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<!-- Fila: Valor por referencia -->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-sm-5 ">	
								</div>
								<div class="col-sm-1 cwhite" >
									
								</div>
				 				<div class="col-sm-5 btn">	
								</div>
								<div class="col-sm-1 cwhite" >
								
								</div>
				 			</div>
						</div>
						<!-- Valor de campos: Progresivos -->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Protocolo</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Protocolo}}
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Observación</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Observacion}}
								</div>
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Progresivos -->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Protocolo.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Observacion.errors}}
								</div>
				 		
								<div class="col-md-1 cwhite" style="display: none; ">
								{{form.Info_examen}} 
								</div>
						</div>
						<!-- Valor de campos: No progresivos -->

		
				
			</div>
		
	

			<br/>
			<br/>
		
			<div class="row container-fluid">
				<div class="col-md-2 col-md-offset-10 container-fluid">
		 			<input class="btn btn-default" type="submit" value="Guardar informe" />
		 		</div>
		 	</div>	
		</div>		
	</div>		
      
	
</form>


{% endblock %}