<!-- Herencia -->
{% extends "base_andrologia.html" %}
<!-- Bloque de título -->
{% block title %}Nueva separación{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}

<!-- Formulario se valida en forms.py/espermio_form -->
<!--Formulario espermiograma, cada pestaña contiene una parte del exanen-->	
					<div  class= "row verde container-fluid">
						<div  class="col-md-4 col-md-offset-8 container-fluid">
						<h3 class="blanco" >Nueva Separación Espermática</h3>
						</div>
					</div>
					<br/>
					<br/>
<form  action="/andrologia/crear_separacion/" method="POST">{% csrf_token %}
	<div class= "container-fluid " >
	
		<div class="col-md-12 container-fluid">
			<ul class="nav nav-tabs">
		  		<li role="presentation" class="active"><a href="#macroscopico" data-toggle="tab">1. Examen macroscópico</a></li>
		  		<li role="presentation"><a href="#microscopico" data-toggle="tab">2. Examen microscópico</a></li>
		  		<li role="presentation"><a href="#motilidad-morfologia" data-toggle="tab">3. Motilidad y 4. Morfología</a></li>
		  		<li role="presentation"><a href="#post-separacion" data-toggle="tab">5. Examen post-separación</a></li>
			</ul>
		</div>	

	 	<div class="tab-content container-fluid ">
	 		<!-- Contenedor: Examen microscópico -->
	 		<div id="macroscopico" class="tab-pane fade in active container container-fluid">
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<!--Fila: Valor por referencia -->	
						<div  class= "row container-fluid">
							<div id="cpestana1" class="form-inline">
				 				<div id="cpestana1" class="col-md-5 ">	
								</div>
								<div id="cpestana1" class="col-md-1 cgrey" >
									<label>Valor ref.</label>
								</div>
				 				<div class="col-md-5 btn">	
								</div>
								<div class="col-md-1 cgrey" >
									<label>Valor ref.</label>
								</div>
				 			</div>
	 					</div>	
				 		<!-- Valor de capor: tiempo de licuefacción y ph -->	
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				
				 				<div class="col-md-2 btn">
									<label>Tiempo licuefacción </label> 
								</div>
								<div class="col-md-3 btn">
									{{form.Tiempo_licu}} <i>min</i>
								</div>
							
								<div class="col-md-1 cgrey" >
								</div>
				 			
				 					<div class="col-md-2 btn alabel">
										<label>PH</label>
									</div>
									<div class="col-md-3 btn">
										{{form.PH}}
									</div>
								
								<div class="col-md-1 cgrey" >
									(> 7,2 )
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: tiempo de licuefacción y ph -->	
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Tiempo_licu.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.PH.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>
						<!-- Valor de capos: Volumen y viscosidad -->	
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				
				 					<div class="col-md-2 btn">
										<label>Volumen</label>
									</div>
									<div class="col-md-3 btn">
										<input id="multiplicando" type="text"  name="Volumen" oninput="multiplicar(); multiplicar_tem();"><i>ml</i>
									</div>
								
								<div class="col-md-1 cgrey" >
									(> 1,5 ml)
								</div>
				 				
				 					<div class="col-md-2 btn">
										<label>Viscosidad</label>
									</div>
									<div class="col-md-3 btn">
									{{form.Viscosidad}}
									</div>
								
								<div class="col-md-1 cgrey" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Volumen y viscosidad -->	
						<div class= "row mensaje container-fluid">
							
								<div class="col-md-5 btn">
									{{form.Volumen.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Viscosidad.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div> 	
						</div>
						<!-- Valor de capos: Aspectos y Cuerpos gelatinosos -->
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 		
				 				<div class="col-md-2 btn">
									<label>Aspecto</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Aspecto}}
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				
				 				<div class="col-md-2 btn">
									<label>Cuerpos gelatinosos</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Cuerpos_gelatinosos}}
								</div>
								
								<div class="col-md-1 cgrey" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Aspecto y Cuerpos gelatinosos -->	
				 	    <div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Aspecto.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Cuerpos_gelatinosos.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>
						<!-- Valor de capos: Color y Cuerpos en suspención-->
				 	    <div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 			
				 				<div class="col-md-2 btn">
									<label>Color</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Color}}
								</div>
								
								<div class="col-md-1 cgrey" >
								</div>
				 				
				 				<div class="col-md-2 btn">
									<label>Cuerpos en suspención</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Cuerpos_en_suspen}}
								</div>
							
								<div class="col-md-1 cgrey" >
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Aspecto y Cuerpos gelatinosos --> 
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Color.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Cuerpos_en_suspen.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 			
				 				<div class="col-md-2 btn">
									

								</div>
								<div class="col-md-3 btn">
									

								</div>
								
								<div class="col-md-1 cgrey" >
								</div>
				 				
				 				<div class="col-md-2 btn">
									<label>Cuerpos mucosos</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Cuerpos_mucosos}}
								</div>
							
								<div class="col-md-1 cgrey" >
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Aspecto y Cuerpos gelatinosos --> 
						<div class= "row mensaje container-fluid ">

								<div class="col-md-5 btn">
								
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Cuerpos_mucosos.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>
			</div>
			<!-- Contenedor: Examen macroscópico -->
			<div id="microscopico" class="tab-pane fade container container-fluid">
						<!-- Fila: Título de examen-->
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						
						<!-- Fila: Valor por referencia-->
						<div class= "row amensaje container-fluid">
							<div class="form-inline">
				 				<div class="col-sm-5 ">	
								</div>
								<div class="col-sm-1 cgrey" >
									<label>Valor ref.</label>
								</div>
				 				<div class="col-sm-5 btn">	
								</div>
								<div class="col-sm-1 cgrey" >
									<label>Valor ref.</label>
								</div>
				 			</div>
				 		</div>
						<!-- Valor de campos: Concentración espermatica y células redondas-->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label><b>Concentración espemática</b></label>
								</div>
								<div class="col-md-3 btn">
									<input id="multiplicador" type="text"  name="Concentracion" oninput="multiplicar();multiplicar_tem();"><i>x10⁶/ml</i>
								</div>
								<div class="col-md-1 cgrey" >
									(>15x10⁶/ml)
								</div>
				 				<div class="col-md-2 btn">
									<label>Células redondas</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Celulas_redondas}}<i>x10⁶/ml</i>
								</div>
								<div class="col-md-1 cgrey" >
									(<1x10⁶/ml)
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de capos: Concentración espermatica y células redondas-->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Concentracion.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Celulas_redondas.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>
						<!-- Valor de campos: Recuento total y Detritus-->
				 	    <div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label><b>Recuento total</b></label>
								</div>
								<div class="col-md-3 btn">
									<input id="resultado"  type="text" name="Total" oninput="multiplicar_tem()";><i>x10⁶</i>
								</div>
								<div class="col-md-1 cgrey" >
									(>39x10⁶)
								</div>
				 				<div class="col-md-2 btn">
									<label>Detritus</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Detritus}}
								</div>
								<div class="col-md-1 cgrey" >
						    	</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Recuento total y Detritus-->
				 	    <div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Total.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Detritus.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>
						<!-- Valor de campos: Vitalidad y células escamosas-->
				 	    <div class= "row amensaje container-fluid"> 
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>VITALIDAD</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Vitalidad}}<i>%</i>
								</div>
								<div class="col-md-1 cgrey" >
									(> 58%)
								</div>
				 				<div class="col-md-2 btn">
									<label>Células escamosas</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Celulas_escamosas}}
								</div>
								<div class="col-md-1 cgrey" >
						   		</div>
				 	     	</div>
				 	    </div>
						<!-- Error de campos: Vitalidad y células escamosas-->
				 	    <div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Vitalidad.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Celulas_escamosas.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>
						<!-- Valor de campos: Aglutinación-->
				 	    <div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amnesaje">
				 				<div class="col-md-5 btn">
								
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Aglutinación</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Aglutinacion}}
								</div>
								<div class="col-md-1 cgrey" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Aglutinación-->
				 	    <div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Aglutinacion.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>
				 	    <!-- Valor de campos: Pseudoaglutinación-->
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-5 btn">	
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Pseudoaglutinación</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Pseudoaglutinacion}}
								</div>
								<div class="col-md-1 cgrey" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Valor de campos: Recuento total y Detritus-->
				 	    <div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Pseudoaglutinacion.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>
						<!-- Valor de campos: Cristales -->
				 	    <div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-5 btn">
								
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Cristales</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Cristales}}
								</div>
								<div class="col-md-1 cgrey" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Cristales -->
				 	    <div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Cristales.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>
						<!-- Valor de campos: Mucus -->
				 	    <div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-5 btn">
								
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Mucus</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Mucus}}
								</div>
								<div class="col-md-1 cgrey" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Mucus -->
				 	    <div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Mucus.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>
						<!-- Valor de campos: Bacterias -->
				 	    <div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-5 btn">
								
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Bacterias</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Bacterias}}
								</div>
								<div class="col-md-1 cgrey" >
						  	 </div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Bacterias -->
				 	    <div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Mucus.Bacterias}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>
			</div>
			<!-- Contenedor: Motilidad y Morfologia-->
			<div id="motilidad-morfologia" class="tab-pane fade container container-fluid">
						<!-- Título de examen -->
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<!-- Fila: Valor por referencia -->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-sm-5 ">	
								</div>
								<div class="col-sm-1 cgrey" >
									<label>Valor ref.</label>
								</div>
				 				<div class="col-sm-5 btn">	
								</div>
								<div class="col-sm-1 cwhite" >
								
								</div>
				 			</div>
						</div>
						<!-- Valor de campos: Progresivos -->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Progresivos</label>
								</div>
								<div class="col-md-3 btn">
									<input id="progresivos" type="text"  name="Progresivos" onchange="multiplicar_tem();suma();"><i>%</i>
								</div>
								<div class="col-md-1 cgrey" >
								(> 32%)
								</div>
				 				<div class="col-md-2 btn">
									<label>Defecto cabeza</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Defecto_cabeza}}
								</div>
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Progresivos -->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Progresivos.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Defecto_cabeza.errors}}
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de campos: No progresivos -->
						<div class= "row amensaje container-fluid">
				 	   		<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>No progresivos</label>
								</div>
								<div class="col-md-3 btn">
									<input id="no_progresivos" type="text"  name="No_progresivos" onchange="suma();"><i>%</i>
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Defecto pieza</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Defecto_pieza}}
								</div>
								<div class="col-md-1 cwhite" >
						    	</div>
				 	    	</div>
						</div>
						<!-- Error de campos: No progresivos -->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.No_progresivos.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Defecto_pieza.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de campos: Inmóviles -->
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Inmóviles</label>
								</div>
								<div class="col-md-3 btn">
									<input id="inmoviles" type="text"  name="Inmoviles" onchange="suma();"><i>%</i>
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Defecto cola</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Defecto_cola}}
								</div>
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Inmoviles -->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Inmoviles.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Defecto_cola.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>

						<!-- Fila: Valor de referencia -->
						
						<!-- Valor de campos: Normales y defectos cabeza -->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Normales </label> 
								</div>
								<div class="col-md-3 btn">
									<input id="normales" type="text"  name="Normales" onchange="suma_n();"><i>%</i>
								</div>
								<div class="col-md-1 cgrey" >
								(> 4%)
								</div>
								<div class="col-md-2 btn">
									<label title=" TOTAL ESPERMATOZOIDES PROGRESIVOS (TEM) en la muestra seminal ">TEM</label> 
								</div>
								<div class="col-md-3 btn">
									<input id="tem"  type="text" name="TEM"> <i>x10⁶</i>
								</div>
								<div class="col-md-1 cwhite" >
									
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Normales y defectos cabeza -->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Normales.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.TEM.errors}}
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de campos: Anormales y defectos pieza -->
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Anormales</label>
								</div>
								<div class="col-md-3 btn">
									<input id="anormales" type="text"  name="Anormales" onchange="suma_n();"><i>%</i>
								</div>
								<div class="col-md-1 cgrey" >
									
								</div>
								<div class="col-md-2 btn">
									<label>Protocolo</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Protocolo}}
								</div>
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Anormales y defectos pieza -->
				 	    <div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Anormales.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									 {{form.Protocolo.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" style="display: none; ">
								{{form.Info_examen}} 
								</div>
						</div>
			</div>
			<!-- Contenedor: Motilidad y Morfologia-->
			<div id="post-separacion" class="tab-pane fade container container-fluid">
						<!-- Título de examen -->
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<!-- Fila: Valor por referencia -->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-sm-5 ">	
								</div>
								<div class="col-sm-1 cgrey" >
									<label>Valor ref.</label>
								</div>
				 				<div class="col-sm-5 btn">	
								</div>
								<div class="col-sm-1 cgrey" >
									<label>Valor ref.</label>
								
								</div>
				 			</div>
						</div>
						<!-- Valor de campos: Progresivos -->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Volumen</label>
								</div>
								<div class="col-md-3 btn">
									<input id="volumen_post" type="text" value= 0.5 name="Volumen_post" oninput="multiplicar_post_s();"><i>ml</i>
								</div>
								<div class="col-md-1 cgrey" >
									
								</div>
				 				<div class="col-md-2 btn">
									<label>Progresivos</label>
								</div>
								<div class="col-md-3 btn">
									<input id="progresivos_post" type="text"  name="Progresivos_post" onchange="multiplicar_post_s();suma_post()"><i>%</i> 

								</div>
								<div class="col-md-1 cgrey" >
									(> 32%)
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Progresivos -->
						<div class= "row mensaje container-fluid" >

								<div class="col-md-5 btn">
									{{form.Volumen_post.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
									
								</div>
				 				<div class="col-md-5 btn">
									{{form.Progresivos_post.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >

								</div>
						</div>
						<!-- Valor de campos: No progresivos -->
						<div class= "row amensaje container-fluid">
				 	   		<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
								<label>Concentración espermática</label>
								</div>
								<div class="col-md-3 btn">
									<input id="concentracion_post" type="text"  name="Concentracion_post" oninput="multiplicar_post_s();"><i>x10⁶/ml</i>
								</div>
								<div class="col-md-1 cgrey" >
									(>15x10⁶/ml)
								</div>
				 				<div class="col-md-2 btn">
									<label>No progresivos</label>
								</div>
								<div class="col-md-3 btn">
									<input id="no_progresivos_post" type="text"  name="No_progresivos_post" onchange="suma_post();"><i>%</i>
								</div>
								<div class="col-md-1 cgrey" >
						    	</div>
				 	    	</div>
						</div>
						<!-- Error de campos: No progresivos -->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Concentracion_post.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.No_progresivos_post.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>

						<div class= "row amensaje container-fluid">
				 	   		<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label title=" TOTAL ESPERMATOZOIDES PROGRESIVOS (TEM) en la muestra seminal ">TEM</label> 
								</div>
								<div class="col-md-3 btn">
									<input id="tem_post"  type="text" name="TEM_post"> <i>x10⁶</i>
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Inmóviles</label>
								</div>
								<div class="col-md-3 btn">
									<input id="inmoviles_post" type="text"  name="Inmoviles_post" onchange="suma_post();"><i>%</i>
								</div>
								<div class="col-md-1 cgrey" >
						    	</div>
				 	    	</div>
						</div>
						<!-- Error de campos: No progresivos -->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.TEM_post.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Inmoviles.errors}} 
								</div>
				 		
								<div class="col-md-1 cgrey" >
								</div>
						</div>
				
						</div>
			</div>
		
	

			<br/>
			<br/>
		
			<div class="row container-fluid">
				<div class="col-md-2 col-md-offset-10 container-fluid">
		 			<input class="btn btn-default" type="submit" value="Guardar informe" />
		 		</div>
		 	</div>	
		</div>	
	</div>      
	
</form>


{% endblock %}






