{% extends "base_andrologia.html" %}
{% block title %}Editar hora{% endblock %}
{% block content %}
<div  class= "row verde">
	<div  class="col-md-3 col-md-offset-9">
		<h3 class="blanco" >Editar Examen</h3>
	</div>
</div>
<br/>
<br/>
<form action="." method="POST">{% csrf_token %}
	<script>
	  $(function() {
	    $( ".datepicker" ).datepicker({
	      changeMonth: true,
	      changeYear: true,
	      yearRange: "1900:2012",
	      // You can put more options here.

	    });
	  });
  	</script>

			
					<!--Fila: Valor por referencia -->	
					<div  class= "row">
						<div id="cpestana1" class="form-inline">
			 				<div class="col-md-5 ">	
							</div>
							<div  class="col-md-1 " >
								
							</div>
			 				<div class="col-md-5 btn">	
							</div>
							<div class="col-md-1 " >
								
							</div>
			 			</div>
 					</div>	

					<!-- Valor de capos: Paciente y Tipo-->
			 	    <div class= "row amensaje">
			 	    	<div class="form-inline amensaje">
			 			
			 				<div class="col-md-2 btn">
								<label>Paciente</label>
							</div>
							<div class="col-md-3 btn">
								{{form.Paciente}}
								
							</div>
							
							<div class="col-md-1 " >
								<a class="navbar-brand" title = " Crear nuevo paciente" href="{% url "paciente.views.crear_paciente" %}"><i class="fa fa-user-plus" aria-hidden="true"></i></a>	
							</div>
			 				
			 				<div class="col-md-2 btn">
								<label>Tipo de examen</label>
							</div>
							<div class="col-md-3 btn">

								{{form.Tipo}} 
							</div>
						
							<div class="col-md-1 " >
					   		</div>
			 	    	</div>
					</div>
					<!-- Error de campos: Paciente y Tipo --> 
					<div class= "row mensaje">

							<div class="col-md-5 btn" style="display: none;">
								{{form.Fecha}} 
							</div>
							<div class="col-md-1 " style="display: none;">
								{{form.Est_hora}} 
							</div>
			 				<div class="col-md-5 btn" style="display: none;">
			 					{{form.Est_informe}} 
			 				</div>	
			 				<div class="col-md-5 btn" style="display: none;">
			 					{{form.id}} 
			 				</div>			
					</div>
				
			 		
	




 			<br/>
			<br/>
		
			<div class="row">
				<div class="col-md-2 col-md-offset-10">
		 			<input class="btn btn-default" type="submit" value="Guardar hora" />
		 		</div>
		 	</div>	
</form>

 {% endblock %}