{% extends "base_andrologia.html" %}
{% load static %}
{% block title %}Lista de separación espermatica en orina{% endblock %}
{% block content %}
<div  class= "row verde">
	<div  class="col-md-4 col-md-offset-8">
		<h3 class="blanco" >Lista Separación Espermática En Orina</h3>
	</div>
</div>
<br/>
<br/>
    <div class= container>
    <div class= row>
     {% for i in separacion %}
        <tr>
            <td>{{i.get_Color_display}}</td>

        </tr>
    </div>    
    </div>  
     {% endfor %}

{% endblock %}