{% extends "base_popup.html" %}
{% block title %}Detalle inseminación{% endblock %}
{% load staticfiles %}

{% block content %}  

<div  class= "row container-fluid verde">
    <div  class="col-md-3 col-md-offset-1">
        <h3 class="blanco" >Informe Inseminación Intrauterina</h3>
    </div>
</div>
<br/>

<div class="container-fluid">
	
	<div class="container-fluid">
		<ul class="nav nav-tabs container-fluid">
		  	<li role="presentation" class="active"><a href="#nativo" data-toggle="tab">1.Semen nativo</a></li>
		  	<li role="presentation"><a href="#post" data-toggle="tab">2. Post separación</a></li>
		  	<li role="presentation"><a href="#extra" data-toggle="tab">3. Protocolo y Observaciones</a></li>
		  
		  		
		</ul>
	</div>
	<br/>
	<div class="tab-content ">
		<div id="nativo" class="tab-pane fade in active container">
			<div class="row container-fluid">
				<label>Nombre: </label> {{inseminacion.Info_examen.Paciente.Nombres}} {{inseminacion.Info_examen.Paciente.Primer_apellido}} {{inseminacion.Info_examen.Paciente.Segundo_apellido}} 
			</div>
			<hr/>
			<div class="row container-fluid">
				{% if inseminacion.Volumen == None or inseminacion.Volumen == '' %}
					<label  style = "color:red;" >Volumen: </label> No se ha ingresado detalle
				{% else %}
					<label>Volumen: </label> {{inseminacion.Volumen}} <i>ml</i>
				{% endif %}
				
			</div>
			<div class="row container-fluid">
				{% if inseminacion.Total == None or inseminacion.Total == '' %}
					<label  style = "color:red;" >Recuento total de espermatozoides: </label> No se ha ingresado detalle
				{% else %}
					<label>Recuento total de espermatozoides: </label> {{inseminacion.Total}} <i>X10⁶spz</i>
				{% endif %}
				
			</div>
			<div class="row container-fluid">
				{% if inseminacion.Progresivos == None or inseminacion.Progresivos == '' %}
					<label  style = "color:red;" >Motilidad espermatozoides progresivos: </label> No se ha ingresado detalle
				{% else %}
					<label>Motilidad espermatozoides progresivos: </label> {{inseminacion.Progresivos}} <i>%</i>
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if inseminacion.TEM == None or inseminacion.TEM == '' %}
					<label  style = "color:red;" >Total espermatozoides mótiles progresivos: </label> No se ha ingresado detalle
				{% else %}
					<label>Total espermatozoides mótiles progresivos: </label> {{inseminacion.TEM}} <i>%</i>
				{% endif %}
			</div>	
		</div>

		<div id="post" class="tab-pane fade container">
			<div class="row container-fluid">
				<label>Nombre: </label> {{inseminacion.Info_examen.Paciente.Nombres}} {{inseminacion.Info_examen.Paciente.Primer_apellido}} {{inseminacion.Info_examen.Paciente.Segundo_apellido}} 
			
			</div>
			<hr/>
			<div class="row container-fluid">
				{% if inseminacion.Volumen_post == None or inseminacion.Volumen_post == '' %}
					<label  style = "color:red;" >Volumen: </label> No se ha ingresado detalle
				{% else %}
					<label>Volumen: </label> {{inseminacion.Volumen_post}} <i>ml</i>
				{% endif %}
				
			</div>
			<div class="row container-fluid">
				{% if inseminacion.Total_post == None or inseminacion.Total_post == '' %}
					<label  style = "color:red;" >Recuento total de espermatozoides: </label> No se ha ingresado detalle
				{% else %}
					<label>Recuento total de espermatozoides: </label> {{inseminacion.Total_post}} <i>X10⁶spz</i>
				{% endif %}
				
			</div>
			<div class="row container-fluid">
				{% if inseminacion.Progresivos_post == None or inseminacion.Progresivos_post == '' %}
					<label  style = "color:red;" >Motilidad espermatozoides progresivos: </label> No se ha ingresado detalle
				{% else %}
					<label>Motilidad espermatozoides progresivos: </label> {{inseminacion.Progresivos_post}} <i>%</i>
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if inseminacion.TEM_post == None or inseminacion.TEM_post == '' %}
					<label  style = "color:red;" >Total espermatozoides mótiles progresivos: </label> No se ha ingresado detalle
				{% else %}
					<label>Total espermatozoides mótiles progresivos: </label> {{inseminacion.TEM_post}} <i>%</i>
				{% endif %}
			</div>	
		</div>

		<div id="extra" class="tab-pane fade container">
			<div class="row container-fluid">
				<label>Nombre: </label> {{inseminacion.Info_examen.Paciente.Nombres}} {{inseminacion.Info_examen.Paciente.Primer_apellido}} {{inseminacion.Info_examen.Paciente.Segundo_apellido}} 
			
			</div>
			<hr/>
			<div class="row container-fluid">
				{% if inseminacion.Protocolo == None or inseminacion.Protocolo == '' %}
					<label  style = "color:red;" >Protocolo: </label> No se ha ingresado detalle
				{% else %}
					<label>Protocolo: </label> {{inseminacion.Protocolo}} 
				{% endif %}
				
			</div>
			<hr/>
			<div class="row container-fluid">
				{% if inseminacion.Observacion == None or inseminacion.Observacion == '' %}
					<label  style = "color:red;" >Observación: </label> No se ha ingresado detalle
				{% else %}
					<label>Observación: </label> {{inseminacion.Observacion}} 
				{% endif %}
				
			</div>
			
		</div>

		

	</div>

		
	
</div>	


{% endblock %}
