<!-- Herencia -->
{% extends "base_andrologia.html" %}
<!-- Bloque de título -->
{% block title %}Nueva separación{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}

<!-- Formulario se valida en forms.py/espermio_form -->
<!--Formulario espermiograma, cada pestaña contiene una parte del exanen-->	
					<div  class= "row verde container-fluid">
						<div  class="col-md-6 col-md-offset-6 container-fluid">
						<h2 class="blanco" ><b>Crear separación espermática en orina</b></h2>
						</div>
					</div>
					<br/>
				
<form  action="/andrologia/crear_separacion_o/" method="POST">{% csrf_token %}
	<div class= "container-fluid" >
	
		<div class="col-md-12 container-fluid">
			<ul class="nav nav-tabs">
		  		<li role="presentation" class="active"><a href="#macroscopico" data-toggle="tab">1. Examen macroscópico</a></li>
		  		<li role="presentation"><a href="#microscopico" data-toggle="tab">2. Examen microscópico</a></li>
		  		<li role="presentation"><a href="#motilidad-morfologia" data-toggle="tab">3. Motilidad y 4. Morfología</a></li>
		  		<li role="presentation"><a href="#post-separacion" data-toggle="tab">5. Examen post-separación</a></li>
			</ul>
		</div>	

	 	<div class="tab-content container-fluid ">
	 		<div class="row container-fluid">
			 		<br/>
			 		<br/>
						<hr/>
							<h3><i class="fa fa-user fa-lg" aria-hidden="true"></i>   &nbsp;&nbsp;    {{examen.Paciente.Nombres}} {{examen.Paciente.Primer_apellido}} {{examen.Paciente.Segundo_apellido}} </h3>
						<hr/> 
				</div>
	 		<div id="macroscopico" class="tab-pane fade in active container container-fluid">
						
						
						<!--Fila: Valor por referencia -->	
						<div  class= "row container-fluid">
							<div id="cpestana1" class="form-inline">
				 				<div id="cpestana1" class="col-md-5 ">	
								</div>
								<div id="cpestana1" class="col-md-1 cwhite" >
									
								</div>
				 				<div class="col-md-5 btn">	
								</div>
								<div class="col-md-1 cwhite" >
								
								</div>
				 			</div>
	 					</div>	
				 		<!-- Valor de capor: tiempo de licuefacción y ph -->	
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				
				 				<div class="col-md-2 btn">
									<label>Volumen </label> 
								</div>
								<div class="col-md-3 btn">
									{% if form.Volumen.value  != " " and form.Volumen.value  != None %}
										<input id="multiplicando" type="text"  name="Volumen"  value="{{ form.Volumen.value }}" oninput="multiplicar(); multiplicar_tem();"><i>ml</i>
									{% else %}
										<input id="multiplicando" type="text"  name="Volumen"   oninput="multiplicar(); multiplicar_tem();"><i>ml</i>
									{% endif %}
								</div>
							
								<div class="col-md-1 cwhite" >
								</div>
				 			
				 					<div class="col-md-2 btn alabel">
										<label>Bicarbonato</label>
									</div>
									<div class="col-md-3 btn">
										{{form.Bicarbonato}}
									</div>
								
								<div class="col-md-1 cwhite" >
									
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: tiempo de licuefacción y ph -->	
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Volumen.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Bicarbonato.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: Volumen y viscosidad -->	
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				
				 					<div class="col-md-2 btn">
										<label>Aspecto</label>
									</div>
									<div class="col-md-3 btn">
										{{form.Aspecto}}

									</div>
								
								<div class="col-md-1 cwhite" >
									
								</div>
				 				
				 					<div class="col-md-2 btn">
										<label>Color</label>
									</div>
									<div class="col-md-3 btn">
										{{form.Color}}
									</div>
								
								<div class="col-md-1 cwhite" style="display: none; ">
									{{form.Info_examen}} 
								</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Volumen y viscosidad -->	
						<div class= "row mensaje container-fluid">
							
								<div class="col-md-5 btn">
									{{form.Aspecto.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
										{{form.Color.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div> 	
						</div>
				
						
						<!-- Error de campos: Aspecto y Cuerpos gelatinosos -->	
				 	  
						<!-- Valor de capos: Color y Cuerpos en suspención-->
				 	    <div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje container-fluid">
				 			
				 				<div class="col-md-2 btn">
									<label>PH</label>
								</div>
								<div class="col-md-3 btn">
										{% if form.PH.value  != " " and form.PH.value  != None %}
												<input id="ph" type="text"  maxlength="3" size="5" name="PH"  value="{{ form.PH.value }}">
											{% else %}
												<input id="ph" type="text"  maxlength="3" size="5" name="PH"  >
											{% endif %}
								</div>
								
								<div class="col-md-1 cwhite" >
								</div>
				 				
				 				<div class="col-md-2 btn">
									
								</div>
								<div class="col-md-3 btn">
									
								</div>
							
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Aspecto y Cuerpos gelatinosos --> 
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.PH.errors}}
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
			</div>
			<!-- Contenedor: Examen macroscópico -->
			<div id="microscopico" class="tab-pane fade container container-fluid container-fluid">
						<!-- Fila: Título de examen-->
				
						
						<!-- Fila: Valor por referencia-->
						<div class= "row amensaje container-fluid">
							<div class="form-inline">
				 				<div class="col-sm-5 ">	
								</div>
								<div class="col-sm-1 cwhite" >
									
								</div>
				 				<div class="col-sm-5 btn">	
								</div>
								<div class="col-sm-1 cwhite" >
								
								</div>
				 			</div>
				 		</div>
						<!-- Valor de campos: Concentración espermatica y células redondas-->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label><b>Concentración espemática</b></label>
								</div>
								<div class="col-md-3 btn">
									{% if form.Concentracion.value  != " " and form.Concentracion.value  != None %}
										<input id="multiplicador" type="text"  name="Concentracion" value="{{ form.Concentracion.value }}" oninput="multiplicar(); multiplicar_tem();"><i>x10⁶/ml</i>
									{% else %}
											<input id="multiplicador" type="text"  name="Concentracion" oninput="multiplicar(); multiplicar_tem();" ><i>x10⁶/ml</i>
									{% endif %}
								</div>
								<div class="col-md-1 cwhite" >
								
								</div>
				 				<div class="col-md-2 btn">
									
								</div>
								<div class="col-md-3 btn">
									
								</div>
								<div class="col-md-1 cwhite" >
									
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de capos: Concentración espermatica y células redondas-->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Concentracion.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de campos: Recuento total y Detritus-->
				 	    <div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label><b>Recuento total</b></label>
								</div>
								<div class="col-md-3 btn">
									{% if form.Total.value  != " " and form.Total.value  != None %}
	    								<input id="resultado"  type="text" name="Total" value="{{ form.Total.value }}" oninput="multiplicar_tem();"><i>x10⁶</i>
	    							{% else %}
										<input id="resultado"  type="text" name="Total"  oninput="multiplicar_tem();"><i>x10⁶</i>
	    							{% endif %}
								</div>
								<div class="col-md-1 cwhite" >
									
								</div>
				 				<div class="col-md-2 btn">
								
								</div>
								<div class="col-md-3 btn">
								
								</div>
								<div class="col-md-1 cwhite" >
						    	</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Recuento total y Detritus-->
				 	    <div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Total.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
								
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de campos: Vitalidad y células escamosas-->
				 	    <div class= "row amensaje container-fluid"> 
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>VITALIDAD</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Vitalidad}}<i>%</i>
								</div>
								<div class="col-md-1 cwhite" >
								
								</div>
				 				<div class="col-md-2 btn">
							
								</div>
								<div class="col-md-3 btn">
									
								</div>
								<div class="col-md-1 cwhite" >
						   		</div>
				 	     	</div>
				 	    </div>
						<!-- Error de campos: Vitalidad y células escamosas-->
				 	    <div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Vitalidad.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
			
			</div>
			<!-- Contenedor: Motilidad y Morfologia-->
			<div id="motilidad-morfologia" class="tab-pane fade container container-fluid">
						<!-- Título de examen -->
					
					
						<!-- Fila: Valor por referencia -->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-sm-5 ">	
								</div>
								<div class="col-sm-1 cwhite" >
									
								</div>
				 				<div class="col-sm-5 btn">	
								</div>
								<div class="col-sm-1 cwhite" >
								
								</div>
				 			</div>
						</div>
						<!-- Valor de campos: Progresivos -->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Progresivos</label>
								</div>
								<div class="col-md-3 btn">
									{% if form.Progresivos.value  != " " and form.Progresivos.value  != None %}
										<input id="progresivos" type="text" name="Progresivos" value="{{ form.Progresivos.value }}" onchange="multiplicar_tem();suma();"><i>%</i>
									{% else %}
										<input id="progresivos" type="text" name="Progresivos"  onchange="multiplicar_tem();suma();"><i>%</i>
									{% endif %}
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Defecto cabeza</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Defecto_cabeza}}
								</div>
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Progresivos -->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Progresivos.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Defecto_cabeza.errors}}
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de campos: No progresivos -->
						<div class= "row amensaje container-fluid">
				 	   		<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>No progresivos</label>
								</div>
								<div class="col-md-3 btn">
									{% if form.No_progresivos.value  != " " and form.No_progresivos.value  != None %}
										<input id="no_progresivos" type="text" name="No_progresivos" value="{{ form.No_progresivos.value }}" onchange="suma();"><i>%</i>
									{% else %}
										<input id="no_progresivos" type="text" name="No_progresivos"  onchange="suma();"><i>%</i>
									{% endif %}
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Defecto pieza</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Defecto_pieza}}
								</div>
								<div class="col-md-1 cwhite" >
						    	</div>
				 	    	</div>
						</div>
						<!-- Error de campos: No progresivos -->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.No_progresivos.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Defecto_pieza.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de campos: Inmóviles -->
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Inmóviles</label>
								</div>
								<div class="col-md-3 btn">
									{% if form.Inmoviles.value  != " " and form.Inmoviles.value  != None %}
										<input id="inmoviles" type="text" name="Inmoviles" value="{{ form.Inmoviles.value }}" onchange="suma();"><i>%</i>
									{% else %}
										<input id="inmoviles" type="text" name="Inmoviles"  onchange="suma();"><i>%</i>
									{% endif %}
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Defecto cola</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Defecto_cola}}
								</div>
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Inmoviles -->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Inmoviles.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Defecto_cola.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>

						<!-- Fila: Valor de referencia -->
						
						<!-- Valor de campos: Normales y defectos cabeza -->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Normales </label> 
								</div>
								<div class="col-md-3 btn">
									{% if form.Normales.value  != " " and form.Normales.value  != None %}
										<input id="normales" type="text" name="Normales" value="{{ form.Normales.value }}" onchange="suma_n();"><i>%</i>
									{% else %}
										<input id="normales" type="text" name="Normales"  onchange="suma_n();"><i>%</i>
									{% endif %}
								</div>
								<div class="col-md-1 cwhite" >
								</div>
								<div class="col-md-2 btn">
									<label title=" TOTAL ESPERMATOZOIDES PROGRESIVOS (TEM) en la muestra de orina ">TEM</label> 
								</div>
								<div class="col-md-3 btn">
									{% if form.TEM.value  != " " and form.TEM.value  != None %}
										<input id="tem"  type="text" value="{{ form.TEM.value }}" name="TEM"> <i>x10⁶</i>
									{% else %}
										<input id="tem"  type="text" name="TEM"> <i>x10⁶</i>
									{% endif %}
								</div>
								<div class="col-md-1 cwhite" >
									
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Normales y defectos cabeza -->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Normales.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.TEM.errors}}
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de campos: Anormales y defectos pieza -->
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Anormales</label>
								</div>
								<div class="col-md-3 btn">
									{% if form.Anormales.value  != " " and form.Anormales.value  != None %}
										<input id="anormales" type="text" name="Anormales" value="{{ form.Anormales.value }}" onchange="suma_n();"><i>%</i>
									{% else %}
										<input id="anormales" type="text" name="Anormales"  onchange="suma_n();"><i>%</i>
									{% endif %}
								</div>
								<div class="col-md-1 cwhite" >
									
								</div>
								<div class="col-md-2 btn">
									<label>Observación</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Observacion}}
								</div>
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Anormales y defectos pieza -->
				 	    <div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Anormales.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									 {{form.Observacion.errors}}
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
			</div>
			<!-- Contenedor: Motilidad y Morfologia-->
			<div id="post-separacion" class="tab-pane fade container container-fluid">
						<!-- Título de examen -->
					
					
						<!-- Fila: Valor por referencia -->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-sm-5 ">	
								</div>
								<div class="col-sm-1 cwhite" >
									
								</div>
				 				<div class="col-sm-5 btn">	
								</div>
								<div class="col-sm-1 cwhite" >
									
								</div>
				 			</div>
						</div>
						
						<div class= "row amensaje container-fluid" style="height: 80px;">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Volumen</label>
								</div>
								<div class="col-md-3 btn">
									{% if form.Volumen_post.value  != " " and form.Volumen_post.value  != None %}
	    								<input id="volumen_post"  type="text" name="Volumen_post" value="{{ form.Volumen_post.value }}" oninput="multiplicar_post_s();"><i>ml</i>
	    							{% else %}
										<input id="volumen_post" value= 0.5  type="text" name="Volumen_post"  oninput="multiplicar_post_s();"><i>ml</i>
	    							{% endif %}
								</div>
								<div class="col-md-1 cwhite" >
								
								</div>
				 				<div class="col-md-2 btn">
									<label>Progresivos</label>
								</div>
								<div class="col-md-3 btn">
									{% if form.Progresivos_post.value  != " " and form.Progresivos_post.value  != None %}
	    								<input id="progresivos_post"  type="text" name="Progresivos_post" value="{{ form.Progresivos_post.value }}" onchange="multiplicar_post_s();suma_post();"><i>%</i>
	    							{% else %}
										<input id="progresivos_post"  type="text" name="Progresivos_post"  onchange="multiplicar_post_s();suma_post();"><i>%</i>
	    							{% endif %} 
								</div>
								<div class="col-md-1 cwite" >
									
						   		</div>
				 	    	</div>
						</div>
						
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Volumen.errors}} 
								</div>
								<div class="col-md-1 cwhite" >

								</div>
				 				<div class="col-md-5 btn">
									{{form.Progresivos_post.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
									
								</div>
						</div>


						<div class= "row amensaje container-fluid" style="height: 80px;">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Concentración espermática</label>
								</div>
								<div class="col-md-3 btn">
									{% if form.Concentracion_post.value  != " " and form.Concentracion_post.value  != None %}
	    								<input id="concentracion_post"  type="text" name="Concentracion_post" value="{{ form.Concentracion_post.value }}" oninput="multiplicar_post_s();"><i>x10⁶/ml</i>
	    							{% else %}
										<input id="concentracion_post"  type="text" name="Concentracion_post"  oninput="multiplicar_post_s();"><i>x10⁶/ml</i>
	    							{% endif %}
								</div>
								<div class="col-md-1 cwhite" >
								
								</div>
				 				<div class="col-md-2 btn">
									<label>No progresivos</label>
								</div>
								<div class="col-md-3 btn">
									{% if form.No_progresivos_post.value  != " " and form.No_progresivos_post.value  != None %}
	    								<input id="no_progresivos_post"  type="text" name="No_progresivos_post" value="{{ form.No_progresivos_post.value }}" onchange="suma_post();"><i>%</i>
	    							{% else %}
										<input id="no_progresivos_post"  type="text" name="No_progresivos_post"  onchange="suma_post();"><i>%</i>
	    							{% endif %}
								</div>
								<div class="col-md-1 cwite" >
									
						   		</div>
				 	    	</div>
						</div>
						
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Concentracion_post.errors}} 
								</div>
								<div class="col-md-1 cwhite" >

								</div>
				 				<div class="col-md-5 btn">
									{{form.No_progresivos_post.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
									
								</div>
						</div>
						<!-- Valor de campos: No progresivos -->
						<div class= "row amensaje container-fluid" style="height: 80px;">
				 	   		<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label title=" TOTAL ESPERMATOZOIDES PROGRESIVOS (TEM) en la muestra de orina ">TEM</label>
								</div>
								<div class="col-md-3 btn">
									{% if form.TEM_post.value  != " " and form.TEM_post.value  != None %}
											<input id="tem_post"  type="text" value="{{ form.TEM_post.value }}" name="TEM_post"> <i>x10⁶</i>
									{% else %}
											<input id="tem_post"  type="text" name="TEM_post"> <i>x10⁶</i>
									{% endif %}
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Inmoviles</label>
								</div>
								<div class="col-md-3 btn">
									{% if form.Inmoviles_post.value  != " " and form.Inmoviles_post.value  != None %}
	    								<input id="inmoviles_post"  type="text" name="Inmoviles_post" value="{{ form.Inmoviles_post.value }}" onchange="suma_post();"><i>%</i>
	    							{% else %}
										<input id="inmoviles_post"  type="text" name="Inmoviles_post"  onchange="suma_post();"><i>%</i>
	    							{% endif %} 
								</div>
								<div class="col-md-1 cwhite" >
						    	</div>
				 	    	</div>
						</div>
						<!-- Error de campos: No progresivos -->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.TEM_post.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Inmoviles.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>

					
				
						</div>
			</div>
		
	

			<br/>
			<br/>
		
			<div class="row container-fluid">
				<div class="col-md-2 col-md-offset-10 container-fluid">
		 			<input class="btn btn-default" type="submit" value="Guardar informe" />
		 		</div>
		 	</div>	
		</div>	
	</div>       
	
</form>


{% endblock %}


