<!-- Herencia -->
{% extends "base_andrologia.html" %}
<!-- Bloque de título -->
{% block title %}Editar inseminación{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}

<!-- Formulario se valida en forms.py/espermio_form -->
<!--Formulario espermiograma, cada pestaña contiene una parte del exanen-->	
					<div  class= "row verde">
						<div  class="col-md-5 col-md-offset-7">
						<h2 class="blanco" ><b>Editar inseminación intra uterina</b></h2>
						</div>
					</div>
{% if messages %}
    <div class="container-fluid">
    <br/>
        <ul class="messages">
            {% for msg in messages %}       
            <li>
                <div class="alert alert-{{msg.level_tag}}" role="alert">
            {{msg.message}}
            </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
					<br/>
<form  action="." method="POST">{% csrf_token %}
	<div class= "container-fluid " >
	
		<div class="col-md-12 container-fluid">
			<ul class="nav nav-tabs">
		  		<li role="presentation" class="active"><a href="#nativo" data-toggle="tab">1. Datos semen nativo </a></li>
		  		<li role="presentation"><a href="#post" data-toggle="tab">2. Datos post-separación</a></li>
		  		<li role="presentation"><a href="#observacion" data-toggle="tab">3. Protocolo y observaciones</a></li>
		  		
			</ul>
		</div>	

	 	<div class="tab-content  container-fluid">
	 
	 			<div class="row container-fluid">
			 		<br/>
			 		<br/>
						<hr/>
							<h3><i class="fa fa-user fa-lg" aria-hidden="true"></i>   &nbsp;&nbsp;    {{inseminacion.Info_examen.Paciente.Nombres}} {{inseminacion.Info_examen.Paciente.Primer_apellido}} {{inseminacion.Info_examen.Paciente.Segundo_apellido}} </h3>
						<hr/> 
			</div>
	 		<div id="nativo" class="tab-pane fade in active container container-fluid">
			
						<!--Fila: Valor por referencia -->	
						<div  class= "row container-fluid">
							<div id="cpestana1" class="form-inline">
				 				<div id="cpestana1" class="col-md-5 ">	
								</div>
								<div id="cpestana1" class="col-md-1 cwhite" >
									
								</div>
				 				<div class="col-md-5 btn">	
								</div>
								<div class="col-md-1 cwhite" >
									
								</div>
				 			</div>
	 					</div>	
				 		<!-- Valor de capor: tiempo de licuefacción y ph -->	
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				
				 				<div class="col-md-3 btn">
									<label>Volumen </label> 
								</div>
								<div class="col-md-2 btn">
										{% if form.Volumen.value  != " " and form.Volumen.value  != None %}
											<input id="multiplicando" type="text"  name="Volumen"  value="{{ form.Volumen.value }}" oninput="multiplicar(); multiplicar_tem();"><i>ml</i>
										{% else %}
											<input id="multiplicando" type="text"  name="Volumen"   oninput="multiplicar(); multiplicar_tem();"><i>ml</i>
										{% endif %}
								</div>
								<div class="col-md-1 cwhite" >
								</div>
						
				 			
				 					<div class="col-md-3 btn alabel">
										<label title="Motilidad espermatozoides progresivos" class="container-fluid">Motilidad esp. progresivos</label>
									</div>
									<div class="col-md-2 btn">
										{% if form.Progresivos.value  != " " and form.Progresivos.value  != None %}
											<input id="progresivos" type="text" name="Progresivos" value="{{ form.Progresivos.value }}" oninput="multiplicar_tem();"><i>%</i>
										{% else %}
											<input id="progresivos" type="text" name="Progresivos"  oninput="multiplicar_tem();"><i>%</i>
										{% endif %}
								</div>
								
								<div class="col-md-1 cwhite" >
								</div>
				 	    	</div>
						</div>
						<!-- Error de campos: tiempo de licuefacción y ph -->	
						<div class= "row mensaje v">

								<div class="col-md-4 btn">
									{{form.Volumen.errors}} 
								</div>
								<div class="col-md-2 cwhite" >
								</div>
				 				<div class="col-md-4 btn">
									{{form.Progresivos.errors}} 
								</div>
				 		
								<div class="col-md-2 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: Volumen y viscosidad -->	
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				
				 					<div class="col-md-3 btn">
										<label>Concentración</label>
									</div>
									<div class="col-md-3 btn">
									{% if form.Concentracion.value  != " " and form.Concentracion.value  != None %}
										<input id="multiplicador" type="text"  name="Concentracion" value="{{ form.Concentracion.value }}" oninput="multiplicar(); multiplicar_tem();"><i>x10⁶/ml</i>
									{% else %}
											<input id="multiplicador" type="text"  name="Concentracion" oninput="multiplicar(); multiplicar_tem();" ><i>x10⁶/ml</i>
									{% endif %}
								</div>
								
								
				 				
				 					<div class="col-md-3 btn">
										<label>Total espermatozoides progresivos</label>
									</div>
									<div class="col-md-3 btn">
									{% if form.TEM.value  != " " and form.TEM.value  != None %}
										<input id="tem"  type="text" value="{{ form.TEM.value }}" name="TEM"> <i>x10⁶spz</i>
									{% else %}
										<input id="tem"  type="text" name="TEM"> <i>x10⁶spz</i>
									{% endif %}
									</div>
								
								
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Volumen y viscosidad -->	
						<div class= "row mensaje container-fluid">
							
								<div class="col-md-4 btn">
									{{form.Concentracion.errors}} 
								</div>
								<div class="col-md-2 cwhite" >
								</div>
				 				<div class="col-md-4 btn">
									{{form.TEM.errors}} 
								</div>
				 		
								<div class="col-md-2 cwhite" >
								</div> 	
						</div>
						
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				
				 					<div class="col-md-3 btn">
										<label>Recuento total de espermatozoides</label>
									</div>
									<div class="col-md-3 btn">
	    							{% if form.Total.value  != " " and form.Total.value  != None %}
	    								<input id="resultado"  type="text" name="Total" value="{{ form.Total.value }}" oninput="multiplicar_tem();"><i>x10⁶spz</i>
	    							{% else %}
										<input id="resultado"  type="text" name="Total"  oninput="multiplicar_tem();"><i>x10⁶spz</i>
	    							{% endif %}
									</div>
								
								
				 				
				 					<div class="col-md-3 btn">
										
									</div>
									<div class="col-md-2 btn">
									
									</div>
								
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Volumen y viscosidad -->	
						<div class= "row mensaje container-fluid">
							
								<div class="col-md-4 btn">
									{{form.Total.errors}} 
								</div>
								<div class="col-md-2 cwhite" >
								</div>
				 				<div class="col-md-4 btn">
									
								</div>
				 		
								<div class="col-md-2 cwhite" >
								</div> 	
						</div>
								
			</div>
			<!-- Contenedor: Examen macroscópico -->
			<div id="post" class="tab-pane fade container container-fluid">
						<!-- Fila: Título de examen-->
				
						
						<!-- Fila: Valor por referencia-->
						<div  class= "row container-fluid">
							<div id="cpestana1" class="form-inline">
				 				<div id="cpestana1" class="col-md-5 ">	
								</div>
								<div id="cpestana1" class="col-md-1 cwhite" >
									
								</div>
				 				<div class="col-md-5 btn">	
								</div>
								<div class="col-md-1 cwhite" >
									
								</div>
				 			</div>
	 					</div>	
				 		<!-- Valor de capor: tiempo de licuefacción y ph -->	
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				
				 				<div class="col-md-3 btn">
									<label>Volumen </label> 
								</div>
								<div class="col-md-2 btn">
										{% if form.Volumen_post.value  != " " and form.Volumen_post.value  != None %}
											<input id="multiplicando_post" type="text"  name="Volumen_post"  value="{{ form.Volumen_post.value }}" oninput="multiplicar_post(); multiplicar_tem_post();"><i>ml</i>
										{% else %}
											<input id="multiplicando_post" type="text" value=0.5 name="Volumen_post"   oninput="multiplicar_post(); multiplicar_tem_post();"><i>ml</i>
										{% endif %}

								</div>
							
								<div class="col-md-1 cwhite" >
								</div>
				 			
				 					<div class="col-md-3 btn alabel">
										<label title = "Motilidad espermatozoides progresivos" class="container-fluid">Motilidad esp. progresivos</label>
									</div>
									<div class="col-md-2 btn">
										{% if form.Progresivos_post.value  != " " and form.Progresivos_post.value  != None %}
											<input id="progresivos_post" type="text" name="Progresivos_post" value="{{ form.Progresivos_post.value }}" oninput="multiplicar_tem_post();"><i>%</i>
										{% else %}
											<input id="progresivos_post" type="text" name="Progresivos_post"  oninput="multiplicar_tem_post();"><i>%</i>
										{% endif %}
									</div>
								
								<div class="col-md-1 cwhite" >
								</div>
				 	    	</div>
						</div>
						<!-- Error de campos: tiempo de licuefacción y ph -->	
						<div class= "row mensaje v">

								<div class="col-md-4 btn">
									{{form.Volumen_post.errors}} 
								</div>
								<div class="col-md-2 cwhite" >
								</div>
				 				<div class="col-md-4 btn">
									{{form.Progresivos_post.errors}} 
								</div>
				 		
								<div class="col-md-2 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: Volumen y viscosidad -->	
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				
				 					<div class="col-md-3 btn">
										<label>Concentración</label>
									</div>
									<div class="col-md-3 btn">
									{% if form.Concentracion_post.value  != " " and form.Concentracion_post.value  != None %}
										<input id="multiplicador_post" type="text"  name="Concentracion_post" value="{{ form.Concentracion_post.value }}" oninput="multiplicar_post(); multiplicar_tem_post();"><i>x10⁶/ml</i>
									{% else %}
											<input id="multiplicador_post" type="text"  name="Concentracion_post" oninput="multiplicar_post(); multiplicar_tem_post();" ><i>x10⁶/ml</i>
									{% endif %}
									</div>
								
								
				 				
				 					<div class="col-md-3 btn">
										<label>Total espermatozoides progresivos</label>
									</div>
									<div class="col-md-3 btn">
									{% if form.TEM_post.value  != " " and form.TEM_post.value  != None %}
										<input id="tem_post"  type="text" value="{{ form.TEM_post.value }}" name="TEM_post"> <i>x10⁶spz</i>
									{% else %}
										<input id="tem_post"  type="text" name="TEM_post"> <i>x10⁶spz</i>
									{% endif %}
									</div>
								
								
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Volumen y viscosidad -->	
						<div class= "row mensaje container-fluid">
							
								<div class="col-md-4 btn">
									{{form.Concentracion_post.errors}} 
								</div>
								<div class="col-md-2 cwhite" >
								</div>
				 				<div class="col-md-4 btn">
									{{form.TEM_post.errors}} 
								</div>
				 		
								<div class="col-md-2 cwhite" >
								</div> 	
						</div>
						
						<div class= "row amensaje container-fluid">
				 	    	<div class="form-inline amensaje">
				 				
				 					<div class="col-md-3 btn">
										<label>Recuento total de espermatozoides</label>
									</div>
									<div class="col-md-3 btn">
	    							{% if form.Total_post.value  != " " and form.Total_post.value  != None %}
	    								<input id="resultado_post"  type="text" name="Total_post" value="{{ form.Total_post.value }}" oninput="multiplicar_tem_post();"><i>x10⁶spz</i>
	    							{% else %}
										<input id="resultado_post"  type="text" name="Total_post"  oninput="multiplicar_tem_post();"><i>x10⁶spz</i>
	    							{% endif %}
									</div>
								
								
				 				
				 					<div class="col-md-3 btn">
										
									</div>
									<div class="col-md-2 btn">
									
									</div>
								
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Volumen y viscosidad -->	
						<div class= "row mensaje container-fluid">
							
								<div class="col-md-4 btn">
									{{form.Total_post.errors}} 
								</div>
								<div class="col-md-2 cwhite" >
								</div>
				 				<div class="col-md-4 btn">
									
								</div>
				 		
								<div class="col-md-2 cwhite" >
								</div> 	
						</div>
			</div>
			<!-- Contenedor: Motilidad y Morfologia-->
			<div id="observacion" class="tab-pane fade container">
						<!-- Título de examen -->
						
						<!-- Fila: Valor por referencia -->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-sm-5 ">	
								</div>
								<div class="col-sm-1 cwhite" >
									
								</div>
				 				<div class="col-sm-5 btn">	
								</div>
								<div class="col-sm-1 cwhite" >
								
								</div>
				 			</div>
						</div>
						<!-- Valor de campos: Progresivos -->
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Protocolo</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Protocolo}}
								</div>
								
				 				<div class="col-md-2 btn">
									<label>Observación</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Observacion}}
								</div>
								<div class="col-md-2 cwhite" >
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Progresivos -->
						<div class= "row mensaje container-fluid">

								<div class="col-md-5 btn">
									{{form.Protocolo.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Observacion.errors}}
								</div>
				 		
								<div class="col-md-1 cwhite" style="display: none; ">
								{{form.Info_examen}} 
								</div>
						</div>
						<!-- Valor de campos: No progresivos -->

		
				
			</div>
		
	

			<br/>
			<br/>
		
			<div class="row container-fluid">
				<div class="col-md-2 col-md-offset-10 container-fluid">
		 			<input class="btn btn-default" type="submit" value="Guardar informe" />
		 		</div>
		 	</div>	
		</div>	
	</div>	
      
	
</form>
<hr/>


		
	<div  id class=" container-fluid col-md-12">
			
			 
			
		<div  class= "col-md-9 container-fluid" > 
			<label> Diagnóstico</label>  	
			{% if inseminacion.diagnostico_iiu_set.all %}		
				{% for i in inseminacion.diagnostico_iiu_set.all %}
					<div class=" container-fluid"> 
						&nbsp&nbsp<a color ="red"  href="{% url "eliminar_diagnostico_iiu" i.id pag %}" title= "Eliminar diagnóstico" ><i class="fa fa-times" aria-hidden="true"></i></a>
						&nbsp {{i.get_Diagnostico_display}} &nbsp
						<label> Observación:</label>	&nbsp {{i.Observacion}} &nbsp&nbsp
					</div>
				{% endfor %}
			{% else %}
				<font color = "red">No posee diagnóstico</font>
			{% endif %}
			 
		</div>
		<div class= "col-md-3 container-fluid">
			<a href="{% url "crear_diagnostico_iiu" inseminacion.id pag %}" title= "Agregar diagnóstico" ><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar

		</div> 
	
	
	</div>
<hr/>
<br/>
{% endblock %}