.cgrey{
	
    background: -webkit-linear-gradient(90deg, #B2B2B2 10%, #D8D8D8 90%);
    background:    -moz-linear-gradient(90deg, #B2B2B2 10%, #D8D8D8 90%);
    background:     -ms-linear-gradient(90deg, #B2B2B2 10%, #D8D8D8 90%);
    background:      -o-linear-gradient(90deg, #B2B2B2 10%, #D8D8D8 90%);
    background:         linear-gradient(90deg, #B2B2B2 10%, #D8D8D8 90%);
	height:46px;

}
.cwhite{
	
	height:46px;	
}

.alabel{
	
	align-content: right;
}

.aform{
	
	align-content: left;
	
}
.mensaje{
	height:20px;

}

.amensaje{
	height:40px;

}
.verde{
    background: -webkit-linear-gradient(90deg, #088A85 10%, #04B486 90%);
    background:    -moz-linear-gradient(90deg, #088A85 10%, #04B486 90%);
    background:     -ms-linear-gradient(90deg, #088A85 10%, #04B486 90%);
    background:      -o-linear-gradient(90deg, #088A85 10%, #04B486 90%);
    background:         linear-gradient(90deg, #088A85 10%, #04B486 90%);

}

.blanco{
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}