{% extends "base_andrologia.html" %}
{% block title %}Agregar diagnóstico{% endblock %}
{% load staticfiles %}

{% block content %}  
<div  class= "row container-fluid verde">
    <div  class="col-md-4 col-md-offset-8">
        <h2 class="blanco" ><b>Agregar Diagnóstico</b></h2>
    </div>
</div>

<form action="." method="POST">{% csrf_token %}
	<div class="row container-fluid">
			 		
		<hr/>
		<h3>&nbsp;&nbsp; <i class="fa fa-user fa-lg" aria-hidden="true"></i>   &nbsp;&nbsp;  Separación espermática - {{separacion.Info_examen.Paciente.Nombres}} {{separacion.Info_examen.Paciente.Primer_apellido}} {{separacion.Info_examen.Paciente.Segundo_apellido}} </h3>
		<hr/> 
	</div>
	<br/>
					<!-- Valor de capos: Paciente y Tipo-->
			 	    <div class= "row amensaje container-fluid">
			 	    	<div class="form-inline amensaje">
			 			
			 				<div class="col-md-2 btn">
								<label>Diagnóstico</label>
							</div>
							<div class="col-md-3 btn">
								{{form.Diagnostico}}
								
							</div>
							
						
			 				
			 				<div class="col-md-2 btn">
								<label>Observación</label>
							</div>
							<div class="col-md-3 btn">

								{{form.Observacion}} 
							</div>
						
							<div class="col-md-2 " >
					   		</div>
			 	    	</div>
					</div>
					<!-- Error de campos: Paciente y Tipo --> 
					<div class= "row mensaje container-fluid">

							<div class="col-md-5 btn">
								{{form.Diagnostico.errors}} 
							</div>
							<div class="col-md-1 " style="display: none; ">
								{{form.Separacion}} 
							</div>
			 				<div class="col-md-5 btn">
			 					{{form.Observacion.errors}} 
			 				</div>	
			 				<div class="col-md-1 " >
								
							</div>
			 				<div class="col-md-5 btn" >
			 					
			 				</div>	

			 						
					</div>
				
			 		
	




 			<br/>
			<br/>
		
			<div class="row">
				<div class="col-md-2 col-md-offset-10">
		 			<input class="btn btn-default" type="submit" value="Guardar diagnóstico" />
		 		</div>
		 	</div>	
</form>


{% endblock %}
