
{% extends "base_popup.html" %}
{% block title %}Detalle de pacientes{% endblock %}
{% load staticfiles %}

{% block content %}  
<div  class= "row container-fluid verde">
    <div  class="col-md-3 col-md-offset-1">
        <h3 class="blanco" >Detalle Pacientes</h3>
    </div>
</div>
<br/>
<br/>
<div class="container-fluid">
	<div class="row container-fluid">
		<label>Nombre: </label> {{paciente.Nombres}} {{paciente.Primer_apellido}} {{paciente.Segundo_apellido}}
	</div>
	<div class="row container-fluid">
		<label>Rut: </label> {{paciente.RUN}}-{{paciente.DV}}
	</div>
	<div class="row container-fluid">
		<label>Conyuge: </label> {{paciente.Conyuge}}
	</div>
	<div class="row container-fluid">
		<label>Origen: </label> {{paciente.Origen}}
	</div>
	<div class="row container-fluid">
		<label>Fecha de nacimiento: </label> {{paciente.Fecha_de_nacimiento}}
	</div>
	<div class="row container-fluid">
		<label>Edad: </label> {{paciente.Edad}}
	</div>

	<div class="row container-fluid">
		<label>Email: </label> {{paciente.Email}}
	</div>
	<div class="row container-fluid">
		<label>Telefono: </label> {{paciente.Codigo}}-{{paciente.Telefono}}
	</div>
	<div class="row container-fluid">
		<label>Dirección: </label> {{paciente.Direccion}}
	</div>
	<div class="row container-fluid">
		<label>Ciudad: </label> {{paciente.Ciudad}}
	</div>
</div>	


{% endblock %}


  