{% extends "base_secretaria.html" %}

{% block title %}Lista de pacientes{% endblock %}
{% load staticfiles %}

{% block content %}  
<div  class= "row verde">
    <div  class="col-md-3 col-md-offset-9">
        <h3 class="blanco" >Lista De Pacientes</h3>
    </div>
</div>
<br/>
<br/>

<!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
<!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
<div class="container-fluid">
    <table id="lista" data-toggle="table">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>RUT</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Antecedentes</th>
                <th>Opciones</th>
            </tr>
        </thead>
         <tfoot>
            <tr>
                <th>Paciente</th>
                <th>RUT</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Antecedentes</th>
                <th>Opciones</th>
                
            </tr>
        </tfoot>
        <tbody>
         {% for i in paciente %}
            
            <tr  >
                <td>{{i.Nombres}} {{i.Primer_apellido}} {{i.Segundo_apellido}}</td>
                <td>{{i.RUN}}-{{i.DV}}</td>
                <td>{{i.Email}}</td>
                <td>{{i.Codigo}}-{{i.Telefono}}</td>
                <td style="text-align: center">
                {% if i.antecedentes_habitos_set.all.0  %} 
                    {% if i.Sexo == 1 %}
                        <a title="Ver detalles antecedentes" href="" onclick="return popitup('{% url "detalle_antecedentes_h" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </a> <a href="{% url "editar_antecedentes_h" i.id %}" title= "Editar antecedentes"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                    {% elif i.Sexo == 2 %}
                        <a title="Ver detalles antecedentes" href="" onclick="return popitup('{% url "detalle_antecedentes_m" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </a> <a href="{% url "editar_antecedentes_m" i.id %}" title= "Editar antecedentes"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                    {% endif %}
                
                    
                    
                {% else %}  
                    {% if i.Sexo == 1 %}
                       <a title="Crear antecedentes" href="{% url "crear_antecedentes_h" i.id %}"><i class="fa fa-file" aria-hidden="true"></i> </a>
    				       
                       
                    {% elif i.Sexo == 2 %}
                        <a title="Crear antecedentes" href="{% url "crear_antecedentes_m" i.id %}"><i class="fa fa-file" aria-hidden="true"></i> </a>
                       
                            
                    {% endif %}
                {% endif %}
                       
                </td>
                <td style="text-align: center">
                    <a title="Ver detalles paciente" href="" onclick="return popitup('{% url "detalle_paciente" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a> 

                    </a> <a href="{% url "editar_paciente" i.id %}" title= "Editar paciente"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>

              
                
            </tr>
          
          {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#lista').DataTable();
       
    });

</script>

 

     

{% endblock %}