
{% load staticfiles %}


<html>
  <head>

    <!-- Latest compiled and minified CSS -->


<!-- Optional theme -->

<!-- Latest compiled and minified JavaScript -->

    <script type="text/javascript" src="{% static "frameworks/jquery-1.12.3.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/CDRH.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "frameworks/bootstrap-3.3.6-dist/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "frameworks/bootstrap-3.3.6-dist/css/bootstrap-theme.css" %}">
    <script type="text/javascript" src="{% static "frameworks/bootstrap-3.3.6-dist/js/bootstrap.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.css" %}">
    <script type="text/javascript" charset="utf8" src="{% static "js/jquery.dataTables.js" %}"></script>

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
<!-- Menu -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img id="logo" alt="Brand" src= "{% static "img/cdrh.jpg" %}" height="42" width="42" ></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url "andrologia.views.home_andrologia" %}">Home Andrología <span class="sr-only">(current)</span></a></li>
       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nuevo informe <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url "andrologia.views.crear_espermio" %}"">Espermiograma</a></li>
            <li><a href="#">Separación espermatica</a></li>
            <li><a href="#">Inseminación intra uterina</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separación ADN</a></li>
          </ul>

        </li>
        <li><a href="{% url "andrologia.views.listar_espermio" %}">Ver examenes</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
      </form>
      </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  {% block content %}
  {% endblock %}
    
    

  {% block footer %}
    <hr>
    <p>Hola footer</p>
  {% endblock %}
  
  </body>
</html>




