{% extends "base_andrologia.html" %}

{% block title %}Lista de examenes{% endblock %}
{% load staticfiles %}

{% block content %}  
	
  
<!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
<!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
<div class="container-fluid">
    <table id="lista" data-toggle="table">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Tipo examen</th>
                <th>Estado informe</th>
                <th>Fecha de creación</th>
                <th>Antecedentes</th>
            </tr>
        </thead>
         <tfoot>
            <tr>
                <th>Paciente</th>
                <th>Tipo examen</th>
                <th>Estado informe</th>
                <th>Fecha de creación</th>
                <th>Antecedentes</th>
            </tr>
        </tfoot>
        <tbody>
         {% for i in examen %}
            
            <tr  >
                <td>{{i.Paciente.Nombres}} {{i.Paciente.Primer_apellido}} {{i.Paciente.Segundo_apellido}}</td>
                <td>{{i.get_Tipo_display}}</td>
                <td>{{i.get_Est_informe_display}}</td>
                <td>{{i.Fecha}}</td>
                <td><i class="fa fa-file" aria-hidden="true"></i> Crear antecedentes
				</td> 
                
            </tr>
          
          {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#lista').DataTable();
       
    });

</script>

 

     

{% endblock %}