{% extends "base.html" %}
{% block title %}Nuevo espermiograma{% endblock %}
{% block content %}
<form action="/andrologia/crear_espermio/" method="POST">{% csrf_token %}
{{ form.as_p}}
 <input type="submit" value="Submit" />
 </form>
 </body>
 {% endblock %}