{% extends "base_andrologia.html" %}
{% block title %}Agregar diagnóstico{% endblock %}
{% load staticfiles %}

{% block content %}  
<div  class= "row container-fluid verde">
    <div  class="col-md-3 col-md-offset-1">
        <h3 class="blanco" >Agregar Diagnóstico</h3>
    </div>
</div>
<br/>
<br/>
<form action="." method="POST">{% csrf_token %}
	
					<!-- Valor de capos: Paciente y Tipo-->
			 	    <div class= "row amensaje">
			 	    	<div class="form-inline amensaje">
			 			
			 				<div class="col-md-2 btn">
								<label>Diagnóstico</label>
							</div>
							<div class="col-md-3 btn">
								{{form.Diagnostico}}
								
							</div>
							
							<div class="col-md-1 " >
								
							</div>
			 				
			 				<div class="col-md-2 btn">
								<label>Observación</label>
							</div>
							<div class="col-md-3 btn">

								{{form.Observacion}} 
							</div>
						
							<div class="col-md-1 " >
					   		</div>
			 	    	</div>
					</div>
					<!-- Error de campos: Paciente y Tipo --> 
					<div class= "row mensaje">

							<div class="col-md-5 btn">
								{{form.Diagnostico.errors}} 
							</div>
							<div class="col-md-1 " style="display: none; ">
								{{form.Inseminacion}} 
							</div>
			 				<div class="col-md-5 btn">
			 					{{form.Observacion.errors}} 
			 				</div>	
			 				<div class="col-md-1 " >
								
							</div>
			 				<div class="col-md-5 btn" >
			 					
			 				</div>	

			 						
					</div>
				
			 		
	




 			<br/>
			<br/>
		
			<div class="row">
				<div class="col-md-2 col-md-offset-10">
		 			<input class="btn btn-default" type="submit" value="Guardar diagnóstico" />
		 		</div>
		 	</div>	
</form>


{% endblock %}
