<!-- Herencia -->
{% extends "base_andrologia.html" %}
<!-- Bloque de título -->
{% block title %}Home Andrología{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->

{% block content %}  
	
  
 
<!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
<div class="container-fluid">
    <table id="lista" data-toggle="table">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Hora de llegada</th>
                <th>Tipo de examen</th>
                <th>Estado hora</th>
                <th></th>
            </tr>
        </thead>
         <tfoot>
            <tr>
                <th>Paciente</th>
                <th>Hora de llegada</th>
                <th>Tipo de examen</th>
                <th>Estado hora</th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
         {% for i in examen %}
            
            <tr  >
                <td class = "success">{{i.Paciente}}</td>
                <td>{{i.Fecha}}</td>
                <td>{{i.get_Tipo_display}}</td> 
                <td>
                    
                {% if i.Est_hora == "e" %}
                
                    <i class="fa fa-hand-paper-o fa" aria-hidden="true" title = "En espera"> En espera</i>
                {% elif i.Est_hora == "a" %}
                
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" title = "Atendido"> Atendido</i>
                 {% elif i.Est_hora == "n" %}
                
                   <i class="fa fa-thumbs-o-down" aria-hidden="true" title = "No se presenta"> No se presenta </i>
            
                {% endif %}

                </td>
                <td>
                    {% if i.Est_hora == "e" %}
                        {% if i.Tipo == "es" %}
                            <a href="{% url "crear_espermio" i.id %}"><i class="fa fa-stethoscope" aria-hidden="true" title = "Atender"></i></a>
                        {% elif i.Tipo == "so" %}
                            <a href="{% url "crear_separacion_o" i.id %}"><i class="fa fa-stethoscope" aria-hidden="true" title = "Atender"></i></a>
                        {% elif i.Tipo == "se" %}
                            <a href="{% url "crear_separacion" i.id %}"><i class="fa fa-stethoscope" aria-hidden="true" title = "Atender"></i></a>
                        {% elif i.Tipo == "iiu" %}
                            <a href="{% url "crear_inseminacion" i.id %}"><i class="fa fa-stethoscope" aria-hidden="true" title = "Atender"></i></a>
                        {% endif%}
                        <a href="{% url "editar_examen" i.id %}"><i class="fa fa-file-text-o" aria-hidden="true" title = "Cambiar tipo de examen"></i></a>

                    {% endif %}    
                </td>
            </tr>
          
          {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#lista').DataTable();
       
    });

</script>

 

     

{% endblock %}