
{% extends "base_popup.html" %}
{% block title %}Detalle de pacientes{% endblock %}
{% load staticfiles %}

{% block content %}  
<br/> 
<div  class= "row container-fluid verde">
    <div  class="col-md-3 col-md-offset-1">
        <h3 class="blanco" ><b>Detalle paciente</b></h3>
    </div>
</div>

<div class="container-fluid">
	<div class="row container-fluid">
		<hr/>
			<h4><i class="fa fa-user fa-lg" aria-hidden="true"></i>   &nbsp;&nbsp;    {{paciente.Nombres}} {{paciente.Primer_apellido}} {{paciente.Segundo_apellido}}</h4>
		<hr/> 
	</div>
	
	<div class="row container-fluid">
		{% if paciente.RUN %}
            <label>Rut: </label> {{paciente.RUN}}-{{paciente.DV}}
        {% else %}
            <label>DI: </label> {{paciente.DI}}
        {% endif %}
    </div>
	<div class="row container-fluid">
		{% if paciente.Nacionalidad == None or paciente.Nacionalidad == '' %}
			<label  style = "color:red;" >Nacionalidad: </label> No se ha ingresado detalle
		{% else %}
			<label>Nacionalidad: </label> {{paciente.get_Nacionalidad_display}} 
		{% endif %}
	</div>
	<div class="row container-fluid">
		<label>Sexo: </label> {{paciente.get_Sexo_display}}
	</div>
	<div class="row container-fluid">
		{% if paciente.Conyuge == None or paciente.Conyuge == '' %}
			<label  style = "color:red;" >Conyuge: </label> No se ha ingresado detalle
		{% else %}
			<label>Conyuge: </label> {{paciente.Conyuge}} 
		{% endif %}
	</div>
	<div class="row container-fluid">
		<label>Origen: </label> {{paciente.get_Origen_display}}
	</div>
	<div class="row container-fluid">
		<label>Fecha de nacimiento: </label> {{paciente.Fecha_de_nacimiento |date:"d F Y."}}
	</div>
	<div class="row container-fluid">
		<label>Edad: </label> {{paciente.Edad}}
	</div>

	<div class="row container-fluid">
		{% if paciente.Email == None or paciente.Email == '' %}
			<label  style = "color:red;" >Email: </label> No se ha ingresado detalle
		{% else %}
			<label>Email: </label> {{paciente.Email}} 
		{% endif %}
	</div>
	<div class="row container-fluid">
		{% if paciente.Telefono == None or paciente.Telefono == '' %}
			<label  style = "color:red;" >Telefono: </label> No se ha ingresado detalle
		{% else %}
			<label>Telefono: </label> {{paciente.Codigo}}-{{paciente.Telefono}}
		{% endif %}
	</div>
	<div class="row container-fluid">
		<label>Dirección: </label> {{paciente.Direccion}}
	</div>
	<div class="row container-fluid">
		<label>Ciudad: </label> {{paciente.Ciudad}}
	</div>
	<div class="row container-fluid">
		{% if paciente.Region == None or paciente.Region == '' %}
			<label  style = "color:red;" >Región: </label> No se ha ingresado detalle
		{% else %}
			<label>Región: </label> {{paciente.get_Region_display}} 
		{% endif %}
	</div>
	<div class="row container-fluid">
		{% if paciente.Provincia == None or paciente.Provincia == '' %}
			<label  style = "color:red;" >Provincia: </label> No se ha ingresado detalle
		{% else %}
			<label>Provincia: </label> {{paciente.get_Provincia_display}} 
		{% endif %}
	</div>	
	<div class="row container-fluid">
		{% if paciente.Comuna == None or paciente.Comuna == '' %}
			<label  style = "color:red;" >Comuna: </label> No se ha ingresado detalle
		{% else %}
			<label>Comuna: </label> {{paciente.get_Comuna_display}} 
		{% endif %}
	</div>
</div>	


{% endblock %}


  