{% extends "base_andrologia.html" %}
{% block title %}Editar paciente{% endblock %}
{% block content %}
<script type="text/javascript">
	 $(function() {
            $( "#id_date" ).datepicker({ dateFormat: 'dd-mm-yy' });
        });
</script>
<div class="container-fluid">
	<form action="." method="POST">{% csrf_token %}
	

			<div  class= "row verde">
							<div  class="col-xs-3 col-xs-offset-9">
							<h2 class="blanco" ><b>Editar paciente</b></h2>
							</div>
						</div>
						<br/>
						<br/>
						<!--Fila: Valor por referencia -->	
						<div  class= "row">
							<div id="cpestana1" class="form-inline">
				 				<div class="col-xs-5 ">	
								</div>
								<div  class="col-xs-1 " >
									
								</div>
				 				<div class="col-xs-5 btn">	
								</div>
								<div class="col-xs-1 " >
									
								</div>
				 			</div>
	 					</div>	
				 		<!-- Valor de capor: nombres y apellido paterno -->	
						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje container-fluid">
				 				
				 				<div class="col-xs-1 btn col-lg-1" style="text-align: right">
									<label>Nombre(s) </label> 
								</div>
								<div class="col-xs-2 btn col-lg-2" style="text-align: left">
									{{form.Nombres}} 
								</div>
							
								
				 			
				 					<div class="col-xs-2 btn alabel col-lg-2" style="text-align: right">
										<label>Apellido paterno</label>
									</div>
									<div class="col-xs-2  col-lg-2 btn" style="text-align: left">
										{{form.Primer_apellido}}
									</div>

									<div class="col-xs-2  col-lg-2 btn" style="text-align: right">
										<label>Apellido materno</label>
									</div>
									<div class="col-xs-2 col-lg-2 btn" style="text-align: left">
										{{form.Segundo_apellido}}
									</div>

								<div class="col-xs-1 col-lg-1" >
								</div> 	
								
				 	    	</div>
						</div>
						<!-- Error de campos: nombres y apellido paterno -->	
						<div class= "row mensaje">

								<div class="col-sm-3 col-lg-3 btn">
									{{form.Nombres.errors}} 
								</div>
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
				 				<div class="col-sm-3 col-lg-3 btn">
									{{form.Primer_apellido.errors}} 
								</div>
				 		
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
								<div class="col-sm-3 col-lg-3 btn">
									{{form.Segundo_apellido.errors}} 
								</div>
				 		
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
						</div>


						<div class= "row amensaje container-fluid" style="height: 70px;">
							<div class="form-inline amensaje container-fluid">
				 				
				 				<div class="col-xs-1 btn col-lg-1" style="text-align: right">
									<label>Rut </label> 
								</div>
								<div class="col-xs-2 btn col-lg-2" style="text-align: left">
									{% if form.RUN.value  != " " and form.RUN.value  != None and form.DV.value  != " " and form.DV.value  != None %}
											<input id="rut" type="text"  maxlength="8" size="10" name="RUN" value="{{ form.RUN.value }}" oninput="validar_rut()" > <input id="dv" type="text"  maxlength="1" size="2" name="DV" value="{{ form.DV.value }}" oninput="validar_rut()" >
											
										{% else %}
											<input id="rut" type="text"  maxlength="8" size="10" name="RUN" oninput="validar_rut()" > <input id="dv" type="text"  maxlength="1" size="2" name="DV" oninput="validar_rut()" >
											
										{% endif %}

								</div>
							
								
				 			
				 					<div class="col-xs-2 btn alabel col-lg-2" style="text-align: right">
										<label>DI</label>
									</div>
									<div class="col-xs-2  col-lg-2 btn" style="text-align: left">
										{{form.DI}}
									</div>

									<div class="col-xs-2  col-lg-2 btn" style="text-align: right">
										<label>Sexo</label>
									</div>
									<div class="col-xs-2 col-lg-2 btn" style="text-align: left">
										{{form.Sexo}}
									</div>

								<div class="col-xs-1 col-lg-1" >
								</div> 	
								
				 	    	</div>
						</div>
						<!-- Error de campos: nombres y apellido paterno -->	
						<div class= "row mensaje">

								<div class="col-sm-3 col-lg-3 btn">
									{{form.RUN.errors}} 
									{{form.DV.errors}} 
									<p class="text-info" id="msgerror"></p>

								</div>
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
				 				<div class="col-sm-3 col-lg-3 btn">
									{{form.DI.errors}} 
								</div>
				 		
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
								<div class="col-sm-3 col-lg-3 btn">
									{{form.Sexo.errors}} 
								</div>
				 		
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
						</div>


						<div class= "row amensaje container-fluid" style="height: 70px;">
							<div class="form-inline amensaje container-fluid">
				 				
				 				<div class="col-xs-1 btn col-lg-1" style="text-align: right">
									<label>Nacimiento </label> 
								</div>
								<div class="col-xs-2 btn col-lg-2" style="text-align: left">
									{{form.Fecha_de_nacimiento}}

								</div>
							
								
				 			
				 					<div class="col-xs-2 btn alabel col-lg-2" style="text-align: right">
										<label>Edad</label>
									</div>
									<div class="col-xs-1  col-lg-1 btn" style="text-align: left">
										{{form.Edad}}
									</div>

									<div class="col-xs-2  col-lg-2 btn" style="text-align: right">
										<label>Cónyuge</label>
									</div>
									<div class="col-xs-3 col-lg-3 btn" style="text-align: left">
										{{form.Conyuge}}
									</div>

								<div class="col-xs-1 col-lg-1" style="text-align: left">
								<a class="navbar-brand" title = " Crear nuevo paciente" href="{% url "paciente.views.crear_paciente" %}"><i class="fa fa-user-plus" aria-hidden="true"></i></a>	
								</div> 	
								
				 	    	</div>
						</div>
						<!-- Error de campos: nombres y apellido paterno -->	
						<div class= "row mensaje">

								<div class="col-sm-3 col-lg-3 btn">
									{{form.Nacimiento.errors}} 
								</div>
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
				 				<div class="col-sm-3 col-lg-3 btn">
									{{form.Edad.errors}} 
								</div>
				 		
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
								<div class="col-sm-3 col-lg-3 btn">
									{{form.Conyuge.errors}} 
								</div>
				 		
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
						</div>


						<div class= "row amensaje container-fluid" style="height: 80px;">
							<div class="form-inline amensaje container-fluid">
				 				
				 				<div class="col-xs-1 btn col-lg-1" style="text-align: right">
									<label>Email </label> 
								</div>
								<div class="col-xs-2 btn col-lg-2" style="text-align: left">
									{{form.Email}} 
								</div>
							
								
				 			
				 					<div class="col-xs-2 btn alabel col-lg-2" style="text-align: right">
										<label>Telefono</label>
									</div>
									<div class="col-xs-2  col-lg-2 btn" style="text-align: left">
										{{form.Codigo}} {{form.Telefono}}
									</div>

									<div class="col-xs-2  col-lg-2 btn" style="text-align: right">
										<label>Origen</label>
									</div>
									<div class="col-xs-2 col-lg-2 btn" style="text-align: left">
										{{form.Origen}}
									</div>

								<div class="col-xs-1 col-lg-1" >
								</div> 	
								
				 	    	</div>
						</div>
						<!-- Error de campos: nombres y apellido paterno -->	
						<div class= "row mensaje">

								<div class="col-sm-3 col-lg-3 btn">
									{{form.Email.errors}} 
								</div>
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
				 				<div class="col-sm-3 col-lg-3 btn">
									{{form.Telefono.errors}} 
								</div>
				 		
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
								<div class="col-sm-3 col-lg-3 btn">
									{{form.Origen.errors}} 
								</div>
				 		
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
						</div>


						<div class= "row amensaje container-fluid" style="height: 70px;">
							<div class="form-inline amensaje container-fluid">
				 				
				 				<div class="col-xs-1 btn col-lg-1" style="text-align: right">
									<label>Dirección </label> 
								</div>
								<div class="col-xs-2 btn col-lg-2" style="text-align: left">
									{{form.Direccion}} 
								</div>
							
								
				 			
				 					<div class="col-xs-2 btn alabel col-lg-2" style="text-align: right">
										<label>Ciudad</label>
									</div>
									<div class="col-xs-2  col-lg-2 btn" style="text-align: left">
										{{form.Ciudad}}
									</div>

									<div class="col-xs-2  col-lg-2 btn" style="text-align: right">
										<label>Región</label>
									</div>
									<div class="col-xs-2 col-lg-2 btn" style="text-align: left">
										{{form.Region}}
									</div>

								<div class="col-xs-1 col-lg-1" >
								</div> 	
								
				 	    	</div>
						</div>
						<!-- Error de campos: nombres y apellido paterno -->	
						<div class= "row mensaje">

								<div class="col-sm-3 col-lg-3 btn">
									{{form.Direccion.errors}} 
								</div>
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
				 				<div class="col-sm-3 col-lg-3 btn">
									{{form.Ciudad.errors}} 
								</div>
				 		
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
								<div class="col-sm-3 col-lg-3 btn">
									{{form.Region.errors}} 
								</div>
				 		
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
						</div>


						<div class= "row amensaje container-fluid">
							<div class="form-inline amensaje container-fluid">
				 				
				 				<div class="col-xs-1 btn col-lg-1" style="text-align: right">
									<label>Provincia</label> 
								</div>
								<div class="col-xs-2 btn col-lg-2" style="text-align: left">
									{{form.Provincia}} 
								</div>
							
								
				 			
				 					<div class="col-xs-2 btn alabel col-lg-2" style="text-align: right">
										<label>Comuna</label>
									</div>
									<div class="col-xs-2  col-lg-2 btn" style="text-align: left">
										{{form.Comuna}}
									</div>

									<div class="col-xs-2  col-lg-2 btn" style="text-align: right">
										<label>Nacionalidad</label>
									</div>
									<div class="col-xs-2 col-lg-2 btn" style="text-align: left">
										{{form.Nacionalidad}}
									</div>

								<div class="col-xs-1 col-lg-1" >
								</div> 	
								
				 	    	</div>
						</div>
						<!-- Error de campos: nombres y apellido paterno -->	
						<div class= "row mensaje">

								<div class="col-sm-3 col-lg-3 btn">
									{{form.Provincia.errors}} 
								</div>
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
				 				<div class="col-sm-3 col-lg-3 btn">
									{{form.Comuna.errors}} 
								</div>
				 		
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
								<div class="col-sm-3 col-lg-3 btn">
									{{form.Nacionalidad.errors}} 
								</div>
				 		
								<div class="col-sm-1 col-lg-1 cwhite" >
								</div>
						</div>

		
						
				 		






	 			<br/>
				<br/>
			
				<div class="row">
					<div class="col-xs-2 col-xs-offset-10">
			 			<input class="btn btn-default" type="submit" value="Editar paciente" />
			 		</div>
			 	</div>
	</form>
</div>
 {% endblock %}