{% extends "base_popup.html" %}
{% block title %}Detalle separación espermática{% endblock %}
{% load staticfiles %}

{% block content %}  
<br/>
<div  class= "row container-fluid verde">
    <div  class="col-md-3 col-md-offset-1">
        <h3 class="blanco" ><b> Detalle de separación espermática</b></h3>
    </div>
</div>
<br/>
<div class="container-fluid">
	
	<div class="container-fluid">
		<ul class="nav nav-tabs container-fluid">
		  	<li role="presentation" class="active"><a href="#macroscopico" data-toggle="tab">1. Macroscópico</a></li>
		  	<li role="presentation"><a href="#microscopico" data-toggle="tab">2. Microscópico</a></li>
		  	<li role="presentation"><a href="#motilidad-morfologia" data-toggle="tab">3. Motilidad y 4. Morfología</a></li>
		  	<li role="presentation"><a href="#post" data-toggle="tab">5. Post separación</a></li>
		  
		  		
		</ul>
	</div>
	
	<div class="tab-content container-fluid">
		<div class="row container-fluid">
			<hr/>
				<h4><i class="fa fa-user fa-lg" aria-hidden="true"></i>   &nbsp;&nbsp;    {{separacion.Info_examen.Paciente.Nombres}} {{separacion.Info_examen.Paciente.Primer_apellido}} {{separacion.Info_examen.Paciente.Segundo_apellido}} </h4>
			<hr/> 
		</div>
		<div id="macroscopico" class="tab-pane fade in active container">
			
			<div class="row container-fluid">
				{% if separacion.Tiempo_licu == None or separacion.Tiempo_licu == '' %}
					<label  style = "color:red;" >Tiempo Licuefacción: </label> No se ha ingresado detalle
				{% else %}
					<label>Tiempo Licuefacción: </label> {{separacion.Tiempo_licu}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if separacion.Volumen == None or separacion.Volumen == '' %}
					<label  style = "color:red;" >Volumen: </label> No se ha ingresado detalle
				{% else %}
					<label>Volumen: </label> {{separacion.Volumen}} <i>ml</i>
				{% endif %}	
			</div>
			<div class="row container-fluid">
				{% if separacion.Aspecto == None or separacion.Aspecto == '' %}
					<label  style = "color:red;" >Aspecto: </label> No se ha ingresado detalle
				{% else %}
					<label>Aspecto: </label> {{separacion.get_Aspecto_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if separacion.Color == None or separacion.Color == '' %}
					<label  style = "color:red;" >Color: </label> No se ha ingresado detalle
				{% else %}
					<label>Color: </label> {{separacion.get_Color_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if separacion.PH == None or separacion.PH == '' %}
					<label  style = "color:red;" >PH: </label> No se ha ingresado detalle
				{% else %}
					<label>PH: </label> {{separacion.PH}} 
				{% endif %}
			</div>	
			<div class="row container-fluid">
				{% if separacion.Viscosidad == None or separacion.Viscosidad == '' %}
					<label  style = "color:red;" >Viscosidad: </label> No se ha ingresado detalle
				{% else %}
					<label>Viscosidad: </label> {{separacion.get_Viscosidad_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if separacion.Cuerpos_gelatinosos == None or separacion.Cuerpos_gelatinosos == '' %}
					<label  style = "color:red;" >Cuerpos gelatinosos: </label> No se ha ingresado detalle
				{% else %}
					<label>Cuerpos gelatinosos: </label> {{separacion.get_Cuerpos_gelatinosos_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if separacion.Cuerpos_en_suspen == None or separacion.Cuerpos_en_suspen == '' %}
					<label  style = "color:red;" >Cuerpos en suspensión: </label> No se ha ingresado detalle
				{% else %}
					<label>Cuerpos en suspensión: </label> {{separacion.get_Cuerpos_en_suspen_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if separacion.Cuerpos_mucosos == None or separacion.Cuerpos_mucosos == '' %}
					<label  style = "color:red;" >Cuerpos mucosos: </label> No se ha ingresado detalle
				{% else %}
					<label>Cuerpos mucosos: </label> {{separacion.get_Cuerpos_mucosos_display}} 
				{% endif %}
			</div>
		</div>

		<div id="microscopico" class="tab-pane fade container">
			<div class="row container-fluid">
				{% if separacion.Concentracion == None or separacion.Concentracion == '' %}
					<label  style = "color:red;" >Concentración espermática: </label> No se ha ingresado detalle
				{% else %}
					<label>Concentración espermática: </label> {{separacion.Concentracion}} <i>x10⁶/ml</i>
				{% endif %}	
			</div>
			<div class="row container-fluid">
				{% if separacion.Total == None or separacion.Total == '' %}
					<label  style = "color:red;" >Recuento total de espermatozoides: </label> No se ha ingresado detalle
				{% else %}
					<label>Recuento total de espermatozoides: </label> {{separacion.Total}} <i>x10⁶</i>
				{% endif %}	
			</div>
			<div class="row container-fluid">
				{% if separacion.Vitalidad == None or separacion.Vitalidad == '' %}
					<label  style = "color:red;" >Vitalidad: </label> No se ha ingresado detalle
				{% else %}
					<label>Vitalidad: </label> {{separacion.Vitalidad}} <i>%</i>
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if separacion.Celulas_redondas == None or separacion.Celulas_redondas == '' %}
					<label  style = "color:red;" >Células redondas: </label> No se ha ingresado detalle
				{% else %}
					<label>Células redondas: </label> {{separacion.get_Celulas_redondas_display}} <i>X10⁶/ml</i>
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if separacion.Detritus == None or separacion.Detritus == '' %}
					<label  style = "color:red;" >Detritus: </label> No se ha ingresado detalle
				{% else %}
					<label>Detritus: </label> {{separacion.get_Detritus_display}} 
				{% endif %}
			</div>	
			<div class="row container-fluid">
				{% if separacion.Celulas_escamosas == None or separacion.Celulas_escamosas == '' %}
					<label  style = "color:red;" >Células escamosas: </label> No se ha ingresado detalle
				{% else %}
					<label>Células escamosas: </label> {{separacion.get_Celulas_escamosas_display}} 
				{% endif %}
			</div>	
			<div class="row container-fluid">
				{% if separacion.Aglutinacion == None or separacion.Aglutinacion == '' %}
					<label  style = "color:red;" >Aglutinación: </label> No se ha ingresado detalle
				{% else %}
					<label>Aglutinación: </label> {{separacion.get_Aglutinacion_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if separacion.Pseudoaglutinacion == None or separacion.Pseudoaglutinacion == '' %}
					<label  style = "color:red;" >Pseudoaglutinación: </label> No se ha ingresado detalle
				{% else %}
					<label>Pseudoaglutinación: </label> {{separacion.get_Pseudoaglutinacion_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if separacion.Cristales == None or separacion.Cristales == '' %}
					<label  style = "color:red;" >Cristales: </label> No se ha ingresado detalle
				{% else %}
					<label>Cristales: </label> {{separacion.get_Cristales_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if separacion.Mucus == None or separacion.Mucus == '' %}
					<label  style = "color:red;" >Mucus: </label> No se ha ingresado detalle
				{% else %}
					<label>Mucus: </label> {{separacion.get_Mucus_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if separacion.Bacterias == None or separacion.Bacterias == '' %}
					<label  style = "color:red;" >Bacterias: </label> No se ha ingresado detalle
				{% else %}
					<label>Bacterias: </label> {{separacion.get_Bacterias_display}} 
				{% endif %}
			</div>
		</div>

		<div id="motilidad-morfologia" class="tab-pane fade container">
			<div class="row container-fluid">
				{% if separacion.Progresivos == None or separacion.Progresivos == '' %}
					<label  style = "color:red;" >Progresivos: </label> No se ha ingresado detalle
				{% else %}
					<label>Progresivos: </label> {{separacion.Progresivos}} <i>%</i> 
				{% endif %}
				
			</div>
			<div class="row container-fluid">
				{% if separacion.No_progresivos == None or separacion.No_progresivos == '' %}
					<label  style = "color:red;" >No progresivos: </label> No se ha ingresado detalle 
				{% else %}
					<label>No progresivos: </label> {{separacion.No_progresivos}} <i>%</i>
				{% endif %}
				
			</div>
			<div class="row container-fluid">
				{% if separacion.Inmoviles == None or separacion.Inmoviles == '' %}
					<label  style = "color:red;" >Inmóviles: </label> No se ha ingresado detalle
				{% else %}
					<label>Inmóviles: </label> {{separacion.Inmoviles}} <i>%</i>
				{% endif %}
				
			</div>
			<div class="row container-fluid">
				{% if separacion.Normales == None or separacion.Normales == '' %}
					<label  style = "color:red;" >Normales: </label> No se ha ingresado detalle
				{% else %}
					<label>Normales: </label> {{separacion.Normales}} <i>%</i>
				{% endif %}
			<div class="row container-fluid">
				{% if separacion.Anormales == None or separacion.Anormales == '' %}
					<label  style = "color:red;" >Anormales: </label> No se ha ingresado detalle
				{% else %}
					<label>Anormales: </label> {{separacion.Anormales}} <i>%</i>
				{% endif %}		
			</div>
			<div class="row container-fluid">
				{% if separacion.Defecto_cabeza == None or separacion.Defecto_cabeza == '' %}
					<label  style = "color:red;" >Defecto cabeza: </label> No se ha ingresado detalle
				{% else %}
					<label>Defecto cabeza: </label> {{separacion.Defecto_cabeza}} 
				{% endif %}		
			</div>
			<div class="row container-fluid">
				{% if separacion.Defecto_pieza == None or separacion.Defecto_pieza == '' %}
					<label  style = "color:red;" >Defecto pieza 1/2: </label> No se ha ingresado detalle
				{% else %}
					<label>Defecto pieza 1/2: </label> {{separacion.Defecto_pieza}} 
				{% endif %}		
			</div>
			<div class="row container-fluid">
				{% if separacion.Defecto_cola == None or separacion.Defecto_cola == '' %}
					<label  style = "color:red;" >Defecto cola: </label> No se ha ingresado detalle
				{% else %}
					<label>Defecto cola: </label> {{separacion.Defecto_cola}} 
				{% endif %}		
			</div>
			<hr/>
			<div class="row container-fluid">
				{% if separacion.TEM == None or separacion.TEM == '' %}
					<label  style = "color:red;" >TOTAL ESPERMATOZOIDES PROGRESIVOS (TEM) en la muestra seminal: </label> No se ha ingresado detalle
				{% else %}
					<label>TOTAL ESPERMATOZOIDES PROGRESIVOS (TEM) en la muestra seminal: </label> {{separacion.TEM}} x10⁶
				{% endif %}		
			</div>
			<hr/>
			<div class="row container-fluid">
				{% if separacion.Protocolo == None or separacion.Protocolo == '' %}
					<label  style = "color:red;" >Protocolo: </label> No se ha ingresado detalle
				{% else %}
					<label>Protocolo: </label> {{separacion.get_Protocolo_display}} 
				{% endif %}		
			</div>
				
			</div>
		</div>
		<div id="post" class="tab-pane fade container">
			<div class="row container-fluid">
				{% if separacion.Volumen_post == None or separacion.Volumen_post == '' %}
					<label  style = "color:red;" >Volumen: </label> No se ha ingresado detalle
				{% else %}
					<label>Volumen: </label> {{separacion.Volumen_post}} <i>ml</i>
				{% endif %}	
			</div>
			<div class="row container-fluid">
				{% if separacion.Concentracion_post == None or separacion.Concentracion_post == '' %}
					<label  style = "color:red;" >Concentración espermática: </label> No se ha ingresado detalle
				{% else %}
					<label>Concentración espermática: </label> {{separacion.Concentracion_post}} <i>x10⁶/ml</i>
				{% endif %}	
			</div>
			<div class="row container-fluid">
				{% if separacion.Progresivos_post == None or separacion.Progresivos_post == '' %}
					<label  style = "color:red;" >Progresivos: </label> No se ha ingresado detalle
				{% else %}
					<label>Progresivos: </label> {{separacion.Progresivos_post}} <i>%</i> 
				{% endif %}
				
			</div>
			<div class="row container-fluid">
				{% if separacion.No_progresivos_post == None or separacion.No_progresivos_post == '' %}
					<label  style = "color:red;" >No progresivos: </label> No se ha ingresado detalle 
				{% else %}
					<label>No progresivos: </label> {{separacion.No_progresivos_post}} <i>%</i>
				{% endif %}
				
			</div>
			<div class="row container-fluid">
				{% if separacion.Inmoviles_post == None or separacion.Inmoviles_post == '' %}
					<label  style = "color:red;" >Inmóviles: </label> No se ha ingresado detalle
				{% else %}
					<label>Inmóviles: </label> {{separacion.Inmoviles_post}} <i>%</i>
				{% endif %}
				
			</div>
			
			<hr/>
			<div class="row container-fluid">
				{% if separacion.TEM_post == None or separacion.TEM_post == '' %}
					<label  style = "color:red;" >TOTAL ESPERMATOZOIDES PROGRESIVOS (TEM) en la muestra seminal: </label> No se ha ingresado detalle
				{% else %}
					<label>TOTAL ESPERMATOZOIDES PROGRESIVOS (TEM) en la muestra seminal: </label> {{separacion.TEM_post}} x10⁶
				{% endif %}		
			</div>
			
			
				
			</div>
		</div>

		<hr/>
		<div class="container-fluid">
		{% if separacion.diagnostico_se_set.all %}		
			<div class="row container-fluid"> 			
				 <label> Diagnóstico</label>
			</div>
			<br/>
				{% for i in separacion.diagnostico_se_set.all %}
					<div class="row container-fluid"> 
						<i class="fa fa-medkit" aria-hidden="true"></i>&nbsp {{i.get_Diagnostico_display}} &nbsp
						{% if i.Observacion %}
							<label> Observación:</label>	&nbsp {{i.Observacion}} 
						{% endif %}
					</div>
				{% endfor %}
					
		{% else %}

		     <font color = "red">No posee diagnóstico</font>
		{% endif %}
	</div>
	</div>
	
</div>	


{% endblock %}
