{% extends "base_popup.html" %}
{% block title %}Detalle espermiograma{% endblock %}
{% load staticfiles %}

{% block content %}  
<br/>
<div  class= "row container-fluid verde">
    <div  class="col-md-3 col-md-offset-1">
        <h3 class="blanco" ><b>Detalle de espermiograma</b></h3>
    </div>
</div>
<br/>
<div class="container-fluid">
	
	<div class="container-fluid">
		<ul class="nav nav-tabs container-fluid">
		  	<li role="presentation" class="active"><a href="#macroscopico" data-toggle="tab">1. Macroscópico</a></li>
		  	<li role="presentation"><a href="#microscopico" data-toggle="tab">2. Microscópico</a></li>
		  	<li role="presentation"><a href="#motilidad-morfologia" data-toggle="tab">3. Motilidad y 4. Morfología</a></li>
		  
		  		
		</ul>
	</div>
	<div class="tab-content container-fluid">
		<div class="row container-fluid">
		<hr/>
			<h4><i class="fa fa-user fa-lg" aria-hidden="true"></i>   &nbsp;&nbsp;    {{espermio.Info_examen.Paciente.Nombres}} {{espermio.Info_examen.Paciente.Primer_apellido}} {{espermio.Info_examen.Paciente.Segundo_apellido}} </h4>
		<hr/> 
		</div>
		<div id="macroscopico" class="tab-pane fade in active container">
			
	
			<div class="row container-fluid">
				{% if espermio.Tiempo_licu == None or espermio.Tiempo_licu == '' %}
					<label  style = "color:red;" >Tiempo Licuefacción: </label> No se ha ingresado detalle
				{% else %}
					<label>Tiempo Licuefacción: </label> {{espermio.Tiempo_licu}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if espermio.Volumen == None or espermio.Volumen == '' %}
					<label  style = "color:red;" >Volumen: </label> No se ha ingresado detalle
				{% else %}
					<label>Volumen: </label> {{espermio.Volumen}} <i>ml</i>
				{% endif %}	
			</div>
			<div class="row container-fluid">
				{% if espermio.Aspecto == None or espermio.Aspecto == '' %}
					<label  style = "color:red;" >Aspecto: </label> No se ha ingresado detalle
				{% else %}
					<label>Aspecto: </label> {{espermio.get_Aspecto_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if espermio.Color == None or espermio.Color == '' %}
					<label  style = "color:red;" >Color: </label> No se ha ingresado detalle
				{% else %}
					<label>Color: </label> {{espermio.get_Color_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if espermio.PH == None or espermio.PH == '' %}
					<label  style = "color:red;" >PH: </label> No se ha ingresado detalle
				{% else %}
					<label>PH: </label> {{espermio.PH}} 
				{% endif %}
			</div>	
			<div class="row container-fluid">
				{% if espermio.Viscosidad == None or espermio.Viscosidad == '' %}
					<label  style = "color:red;" >Viscosidad: </label> No se ha ingresado detalle
				{% else %}
					<label>Viscosidad: </label> {{espermio.get_Viscosidad_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if espermio.Cuerpos_gelatinosos == None or espermio.Cuerpos_gelatinosos == '' %}
					<label  style = "color:red;" >Cuerpos gelatinosos: </label> No se ha ingresado detalle
				{% else %}
					<label>Cuerpos gelatinosos: </label> {{espermio.get_Cuerpos_gelatinosos_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if espermio.Cuerpos_en_suspen == None or espermio.Cuerpos_en_suspen == '' %}
					<label  style = "color:red;" >Cuerpos en suspensión: </label> No se ha ingresado detalle
				{% else %}
					<label>Cuerpos en suspensión: </label> {{espermio.get_Cuerpos_en_suspen_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if espermio.Cuerpos_mucosos == None or espermio.Cuerpos_mucosos == '' %}
					<label  style = "color:red;" >Cuerpos mucosos: </label> No se ha ingresado detalle
				{% else %}
					<label>Cuerpos mucosos: </label> {{espermio.get_Cuerpos_mucosos_display}} 
				{% endif %}
			</div>
		</div>

		<div id="microscopico" class="tab-pane fade container">
			
	
			<div class="row container-fluid">
				{% if espermio.Concentracion == None or espermio.Concentracion == '' %}
					<label  style = "color:red;" >Concentración espermática: </label> No se ha ingresado detalle
				{% else %}
					<label>Concentración espermática: </label> {{espermio.Concentracion}} <i>X10⁶/ml</i>
				{% endif %}	
			</div>
			<div class="row container-fluid">
				{% if espermio.Total == None or espermio.Total == '' %}
					<label  style = "color:red;" >Recuento total de espermatozoides: </label> No se ha ingresado detalle
				{% else %}
					<label>Recuento total de espermatozoides: </label> {{espermio.Total}} <i>X10⁶</i>
				{% endif %}	
			</div>
			<div class="row container-fluid">
				{% if espermio.Vitalidad == None or espermio.Vitalidad == '' %}
					<label  style = "color:red;" >Vitalidad: </label> No se ha ingresado detalle
				{% else %}
					<label>Vitalidad: </label> {{espermio.Vitalidad}} <i>%</i>
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if espermio.Celulas_redondas == None or espermio.Celulas_redondas == '' %}
					<label  style = "color:red;" >Células redondas: </label> No se ha ingresado detalle
				{% else %}
					<label>Células redondas: </label> {{espermio.get_Celulas_redondas_display}} <i>X10⁶/ml</i>
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if espermio.Detritus == None or espermio.Detritus == '' %}
					<label  style = "color:red;" >Detritus: </label> No se ha ingresado detalle
				{% else %}
					<label>Detritus: </label> {{espermio.get_Detritus_display}} 
				{% endif %}
			</div>	
			<div class="row container-fluid">
				{% if espermio.Celulas_escamosas == None or espermio.Celulas_escamosas == '' %}
					<label  style = "color:red;" >Células escamosas: </label> No se ha ingresado detalle
				{% else %}
					<label>Células escamosas: </label> {{espermio.get_Celulas_escamosas_display}} 
				{% endif %}
			</div>	
			<div class="row container-fluid">
				{% if espermio.Aglutinacion == None or espermio.Aglutinacion == '' %}
					<label  style = "color:red;" >Aglutinación: </label> No se ha ingresado detalle
				{% else %}
					<label>Aglutinación: </label> {{espermio.get_Aglutinacion_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if espermio.Pseudoaglutinacion == None or espermio.Pseudoaglutinacion == '' %}
					<label  style = "color:red;" >Pseudoaglutinación: </label> No se ha ingresado detalle
				{% else %}
					<label>Pseudoaglutinación: </label> {{espermio.get_Pseudoaglutinacion_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if espermio.Cristales == None or espermio.Cristales == '' %}
					<label  style = "color:red;" >Cristales: </label> No se ha ingresado detalle
				{% else %}
					<label>Cristales: </label> {{espermio.get_Cristales_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if espermio.Mucus == None or espermio.Mucus == '' %}
					<label  style = "color:red;" >Mucus: </label> No se ha ingresado detalle
				{% else %}
					<label>Mucus: </label> {{espermio.get_Mucus_display}} 
				{% endif %}
			</div>
			<div class="row container-fluid">
				{% if espermio.Bacterias == None or espermio.Bacterias == '' %}
					<label  style = "color:red;" >Bacterias: </label> No se ha ingresado detalle
				{% else %}
					<label>Bacterias: </label> {{espermio.get_Bacterias_display}} 
				{% endif %}
			</div>
		</div>

		<div id="motilidad-morfologia" class="tab-pane fade container">
			
			<div class="row container-fluid">
				{% if espermio.Progresivos == None or espermio.Progresivos == '' %}
					<label  style = "color:red;" >Progresivos: </label> No se ha ingresado detalle
				{% else %}
					<label>Progresivos: </label> {{espermio.Progresivos}} <i>%</i> 
				{% endif %}
				
			</div>
			<div class="row container-fluid">
				{% if espermio.No_progresivos == None or espermio.No_progresivos == '' %}
					<label  style = "color:red;" >No progresivos: </label> No se ha ingresado detalle 
				{% else %}
					<label>No progresivos: </label> {{espermio.No_progresivos}} <i>%</i>
				{% endif %}
				
			</div>
			<div class="row container-fluid">
				{% if espermio.Inmoviles == None or espermio.Inmoviles == '' %}
					<label  style = "color:red;" >Inmóviles: </label> No se ha ingresado detalle
				{% else %}
					<label>Inmóviles: </label> {{espermio.Inmoviles}} <i>%</i>
				{% endif %}
				
			</div>
			<div class="row container-fluid">
				{% if espermio.Normales == None or espermio.Normales == '' %}
					<label  style = "color:red;" >Normales: </label> No se ha ingresado detalle
				{% else %}
					<label>Normales: </label> {{espermio.Normales}} <i>%</i>
				{% endif %}
			<div class="row container-fluid">
				{% if espermio.Anormales == None or espermio.Anormales == '' %}
					<label  style = "color:red;" >Anormales: </label> No se ha ingresado detalle
				{% else %}
					<label>Anormales: </label> {{espermio.Anormales}} <i>%</i>
				{% endif %}		
			</div>
			<div class="row container-fluid">
				{% if espermio.Defecto_cabeza == None or espermio.Defecto_cabeza == '' %}
					<label  style = "color:red;" >Defecto cabeza: </label> No se ha ingresado detalle
				{% else %}
					<label>Defecto cabeza: </label> {{espermio.Defecto_cabeza}} 
				{% endif %}		
			</div>
			<div class="row container-fluid">
				{% if espermio.Defecto_pieza == None or espermio.Defecto_pieza == '' %}
					<label  style = "color:red;" >Defecto pieza 1/2: </label> No se ha ingresado detalle
				{% else %}
					<label>Defecto pieza 1/2: </label> {{espermio.Defecto_pieza}} 
				{% endif %}		
			</div>
			<div class="row container-fluid">
				{% if espermio.Defecto_cola == None or espermio.Defecto_cola == '' %}
					<label  style = "color:red;" >Defecto cola: </label> No se ha ingresado detalle
				{% else %}
					<label>Defecto cola: </label> {{espermio.Defecto_cola}} 
				{% endif %}		
			</div>
			<hr/>
			<div class="row container-fluid">
				{% if espermio.TEM == None or espermio.TEM == '' %}
					<label  style = "color:red;" >TOTAL ESPERMATOZOIDES PROGRESIVOS (TEM) en la muestra seminal: </label> No se ha ingresado detalle
				{% else %}
					<label>TOTAL ESPERMATOZOIDES PROGRESIVOS (TEM) en la muestra seminal: </label> {{espermio.TEM}} X10⁶
				{% endif %}		
			</div>

				
			</div>
		</div>
	</div>

	<hr/>
	<div id="refresh-this-div" class="container-fluid">
		{% if espermio.diagnostico_esp_set.all %}		
			<div class="row container-fluid"> 			
				 <label> Diagnóstico</label>
			</div>
			<br/>
				{% for i in espermio.diagnostico_esp_set.all %}
					<div class="row container-fluid"> 
						<i class="fa fa-medkit" aria-hidden="true"></i>&nbsp {{i.get_Diagnostico_display}} &nbsp
						{% if i.Observacion %}
							<label> Observación:</label>	&nbsp {{i.Observacion}} 
						{% endif %}
					</div>
				{% endfor %}
					
		{% else %}
			<font color = "red">No posee diagnóstico</font>
		{% endif %}
	</div>				
</div>



{% endblock %}
