<!-- Herencia -->
{% extends "base_andrologia.html" %}
<!-- Bloque de título -->
{% block title %}Home Andrología{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->

{% block content %}  
<div  class= "row verde">
    
    <div  style="text-align: right" class="col-md-4 col-md-offset-5 container-fluid">
        <h2  class="blanco" ><b>Horas para el día de hoy </b> </h2> 
    </div>
<div  style="padding-top : 5px" class="col-md-3  container-fluid"> <h3>{{hoy|date:"D d, F."}}</h3></div>
<br/>
    
</div>
{% if messages %}
    <div class="container-fluid">
    <br/>
        <ul class="messages">
            {% for msg in messages %}       
            <li>
                <div class="alert alert-{{msg.level_tag}}" role="alert">
            {{msg.message}}
            </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<br/>
<br/> 
 
<!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
<div class="container-fluid">
    <table id="lista" data-toggle="table">
   <thead>
            <tr style="background-color:#b7b7b7">
                <th style="text-align: center">Paciente</th>
                <th style="text-align: center">Tipo examen</th>
                <th style="text-align: center">Hora de llegada</th>
                <th style="text-align: center">Estado hora</th>
                <th style="text-align: center">Opciones</th>
            </tr>
        </thead>
         <tfoot>
            <tr style="background-color:#e4e4e5" >
               <th style="text-align: center">Paciente</th>
                <th style="text-align: center">Tipo examen</th>
                <th style="text-align: center">Hora de llegada</th>
                <th style="text-align: center">Estado hora</th> 
                <th style="text-align: center">Opciones</th>
                
            </tr>
        </tfoot>
        <tbody>
         {% for i in examen %}
            
            <tr>
                <td style="text-align: center">{{i.Paciente}}</td>
                {% if i.Tipo == 'es' %}
                    <td style="background-color:#c9efff ; text-align: center" > {{i.get_Tipo_display}}</td>
                {% elif  i.Tipo == 'se' %}
                    <td style="background-color:#c2fcdd ; text-align: center"> {{i.get_Tipo_display}}</td>
                {% elif i.Tipo == 'so' %}
                    <td style="background-color:#f9fcc2 ;text-align: center">{{i.get_Tipo_display}}</td>
                {% elif i.Tipo == 'iiu' %}
                    <td style="background-color:#fcc2d1; text-align: center">{{i.get_Tipo_display}}</td>
                {%endif%}
                <td style="text-align: center">{{i.Fecha|time}}</td>
                <td style="text-align: center">
                    
                {% if i.Est_hora == "e" %}
                
                    <i class="fa fa-hand-paper-o fa" aria-hidden="true" title = "En espera"></i> <font color = "grey">En espera</font>
                {% elif i.Est_hora == "a" %}
                
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" title = "Atendido"></i> <font color = "green">Atendido</font>
                 {% elif i.Est_hora == "n" %}
                
                   <i class="fa fa-thumbs-o-down" aria-hidden="true" title = "No se presenta"></i> <font color = "red">No se presenta</font> 
            
                {% endif %}

                </td>
                <td style="text-align: center">
                    {% if i.Est_hora == "e" %}
                        
                        {% if i.Tipo == "es" %}
                            <a href="{% url "crear_espermio" i.id %}"><i class="fa fa-user-md" aria-hidden="true" title = "Atender"></i></a>
                        {% elif i.Tipo == "so" %}
                            <a href="{% url "crear_separacion_o" i.id %}"><i class="fa fa-user-md" aria-hidden="true" title = "Atender"></i></a>
                        {% elif i.Tipo == "se" %}
                            <a href="{% url "crear_separacion" i.id %}"><i class="fa fa-user-md"aria-hidden="true" title = "Atender"></i></a>
                        {% elif i.Tipo == "iiu" %}
                            <a href="{% url "crear_inseminacion" i.id %}"><i class="fa fa-user-md" aria-hidden="true" title = "Atender"></i></a>
                        {% endif%}
                            / <a href="{% url "editar_examen" i.id %}"><i class="fa fa-pencil" aria-hidden="true" title = "Editar tipo de examen"></i></a>

                    {% endif %}    
                </td>
            </tr>
          
          {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#lista').DataTable({
            "language":{
                "lengthMenu":"Mostrar _MENU_ registros por página.",
                "zeroRecords": "Lo sentimos, no se han registrado horas para el día de hoy.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No se ha encontrado coincidencia.",
                "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                "search" : "Buscar",
                "LoadingRecords": "Cargando ...",
                "Processing": "Procesando...",
                "SearchPlaceholder": "Comience a teclear...",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente",
                     }

          }

         });
       
    });

</script>

 

     

{% endblock %}