{% extends "base_andrologia.html" %}

{% block title %}Lista de espermiogramas{% endblock %}
{% load staticfiles %}

{% block content %}  
    <div  class= "row verde">
        <div  class="col-md-8 col-md-offset-4">
            <h2 class="blanco" ><b>Lista de separaciones espermáticas en orina realizadas</b></h2>
        </div>
    </div>
{% if messages %}
    <div class="container-fluid">
    <br/>
        <ul class="messages">
            {% for msg in messages %}       
            <li>
                <div class="alert alert-{{msg.level_tag}}" role="alert">
            {{msg.message}}
            </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
    <br/>
    <br/>   
      
    <!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
    <!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
  

<div class="container-fluid">
    <table id="lista" data-toggle="table">
        <thead>
            <tr style="background-color:#b7b7b7">
                <th style="text-align: center">Paciente</th>
                <th style="text-align: center">Identificador</th>
                <th style="text-align: center">Fecha de creación</th>
                <th style="text-align: center">Estado informe</th>
                <th style="text-align: center">Opciones</th>
            </tr>
        </thead>
         <tfoot>
            <tr style="background-color:#e4e4e5">
                <th style="text-align: center">Paciente</th>
                <th style="text-align: center">Identificador</th>
                <th style="text-align: center">Fecha de creación</th>
                <th style="text-align: center">Estado informe</th> 
                <th style="text-align: center">Opciones</th>
                
            </tr>
        </tfoot>
        <tbody>
         {% for i in separacion %}
            {% if i.separacion_o_set.all  %} 
            <tr  >


                <td style="text-align: center">{{i.Paciente.Nombres}} {{i.Paciente.Primer_apellido}} {{i.Paciente.Segundo_apellido}}</td>
                
                {% if i.Paciente.RUN %}
                    <td style="text-align: center"> RUN: {{i.Paciente.RUN}}-{{i.Paciente.DV}}</td>
                {% else %}
                    <td style="text-align: center"> DI: {{i.Paciente.DI}}</td>
                {% endif %}
                
                <td style="text-align: center">{{i.Fecha}}</td>
                <td style="text-align: center">
                    
                    {% if i.Est_informe = 'i' %}
                        <font color = "red"><i title= "Informe incompleto"color="red" class="fa fa-file-o" aria-hidden="true"></i>
                    </font>
                    {% elif i.Est_informe = 'c' %}
                        <font color = "green"><i title= "Informe completo" color="green" class="fa fa-file-text-o" aria-hidden="true"></i>
                    </font>
                    {% endif%}

                    
                     {% if i.separacion_o_set.all.0.diagnostico_so_set.all.0 %}
                        - <font color = "green"><i title="Posee diagnóstico" class="fa fa-stethoscope" aria-hidden="true"></i>
                        </font>
                        
                     {% endif%}



                </td>
                <td style="text-align: center">
              
                       <a title="Ver detalles informe" href="" onclick="return popitup_se('{% url "detalle_separacion_o" i.id %}' )"><i class="fa fa-eye" aria-hidden="true"></i></a> 

                        / <a href="{% url "editar_separacion_o" i.separacion_o_set.all.0.id 1 %}" title= "Editar informe"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                        {% if i.Est_informe = 'c' %}
                           
                            {% if i.separacion_o_set.all.0.diagnostico_so_set.all.0 == null %}
                                / <a href="{% url "generar_diagnostico_se_o" i.separacion_o_set.all.0.id %}" title= "Diagnósticos automático"> <i class="fa fa-stethoscope" aria-hidden="true"></i>
                            {% endif %}

                                 / <a href="{% url "informe_separacion_o" i.separacion_o_set.all.0.id %}" title= "Descargar informe"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        
                        {% endif %}
            
                       
                </td>        
            
    
            </tr>
            {% endif%}
          {% endfor %}
        </tbody>
    </table>

     <hr>
    <div class="container-fluid col-md-12" style="background-color:#f9fcc2;">
        <div class="col-md-2" style="text-align: right; margin-bottom: 10px">
         <h3>Contador</h3>
        </div>
         <div style="text-align: center;" class="col-md-10 ">
       
            <div class="col-md-3" style="text-align: right;margin-top: 15px">
               <h4> Mes anterior:</h4>
            </div>
            <div class="col-md-1" style="text-align: left;margin-top: 25px">
                <b>{{anterior}}</b>
            </div>
            <div class="col-md-2" style="text-align: right;margin-top: 15px">
               <h4> Mes actual:</h4>
            </div>
            <div class="col-md-1" style="text-align: left;margin-top: 25px">
                <b>{{actual}}</b>
            </div>
            <div class="col-md-2" style="text-align: right;margin-top: 15px">
                <h4>Total anual:</h4>
            </div>
            <div class="col-md-1" style="text-align: left;margin-top: 25px">
                 <b>{{anual}}</b>
            </div>
        </div>
        

    </div>

      <hr>
        <br/>
        <br/>
        
</div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#lista').DataTable({
            "language":{
                "lengthMenu":"Mostrar _MENU_ registros por página.",
                "zeroRecords": "Lo sentimos, no se han registrado separaciones espermátcas en orina.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No se ha encontrado coincidencia.",
                "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                "search" : "Buscar",
                "LoadingRecords": "Cargando ...",
                "Processing": "Procesando...",
                "SearchPlaceholder": "Comience a teclear...",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente",
                     }

          }

         });
           
        });

    </script>

 

     

{% endblock %}