
{% extends "base_popup.html" %}
{% block title %}Detalle de pacientes{% endblock %}
{% load staticfiles %}

{% block content %}  
<br/> 
<div  class= "row container-fluid verde">
    <div  class="col-md-3 col-md-offset-1">
        <h3 class="blanco" ><b>Detalle paciente</b></h3>
    </div>
</div>

<div class="container-fluid">
	<div class="row container-fluid">
		<hr/>
			<h4><i class="fa fa-user fa-lg" aria-hidden="true"></i>   &nbsp;&nbsp;    {{paciente.Nombres}} {{paciente.Primer_apellido}} {{paciente.Segundo_apellido}}</h4>
		<hr/> 
	</div>
	
	<div class="row container-fluid">
		<label>Rut: </label> {{paciente.RUN}}-{{paciente.DV}}
	</div>
	<div class="row container-fluid">
		<label>Sexo: </label> {{paciente.get_Sexo_display}}
	<div class="row container-fluid">
		{% if paciente.Conyuge == None or paciente.Conyuge == '' %}
			<label  style = "color:red;" >Conyuge: </label> No se ha ingresado detalle
		{% else %}
			<label>Conyuge: </label> {{paciente.Conyuge}} 
		{% endif %}

	</div>
	<div class="row container-fluid">
		<label>Origen: </label> {{paciente.get_Origen_display}}
	</div>
	<div class="row container-fluid">
		<label>Fecha de nacimiento: </label> {{paciente.Fecha_de_nacimiento}}
	</div>
	<div class="row container-fluid">
		<label>Edad: </label> {{paciente.Edad}}
	</div>

	<div class="row container-fluid">
		{% if paciente.Email == None or paciente.Email == '' %}
			<label  style = "color:red;" >Email: </label> No se ha ingresado detalle
		{% else %}
			<label>Email: </label> {{paciente.Email}} 
		{% endif %}
	</div>
	<div class="row container-fluid">
		{% if paciente.Telefono == None or paciente.Telefono == '' %}
			<label  style = "color:red;" >Telefono: </label> No se ha ingresado detalle
		{% else %}
			<label>Telefono: </label> {{paciente.Codigo}}-{{paciente.Telefono}}
		{% endif %}
	</div>
	<div class="row container-fluid">
		<label>Dirección: </label> {{paciente.Direccion}}
	</div>
	<div class="row container-fluid">
		<label>Ciudad: </label> {{paciente.Ciudad}}
	</div>
</div>	


{% endblock %}


  