{% extends "base_popup.html" %}
{% block title %}Detalle de antecedentes{% endblock %}
{% load staticfiles %}

{% block content %}  
<br/>
<div  class= "row container-fluid verde">
    <div  class="col-md-3 col-md-offset-9">
        <h3 class="blanco" ><b>Detalle antecedentes</b></h3>
    </div>
</div>
<br/>

<div class="container-fluid">
	
	<div class="container-fluid">
		<ul class="nav nav-tabs container-fluid">
		  	<li role="presentation" class="active"><a href="#habitos" data-toggle="tab">1.Hábitos</a></li>
		  	<li role="presentation"><a href="#medicos" data-toggle="tab">2. Médicos</a></li>
		  	<li role="presentation"><a href="#testiculares" data-toggle="tab">3. Testiculares</a></li>
		  		
		</ul>
	</div>
	
	<div class="tab-content container-fluid">
			
		 	<hr/>
			<h4><i class="fa fa-male fa-lg" aria-hidden="true"></i>   &nbsp;&nbsp;    {{habitos.Paciente.Nombres}} {{habitos.Paciente.Primer_apellido}} {{habitos.Paciente.Segundo_apellido}}</h4>
			<hr/> 
		<div id="habitos" class="tab-pane fade in active container">
			
			<div class="row container-fluid">
				<label>Tabaco: </label> {{habitos.get_Tabaco_display}}
			</div>
			<div class="row container-fluid">
				<label>Alcohol: </label> {{habitos.get_Alcohol_display}}
			</div>
			<div class="row container-fluid">
				<label>Marihuana: </label> 
				{% if habitos.Marihuana == False %}
					No
				{% else %}
					Sí
				{% endif %}
			</div>
			<div class="row container-fluid">
				<label>Cocaina: </label> 
				{% if habitos.Cocaina == False %}
					No
				{% else %}
					Sí
				{% endif %}
			</div>
			<div class="row container-fluid">
				<label>Pasta base: </label> 
				{% if habitos.Pasta == False %}
					No
				{% else %}
					Sí
				{% endif %}
			</div>

			<div class="row container-fluid">
				<label>Otras drogas: </label> 
				{% if habitos.Drogas == None or habitos.Drogas == ''  %}
					Ninguna
				{% else %}
					{{habitos.Drogas}}
				{% endif %}
			</div>
			<div class="row container-fluid">
				<label>Exposición a quimicos: </label> 
				{% if habitos.Quimicos == False %}
					No
				{% else %}
					Sí
				{% endif %}
			</div>
			<div class="row container-fluid">
				<label>Exposición a radiación: </label> 
				{% if habitos.Radiacion == False %}
					No
				{% else %}
					Sí
				{% endif %}
			</div>
			<div class="row container-fluid">
				<label>Hijos: </label> 
				{% if habitos.Hijos == False %}
					No
				{% else %}
					Sí
				{% endif %}
			</div>
		</div>

		<div id="medicos" class="tab-pane fade container">
			<div class="row container-fluid">
				<label>Paperas: </label> 
				{% if medicos.Paperas == False %}
					No
				{% else %}
					Sí
				{% endif %}
			</div>
			<div class="row container-fluid">
				<label>Fiebre: </label> 
				{% if medicos.Fiebre == False %}
					No
				{% else %}
					Sí
				{% endif %}

				<label>&nbsp &nbsp Cuándo: </label> 
				{% if medicos.Fiebre_detalle == None or medicos.Fiebre_detalle == ''  %}
					Ninguna
				{% else %}
					{{medicos.Fiebre_detalle}}
				{% endif %}


			</div>
			<div class="row container-fluid">
				<label>Antobióticos: </label> 
				{% if medicos.Antibiotico == False %}
					No
				{% else %}
					Sí
				{% endif %}

				<label>&nbsp &nbsp Cuándo: </label> 
				{% if medicos.Antibiotico_detalle == None or medicos.Antibiotico_detalle == ''  %}
					Ninguna
				{% else %}
					{{medicos.Antibiotico_detalle}}
				{% endif %}

			</div>
			<div class="row container-fluid">
				<label>Medicamentos enf. crónicas: </label> 
				{% if medicos.Enfermedades_cronicas == False %}
					No
				{% else %}
					Sí
				{% endif %}

				<label>&nbsp &nbsp Cuáles: </label> 
				{% if medicos.Enfermedas_detalle == None or medicos.Enfermedades_detalle == ''  %}
					Ninguna
				{% else %}
					{{medicos.Enfermedades_detalle}}
				{% endif %}

			</div>

		</div>

		<div id="testiculares" class="tab-pane fade container">
	
			<div class="row container-fluid">
				<label>Varicocele: </label> 
				{% if testiculares.Varicocele == False %}
					No
				{% else %}
					Sí
				{% endif %}
			</div>
			<div class="row container-fluid">
				<label>Hidrocele: </label> 
				{% if testiculares.Hidrocele == False %}
					No
				{% else %}
					Sí
				{% endif %}
			</div>
			<div class="row container-fluid">
				<label>Criptorquidea: </label> 
				{% if testiculares.Criptorquidea == False %}
					No
				{% else %}
					Sí
				{% endif %}
			</div>
			<div class="row container-fluid">
				<label>Tumores: </label> 
				{% if testiculares.Tumores == False %}
					No
				{% else %}
					Sí
				{% endif %}
			</div>
			<div class="row container-fluid">
				<label>Golpes testiculares: </label> 
				{% if testiculares.Golpes_testiculares == None or testiculares.Golpes_testiculares == ''  %}
					Ninguna
				{% else %}
					{{testiculares.Golpes_testiculares}}
				{% endif %}
			</div>

		</div>

	</div>

		
	
</div>	


{% endblock %}
