{% extends "base.html" %}
{% block title %}Nuevo paciente{% endblock %}
{% block content %}
<form action="/paciente/crear_paciente/" method="POST">{% csrf_token %}
{{ form.as_p}}
 <input type="submit" value="Submit" />
 </form>
 </body>
 {% endblock %}