<!-- Herencia -->
{% extends "base_registro.html" %}
<!-- Bloque de título -->
{% block title %}Selección cuenta{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}
<br/>
<br/>
<div  class= "row verde">
	<div  class="col-md-4 col-md-offset-8">
		<h3 class="blanco" >Seleccione El Tipo De Cuenta</h3>
	</div>
</div>
<br/>
<br/>
    <div class= container>
    	
    	<li><a href="{% url "home_secretaria"  %}">Secretaría</a></li>
    	<li><a href="{% url "home_andrologia"  %}">Usuario de Andrología</a></li>
    </div>  

     

{% endblock %}