<!-- Herencia -->
{% extends "base_secretaria.html" %}
<!-- Bloque de título -->
{% block title %}Home secretaria{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}

    <div class= container>
    	<h1>Hola</h1>
   
    </div>  

     

{% endblock %}