<!-- Herencia -->
{% extends "base_registro.html" %}
<!-- Bloque de título -->
{% block title %}Selección cuenta{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}

    <div class= container>
    	<h1>Seleccionar tipo de cuenta</h1>
    	<li><a href="{% url "home_secretaria"  %}">Secretaría</a></li>
    	<li><a href="{% url "home_andrologia"  %}">Usuario de Andrología</a></li>
    </div>  

     

{% endblock %}