<!-- Herencia -->
{% extends "base_andrologia.html" %}
<!-- Bloque de título -->
{% block title %}Nueva separación{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->
{% block content %}

<!-- Formulario se valida en forms.py/espermio_form -->
<!--Formulario espermiograma, cada pestaña contiene una parte del exanen-->	
					<div  class= "row verde">
						<div  class="col-md-5 col-md-offset-7">
						<h3 class="blanco" >Nueva Separación Espermática En Orina</h3>
						</div>
					</div>
					<br/>
					<br/>
<form  action="/andrologia/crear_separacion_o/" method="POST">{% csrf_token %}
	<div class= "container-fluid" >
	
		<div class="col-md-12">
			<ul class="nav nav-tabs">
		  		<li role="presentation" class="active"><a href="#macroscopico" data-toggle="tab">1. Examen macroscópico</a></li>
		  		<li role="presentation"><a href="#microscopico" data-toggle="tab">2. Examen microscópico</a></li>
		  		<li role="presentation"><a href="#motilidad-morfologia" data-toggle="tab">3. Motilidad y 4. Morfología</a></li>
		  		<li role="presentation"><a href="#post-separacion" data-toggle="tab">5. Examen post-separación</a></li>
			</ul>
		</div>	

	 	<div class="tab-content container-fluid ">
	 		<!-- Contenedor: Examen microscópico -->
	 		<div id="macroscopico" class="tab-pane fade in active container">
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<!--Fila: Valor por referencia -->	
						<div  class= "row">
							<div id="cpestana1" class="form-inline">
				 				<div id="cpestana1" class="col-md-5 ">	
								</div>
								<div id="cpestana1" class="col-md-1 cwhite" >
									
								</div>
				 				<div class="col-md-5 btn">	
								</div>
								<div class="col-md-1 cwhite" >
								
								</div>
				 			</div>
	 					</div>	
				 		<!-- Valor de capor: tiempo de licuefacción y ph -->	
						<div class= "row amensaje">
							<div class="form-inline amensaje">
				 				
				 				<div class="col-md-2 btn">
									<label>Volumen </label> 
								</div>
								<div class="col-md-3 btn">
									{{form.Volumen}} <i>ml</i>
								</div>
							
								<div class="col-md-1 cwhite" >
								</div>
				 			
				 					<div class="col-md-2 btn alabel">
										<label>Bicarbonato</label>
									</div>
									<div class="col-md-3 btn">
										{{form.Bicarbonato}}
									</div>
								
								<div class="col-md-1 cwhite" >
									
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: tiempo de licuefacción y ph -->	
						<div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form.Volumen.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Bicarbonato.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de capos: Volumen y viscosidad -->	
						<div class= "row amensaje">
				 	    	<div class="form-inline amensaje">
				 				
				 					<div class="col-md-2 btn">
										<label>Aspecto</label>
									</div>
									<div class="col-md-3 btn">
										{{form.Aspecto}}

									</div>
								
								<div class="col-md-1 cwhite" >
									
								</div>
				 				
				 					<div class="col-md-2 btn">
										<label>Color</label>
									</div>
									<div class="col-md-3 btn">
										{{form.Color}}
									</div>
								
								<div class="col-md-1 cwhite" style="display: none; ">
									{{form.Info_examen}} 
								</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Volumen y viscosidad -->	
						<div class= "row mensaje">
							
								<div class="col-md-5 btn">
									{{form.Aspecto.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
										{{form.Color.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div> 	
						</div>
				
						
						<!-- Error de campos: Aspecto y Cuerpos gelatinosos -->	
				 	  
						<!-- Valor de capos: Color y Cuerpos en suspención-->
				 	    <div class= "row amensaje">
				 	    	<div class="form-inline amensaje">
				 			
				 				<div class="col-md-2 btn">
									<label>PH</label>
								</div>
								<div class="col-md-3 btn">
									{{form.PH}}
								</div>
								
								<div class="col-md-1 cwhite" >
								</div>
				 				
				 				<div class="col-md-2 btn">
									
								</div>
								<div class="col-md-3 btn">
									
								</div>
							
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Aspecto y Cuerpos gelatinosos --> 
						<div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form.PH.errors}}
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
			</div>
			<!-- Contenedor: Examen macroscópico -->
			<div id="microscopico" class="tab-pane fade container">
						<!-- Fila: Título de examen-->
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						
						<!-- Fila: Valor por referencia-->
						<div class= "row amensaje">
							<div class="form-inline">
				 				<div class="col-sm-5 ">	
								</div>
								<div class="col-sm-1 cwhite" >
									
								</div>
				 				<div class="col-sm-5 btn">	
								</div>
								<div class="col-sm-1 cwhite" >
								
								</div>
				 			</div>
				 		</div>
						<!-- Valor de campos: Concentración espermatica y células redondas-->
						<div class= "row amensaje">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label><b>Concentración espemática</b></label>
								</div>
								<div class="col-md-3 btn">
									{{form.Concentracion}}<i>X10⁶/ml</i>
								</div>
								<div class="col-md-1 cwhite" >
								
								</div>
				 				<div class="col-md-2 btn">
									
								</div>
								<div class="col-md-3 btn">
									
								</div>
								<div class="col-md-1 cwhite" >
									
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de capos: Concentración espermatica y células redondas-->
						<div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form.Concentracion.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de campos: Recuento total y Detritus-->
				 	    <div class= "row amensaje">
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label><b>Recuento total</b></label>
								</div>
								<div class="col-md-3 btn">
									{{form.Total}}<i>X10⁶</i>
								</div>
								<div class="col-md-1 cwhite" >
									
								</div>
				 				<div class="col-md-2 btn">
								
								</div>
								<div class="col-md-3 btn">
								
								</div>
								<div class="col-md-1 cwhite" >
						    	</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Recuento total y Detritus-->
				 	    <div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form.Total.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
								
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de campos: Vitalidad y células escamosas-->
				 	    <div class= "row amensaje"> 
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>VITALIDAD</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Vitalidad}}<i>%</i>
								</div>
								<div class="col-md-1 cwhite" >
								
								</div>
				 				<div class="col-md-2 btn">
							
								</div>
								<div class="col-md-3 btn">
									
								</div>
								<div class="col-md-1 cwhite" >
						   		</div>
				 	     	</div>
				 	    </div>
						<!-- Error de campos: Vitalidad y células escamosas-->
				 	    <div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form.Vitalidad.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
			
			</div>
			<!-- Contenedor: Motilidad y Morfologia-->
			<div id="motilidad-morfologia" class="tab-pane fade container">
						<!-- Título de examen -->
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<!-- Fila: Valor por referencia -->
						<div class= "row amensaje">
							<div class="form-inline amensaje">
				 				<div class="col-sm-5 ">	
								</div>
								<div class="col-sm-1 cgrey" >
									
								</div>
				 				<div class="col-sm-5 btn">	
								</div>
								<div class="col-sm-1 cwhite" >
								
								</div>
				 			</div>
						</div>
						<!-- Valor de campos: Progresivos -->
						<div class= "row amensaje">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Progresivos</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Progresivos}}<i>%</i>
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Defecto cabeza</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Defecto_cabeza}}
								</div>
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Progresivos -->
						<div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form.Progresivos.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Defecto_cabeza.errors}}
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de campos: No progresivos -->
						<div class= "row amensaje">
				 	   		<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>No progresivos</label>
								</div>
								<div class="col-md-3 btn">
									{{form.No_progresivos}}<i>%</i>
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Defecto pieza</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Defecto_pieza}}
								</div>
								<div class="col-md-1 cwhite" >
						    	</div>
				 	    	</div>
						</div>
						<!-- Error de campos: No progresivos -->
						<div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form.No_progresivos.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Defecto_pieza.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de campos: Inmóviles -->
						<div class= "row amensaje">
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Inmóviles</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Inmoviles}}<i>%</i>
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Defecto cola</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Defecto_cola}}
								</div>
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Inmoviles -->
						<div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form.Inmoviles.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Defecto_cola.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>

						<!-- Fila: Valor de referencia -->
						
						<!-- Valor de campos: Normales y defectos cabeza -->
						<div class= "row amensaje">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Normales </label> 
								</div>
								<div class="col-md-3 btn">
									{{form.Normales}} <i>%</i>
								</div>
								<div class="col-md-1 cgrey" >
								</div>
								<div class="col-md-2 btn">
									<label title=" TOTAL ESPERMATOZOIDES PROGRESIVOS (TEM) en la muestra de orina ">TEM</label> 
								</div>
								<div class="col-md-3 btn">
									{{form.TEM}} <i>X10⁶</i>
								</div>
								<div class="col-md-1 cwhite" >
									
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Normales y defectos cabeza -->
						<div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form.Normales.errors}} 
								</div>
								<div class="col-md-1 cgrey" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.TEM.errors}}
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
						<!-- Valor de campos: Anormales y defectos pieza -->
						<div class= "row amensaje">
				 	    	<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Anormales</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Anormales}}<i>%</i>
								</div>
								<div class="col-md-1 cgrey" >
									
								</div>
								<div class="col-md-2 btn">
									<label>Observación</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Observacion}}
								</div>
								<div class="col-md-1 cwhite" >
						   		</div>
				 	    	</div>
				 	    </div>
						<!-- Error de campos: Anormales y defectos pieza -->
				 	    <div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form.Anormales.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									 {{form.Observacion.errors}}
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
			</div>
			<!-- Contenedor: Motilidad y Morfologia-->
			<div id="post-separacion" class="tab-pane fade container">
						<!-- Título de examen -->
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<!-- Fila: Valor por referencia -->
						<div class= "row amensaje">
							<div class="form-inline amensaje">
				 				<div class="col-sm-5 ">	
								</div>
								<div class="col-sm-1 cwhite" >
									
								</div>
				 				<div class="col-sm-5 btn">	
								</div>
								<div class="col-sm-1 cwhite" >
									
								</div>
				 			</div>
						</div>
						<!-- Valor de campos: Progresivos -->
						<div class= "row amensaje">
							<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label>Concentración espermática</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Concentracion_post}}<i>%</i>
								</div>
								<div class="col-md-1 cwhite" >
								
								</div>
				 				<div class="col-md-2 btn">
									<label>Progresivos</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Progresivos_post}} 
								</div>
								<div class="col-md-1 cwite" >
									
						   		</div>
				 	    	</div>
						</div>
						<!-- Error de campos: Progresivos -->
						<div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form.Concentracion_post.errors}} 
								</div>
								<div class="col-md-1 cwhite" >

								</div>
				 				<div class="col-md-5 btn">
									{{form.Progresivos_post.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
									
								</div>
						</div>
						<!-- Valor de campos: No progresivos -->
						<div class= "row amensaje">
				 	   		<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									<label title=" TOTAL ESPERMATOZOIDES PROGRESIVOS (TEM) en la muestra de orina ">TEM</label>
								</div>
								<div class="col-md-3 btn">
									{{form.TEM_post}}<i>X10⁶</i>
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-2 btn">
									<label>No progresivos</label>
								</div>
								<div class="col-md-3 btn">
									{{form.No_progresivos_post}}
								</div>
								<div class="col-md-1 cwhite" >
						    	</div>
				 	    	</div>
						</div>
						<!-- Error de campos: No progresivos -->
						<div class= "row mensaje">

								<div class="col-md-5 btn">
									{{form.TEM_post.errors}} 
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.No_progresivos_post.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>

												<!-- Valor de campos: No progresivos -->
						<div class= "row amensaje">
				 	   		<div class="form-inline amensaje">
				 				<div class="col-md-2 btn">
									
								</div>
								<div class="col-md-3 btn">
									
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-2 btn">
									<label>Inmoviles</label>
								</div>
								<div class="col-md-3 btn">
									{{form.Inmoviles_post}}
								</div>
								<div class="col-md-1 cwhite" >
						    	</div>
				 	    	</div>
						</div>
						<!-- Error de campos: No progresivos -->
						<div class= "row mensaje">

								<div class="col-md-5 btn">
									
								</div>
								<div class="col-md-1 cwhite" >
								</div>
				 				<div class="col-md-5 btn">
									{{form.Inmoviles.errors}} 
								</div>
				 		
								<div class="col-md-1 cwhite" >
								</div>
						</div>
				
						</div>
			</div>
		
	

			<br/>
			<br/>
		
			<div class="row">
				<div class="col-md-2 col-md-offset-10">
		 			<input class="btn btn-default" type="submit" value="Guardar informe" />
		 		</div>
		 	</div>	
		</div>	
	</div>       
	
</form>


{% endblock %}


