<!-- Herencia -->
{% extends "base_andrologia.html" %}
<!-- Bloque de título -->
{% block title %}Home Andrología{% endblock %}
{% load staticfiles %}
<!-- Bloque de contenido -->

{% block content %}  
	
<div  class= "row verde">
    <div  class="col-md-4 col-md-offset-8">
        <h3 class="blanco" >Horas Para El Día De Hoy</h3>
    </div>
</div>
<br/>
<br/> 
 
<!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" /> -->
<div class="container-fluid">
    <table id="lista" data-toggle="table">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Hora de llegada</th>
                <th>Tipo de examen</th>
                <th>Estado hora</th>
                <th>Opciones</th>
            </tr>
        </thead>
         <tfoot>
            <tr>
                <th>Paciente</th>
                <th>Hora de llegada</th>
                <th>Tipo de examen</th>
                <th>Estado hora</th>
                <th>Opciones</th>
            </tr>
        </tfoot>
        <tbody>
         {% for i in examen %}
            
            <tr>
                <td >{{i.Paciente}}</td>
                <td>{{i.Fecha}}</td>
                <td>{{i.get_Tipo_display}}</td> 
                <td>
                    
                {% if i.Est_hora == "e" %}
                
                    <i class="fa fa-hand-paper-o fa" aria-hidden="true" title = "En espera"></i> <font color = "grey">En espera</font>
                {% elif i.Est_hora == "a" %}
                
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" title = "Atendido"></i> <font color = "green">Atendido</font>
                 {% elif i.Est_hora == "n" %}
                
                   <i class="fa fa-thumbs-o-down" aria-hidden="true" title = "No se presenta"></i> <font color = "red">No se presenta</font> 
            
                {% endif %}

                </td>
                <td style="text-align: center">
                    {% if i.Est_hora == "e" %}
                        
                        {% if i.Tipo == "es" %}
                            <a href="{% url "crear_espermio" i.id %}"><i class="fa fa-stethoscope" aria-hidden="true" title = "Atender"></i></a>
                        {% elif i.Tipo == "so" %}
                            <a href="{% url "crear_separacion_o" i.id %}"><i class="fa fa-stethoscope" aria-hidden="true" title = "Atender"></i></a>
                        {% elif i.Tipo == "se" %}
                            <a href="{% url "crear_separacion" i.id %}"><i class="fa fa-stethoscope" aria-hidden="true" title = "Atender"></i></a>
                        {% elif i.Tipo == "iiu" %}
                            <a href="{% url "crear_inseminacion" i.id %}"><i class="fa fa-stethoscope" aria-hidden="true" title = "Atender"></i></a>
                        {% endif%}
                            / <a href="{% url "editar_examen" i.id %}"><i class="fa fa-pencil" aria-hidden="true" title = "Editar tipo de examen"></i></a>

                    {% endif %}    
                </td>
            </tr>
          
          {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#lista').DataTable();
       
    });

</script>

 

     

{% endblock %}