{% extends "base_andrologia.html" %}
{% load static %}
{% block title %}Lista de espermiograma{% endblock %}
{% block content %}
<div  class= "row verde">
	<div  class="col-md-3 col-md-offset-9">
		<h3 class="blanco" >Espermiogramas</h3>
	</div>
</div>
<br/>
<br/>
    <div class= container>
    <div class= row>
     {% for i in espermio %}
        <tr>
            <td>{{i.get_Color_display}}</td>

        </tr>
    </div>    
    </div>  
     {% endfor %}

{% endblock %}